@import '~scss/vars';

.title {
  @include title-font($font-size: 16px);
  margin: 32px 0 12px;

  .more {
    display: none;
    float: right;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    @include moreText();
  }
  .show {
    display: inline-block;
  }
}
