@import '~scss/vars';

.title{
  padding-bottom: 12px;
  line-height: 1.25;
  font-size: $font16;
  font-weight: bold;
  color: $N500;
  .more{
    display: none;
    float: right;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    @include moreText();
  }
  .show{
    display: inline-block;
  }
}
