@import '~scss/vars';

.title{
  padding-top: 24px;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: $title-color;
  &.fixTitle{
    padding-top: 72px;
  }
  .more{
    display: none;
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: $title-color;
    cursor: pointer;
  }
  .show{
    display: inline-block;
  }
}
