@import '~scss/vars';

.topInfo {
  display: inline-block;

  .main {
    margin-bottom: 8px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
    color: $N500;

    > label {
      display: inline-block;
      margin: 0 8px;
      font-weight: normal;
      color: $N75;
    }
  }

  .secondary {
    > label {
      display: inline-block;
      margin-right: 32px;
      line-height: 20px;
      font-size: 12px;
      color: $N65;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.configFile {
  .fileInfo {
    margin-bottom: 20px;
    padding: 46px 0 42px;
    background-color: #f9fafb;
    border-radius: 2px;
    text-align: center;

    .name {
      margin-bottom: 8px;
      line-height: 28px;
      font-size: 14px;
      font-weight: 500;
      color: $N500;
    }

    .time {
      height: 20px;
      font-size: 12px;
      color: $N65;
    }

    .link {
      display: inline-block;
      margin-left: 20px;
      color: $P75;
      cursor: pointer;
    }
  }

  .document {
    margin-top: 20px;
    line-height: 20px;
    font-size: 12px;
    color: $N65;

    .note {
      float: left;
      margin-right: 8px;
      display: inline-block;
      width: 32px;
      height: 20px;
      border-radius: 1px;
      background-color: $N30;
      color: $N100;
      text-align: center;
    }
  }
}

.recentRecord {
  .title {
    margin-bottom: 12px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 500;
    color: $N500;
  }

  .record {
    margin-left: 16px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .status {
    margin-bottom: 12px;
    font-size: 12px;
  }

  .operator {
    margin-bottom: 4px;
    line-height: 20px;
    color: $N300;
  }

  .time {
    margin-bottom: 4px;
    line-height: 20px;
    color: $N75;
  }

  .link {
    text-align: right;
    font-size: 12px;
  }

  .reason {
    margin-bottom: 4px;
    line-height: 20px;
    color: $N75;
  }

  .hideReason {
    display: inline-block;
    width: calc(100% - 52px);
    @include textCut;
    vertical-align: middle;
  }

  .expand,
  .collapse {
    line-height: 20px;
    color: $P75;
    cursor: pointer;
  }

  .collapse {
    display: inline-block;
    margin-top: 8px;
  }
}

.testInstance {
  .title {
    margin-bottom: 12px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 500;
    color: $N500;
  }

  .note {
    line-height: 18px;
    font-size: 12px;
    color: $N75;
  }
}

.versionDetail {
  .operateBtns {
    float: right;
    margin-top: 8px;

    .operation {
      float: right;
      display: inline-block;
      margin-left: 12px;
    }
  }
}

.submitCheck {
  .title {
    margin-bottom: 25px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: $N300;
  }

  li {
    line-height: 20px;
    margin-bottom: 18px;

    .status {
      float: left;
      display: inline-block;
      margin-top: 4px;
      margin-right: 8px;
      width: 12px;
      height: 12px;
      background-color: $N10;
      border-radius: 50%;
    }

    .name {
      display: inline-block;
      margin-right: 8px;
      font-size: 14px;
      color: $N100;
    }

    .description {
      font-size: 12px;
      color: $N65;
    }

    &.start {
      .status {
        width: 8px;
        height: 8px;
        background-color: $N0;
        border: 2px solid $N300;
        border-left-color: $N0;
        animation: rotate 1s infinite linear;
      }
    }

    &.info {
      .status {
        background-color: $Y65;
      }
      .name {
        color: $Y300;
      }
    }

    &.success {
      .status {
        background-color: $G65;
      }
      .name {
        color: $N500;
      }
    }
  }

  .operateBtns {
    margin: 30px 0 10px;
    text-align: right;
    button {
      margin-left: 12px;
    }
  }
}
