@import '~scss/vars';

$padding-left: 24px;

.modal {
  position: relative;
  width: 744px;
  max-height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 3px;
  background-color: $N0;
  outline: none;
  overflow: auto;

  .header {
    position: relative;
    padding: 20px $padding-left;
    //border-bottom: 1px solid $N10;
    .title {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 500;
      color: $N500;
    }
    :global {
      .icon-close {
        position: absolute;
        top: 32px;
        right: 22px;
        cursor: pointer;
      }
    }
  }

  .body {
    padding: 5px $padding-left;
  }

  .footer {
    padding: 32px $padding-left;
    //border-top: 1px solid $N10;
    text-align: right;
    .operationBtn{
      margin-left: 192px;
      text-align: left;
    }
    button {
      margin-right: 12px;
      &:last-of-type {
        margin-right: 0;
      }
    }

  }

  //form {
  //  & > div {
  //    margin-bottom: 24px;
  //
  //    & > label {
  //      display: inline-block;
  //      float: left;
  //      margin-right:  24px;
  //      width: 168px;
  //      line-height: 32px;
  //      font-size: 14px;
  //      font-weight: 500;
  //      text-align: right;
  //      color: $N500;
  //    }
  //
  //    & > input {
  //      width: 256px;
  //    }
  //
  //    & > select {
  //      width: 256px;
  //    }
  //  }
  //}
}


