@import '~scss/vars';

.appInfo {
  .note {
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 12px;
    color: $N75;

    label {
      display: inline-block;
      box-sizing: border-box;
      margin-right: 4px;
      height: 20px;
      padding: 4px;
      line-height: 12px;
      background: $N30;
    }
  }

  .auditNote {
    margin-bottom: 8px;
  }
}

.createForm {
  margin: 24px 24px 24px 50px;
  .item {
    margin-bottom: 32px;
    clear: both;

    > input {
      width: 400px;
    }

    > textarea {
      width: 400px;
    }

    > select {
      width: 200px;
    }
  }

  .name {
    float: left;
    width: 250px;
    margin-right: 20px;

    > label {
      margin-bottom: 4px;
      line-height: 28px;
      font-size: 14px;
      font-weight: 500;
      color: $N500;
    }

    .noteWord {
      margin-bottom: 32px;
      line-height: 20px;
      font-size: 12px;
      color: $N75;
    }
  }

  .selectIcon {
    display: inline-block;
    width: 96px;
    height: 96px;
    border-radius: 2px;
    background-color: $background-color;
    cursor: pointer;
    line-height: 96px;
    font-size: 12px;
    color: $P75;
    text-align: center;
    opacity: 1;
  }

  .iconShow {
    position: relative;
    display: inline-block;
    width: 96px;
    height: 96px;
    line-height: 96px;
    text-align: center;

    &:hover {
      >img {
        opacity: 0.4;
        -webkit-filter: blur(3px);
        filter: blur(3px);
      }
      .delete{
        display: inline-block;
        cursor: pointer;
      }
    }

    >img{
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }

    .delete{
      display: none;
      position: absolute;
      left: 35px;
      font-size: 12px;
      color: $P75;
      opacity: 2.5;
    }
  }

  .operateBtns {
    margin-left: 270px;

    > button {
      margin-right: 12px;
    }
  }

  .error {
    position: relative;

    input {
      border-color: $R300;
    }

    .errorInfo {
      position: absolute;
      top: 36px;
      left: 270px;
      line-height: 20px;
      font-size: 12px;
      color: $R300;
    }
  }
}

.screenshot {
  margin-left: 270px;
  width: 512px;
  padding: 20px 0 20px 20px;
  border-radius: 2px;
  background-color: $background-color;
  overflow: hidden;

  .pictrues {
    // margin-bottom: 20px;
    // width: 1150px;
    li {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 144px;
      height: 90px;
      line-height: 90px;
      background-color: $N0;
      text-align: center;
    }
  }

  .words {
    font-size: 12px;
    color: $N75;

    .selectFile {
      display: inline-block;
      margin: 0 12px;
      color: $P75;
      cursor: pointer;
    }

    .deleteAll {
      color: $P75;
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.textareaOuter {
  .markdownNote {
    margin-bottom: 28px;
    @include note-font($line-height: 32px);
  }

  .buttons {
    float: right;

    button {
      margin-left: 12px;
    }
  }

  > textarea {
    padding: 0;
    width: 100%;
    min-height: 400px;
    border: 0 none;
    box-shadow: none;
    line-height: 24px;
    font-size: 12px;
    color: $N300;

    &::placeholder {
      color: $N30;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .previewInfo {
    line-height: 24px;
    font-size: 12px;
    color: $N300;
  }
}
