@import '~scss/vars';

$login-bg: linear-gradient(305deg, $P75, #854fb9 32%, #484999);
$login-form-bg: #ffffff;
$login-form-shadow: 0 4px 35px 0 rgba(48, 14, 86, 0.3);
$login-submit-bg: linear-gradient(to left, #f1ac0e, #e68c22);
$login-submit-hover-bg: linear-gradient(to left, #f0b40e, #e69122);
$login-submit-active-bg: linear-gradient(to left, #f0b40e, #e69122);
$login-placeholder: #c9bed6;

$input-item-width: 320px;
$input-item-height: 48px;

.login {
  min-height: 100vh;
  padding-bottom: 50px;
  background-image: $login-bg;
}

.loginContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginTitle {
  display: block;
  text-align: center;
 // padding-top: 249.6px;
}

.loginForm {
  width: 410px;
  margin: 40px auto 0;
  padding: 48px 45px;
  text-align: center;
  border-radius: 8px;
  background-color: $login-form-bg;
  box-shadow: $login-form-shadow;
  h1 {
    margin-bottom: 24px;
    color: $title-color;
    font-size: 24px;
    font-weight: 500;
  }
  .formItem {
    text-align: left;
    &:nth-of-type(1) {
      margin-bottom: 12px;
    }
    &:nth-of-type(2) {
      margin-bottom: 22px;
    }
    &:nth-of-type(3) {
      margin-bottom: 24px;
    }
    &:nth-of-type(4) {
      margin-bottom: 0;
    }
  }

  .formInput {
    //i {
    //  font-size: 18px;
    //  left: 28px;
    //  color: $login-placeholder;
    //}
    :global {
      .icon {
       /* position: relative;
        left: 20px;
        top: 40px;*/
        opacity: .5;
        left: 24px;
      }
    }

    input {
      width: $input-item-width;
      height: $input-item-height;
      padding: 15px 15px 15px 52px;
      border: 1px solid $N30;
      border-radius: 24px;
      box-shadow: none;
      font-size: $size-medium;
      opacity: 1;
      color: $N500;
      transition: all .3s ease-in-out;
      &::placeholder {
        color: $N45;
        opacity: 1;
        font-weight: normal;
        font-size: $size-medium;
      }
    }
    &:hover {
      input {
        box-shadow: 0 2px 2px 0 rgba(48,14,86,0.06), 0 4px 8px 0 rgba(48,14,86,0.10);
        border: 1px solid $P75;
        color: $N500;
      }
    }
  }
  .checkbox {
    color: $N500;
    margin-bottom: 0;
  }
}

.submitBtn {
  width: $input-item-width;
  height: $input-item-height;
  padding: 14px 0;
  border-radius: 24px;
  border: none !important;
  color: #fff !important;
  font-size: 18px;
  font-weight: 500;
  background-image: $login-submit-bg;
  &:hover {
    background-image: $login-submit-hover-bg;
  }
  &:active {
    background-image: $login-submit-active-bg;
  }
}

.tip {
  margin-top: 24px;
  text-align: center;
  span {
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
  }
  a {
    margin-left: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
}
