@import '~scss/vars';

$login-bg: radial-gradient(circle at 13% 0, $P75, #343945);
$login-form-bg: #ffffff;
$login-form-shadow: 0 4px 35px 0 rgba(35, 35, 36, 0.4);
$login-submit-bg: $P75;
$login-submit-hover-bg: $P75;
$login-submit-active-bg: $P75;
$login-placeholder: #c9bed6;

$input-item-width: 320px;
$input-item-height: 48px;

.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgContainer {
  background-image: $login-bg;
  flex: 1;
  min-height: 100vh;
  color: $N0;
}
.logo {
  padding: 16px 48px;
}

.loginContent {
  flex: 1;
  .submitBtn {
    width: $input-item-width;
    height: $input-item-height;
    padding: 14px 0;
    border-radius: 2px;
    border: none !important;
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
  }
}
.loginTitle {
  display: block;
  text-align: center;
}

.loginForm {
  max-width: 410px;
  margin: 0 auto;
  .welcome {
    color: $N75;
  }

  h1 {
    margin-top: 16px;
    margin-bottom: 32px;
    color: $title-color;
    @include title-font(36px, 32px);
  }
  .formInput {
    :global {
      .icon {
        left: 16px;
      }

      input {
        width: $input-item-width;
        height: $input-item-height;
        padding: 15px 15px 15px 44px;
        border-radius: 3px;
        font-size: $size-medium;
        opacity: 1;
        color: $N500;
        transition: all 0.3s ease-in-out;
      }
      input:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0px 9999px $N0;
      }
    }
    &.error {
      input {
        background: $R10;
        color: $R300;
      }
      input:-webkit-autofill {
        -webkit-text-fill-color: $R300;
        -webkit-box-shadow: inset 0 0 0px 9999px $R10;
      }
      :global {
        .qicon {
          --primary-color: #{$R300};
          --secondary-color: #{$R45};
        }
      }
    }
  }
}
