@import '~scss/vars';

$login-bg: linear-gradient(305deg, $P75, #854fb9 32%, #484999);
$login-form-bg: #ffffff;
$login-form-shadow: 0 4px 35px 0 rgba(35, 35, 36, 0.4);
$login-submit-bg: linear-gradient(to left, #f1ac0e, #e68c22);
$login-submit-hover-bg: linear-gradient(to left, #f0b40e, #e69122);
$login-submit-active-bg: linear-gradient(to left, #f0b40e, #e69122);
$login-placeholder: #c9bed6;

$input-item-width: 320px;
$input-item-height: 48px;

.login {
  min-height: 100vh;
  padding-bottom: 50px;
  background-image: $login-bg;
}

.loginContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .submitBtn {
    width: $input-item-width;
    height: $input-item-height;
    padding: 14px 0;
    border-radius: 24px;
    border: none !important;
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
    background-image: $login-submit-bg;
    &:hover {
      background-image: $login-submit-hover-bg;
    }
    &:active {
      background-image: $login-submit-active-bg;
    }
  }
}
.loginTitle {
  display: block;
  text-align: center;
  // padding-top: 249.6px;
}

.loginForm {
  position: relative;
  width: 410px;
  margin: 40px auto 0;
  padding: 48px 45px;
  text-align: center;
  border-radius: 8px;
  background-color: $login-form-bg;
  box-shadow: $login-form-shadow;

  .notify {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: left;

    .notifyItem {
      //width: 240px;
      min-width: 240px;
    }
  }

  h1 {
    margin-bottom: 24px;
    color: $title-color;
    font-size: 24px;
    font-weight: 500;
  }
  .formInput {
    :global {
      .icon {
        opacity: 0.5;
        left: 24px;
      }

      input {
        width: $input-item-width;
        height: $input-item-height;
        padding: 15px 15px 15px 52px;
        border-radius: 24px;
        font-size: $size-medium;
        opacity: 1;
        color: $N500;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.tip {
  margin-top: 24px;
  text-align: center;
  span {
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
  }
  a {
    margin-left: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
}
