@import '~scss/vars';

.pageTitle{
  height: 24px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: $N500;
}

.page {
  .leftPanel {

  }
  .rightPanel {

  }
  .cates {
    border-right: 1px solid $N10;
    .provider {
      height: 40px;
      padding-left: 12px;
      cursor: pointer;

      &.active, &:hover {
        box-shadow: 0 1px 0 0 $N10, 0 -1px 0 0 $N10;
        background-color: $N0;
      }
      &.disabled {
        opacity: 0.5;
        cursor: default;
        box-shadow: none;
        background-color: transparent;
      }

      span {
        display: inline-block;
        padding: 12px 0 !important;
        vertical-align: middle;

        &.proName {
          font-size: $size-small;
          margin-left: 8px;
        }
        &.proCount {
          font-size: $size-small;
          float: right;
          margin-right: 23px;
        }
      }
    }
  }
}


.categories{
  text-align: center;
  padding: 12px 24px;

  .line{
    display: inline-block;
    width: 330px;
    height: 1px;
    border-bottom: 1px solid $N30;
  }

  .word{
    display: inline-block;
    position: relative;
    bottom: 10px;
    padding: 0 7px;
    line-height:20px;
    font-size: 12px;
    color: $N100;
    background: $background-color;
  }
}

.categoryContent {
  display: inline-block;
  position: relative;
  width: calc(33.333% - 16px);
  margin: 0 24px 24px 0;

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  .handlePop {
    position: absolute;
    right: 24px;
    top: 24px;

    :global {
      .pi-popover-popper {
         margin-left: -90px !important;
       }
    }
  }

  .rectangle{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    height: 140px;
    background-color: $N0;
    box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);

    .title a{
      display: block;
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: $N500;
      @include textCut;
    }

    &:hover {
      .title a {
        color: $P75;
      }
    }
  }
}

.unCategorized{
  width: 100%;
}




