@import '~scss/vars';

.page {
  .summary {
    margin-bottom: 22px;
  }
  .topActions{
    margin-bottom: 16px;
    font-size: $size-small;
    .choosen {
      color: $N75;
    }
    .name {
      color: $N500;
      font-weight: 500;
    }
    .actions {
      display: inline-block;
      margin-left: 20px;
      &>span {
        color: $P75;
        cursor: pointer;
        margin-right: 12px;
      }
    }
  }
  .cates {
    border-right: 1px solid $N10;
    .item {
      font-size: $size-small;
      height: 40px;
      //padding-left: 12px;
      cursor: pointer;
      color: $N300;

      &.active, &:hover {
        box-shadow: 0 1px 0 0 $N10, 0 -1px 0 0 $N10;
        background-color: $N0;
        color: $P75;
        font-weight: 500;
      }
      &.disabled {
        opacity: 0.5;
        cursor: default;
        box-shadow: none;
        background-color: transparent;
      }

      span {
        display: inline-block;
        padding: 12px 0 !important;
        vertical-align: middle;

        &.name {
          font-size: $size-small;
          margin-left: 8px;
        }
        &.count {
          font-size: $size-small;
          float: right;
          margin-right: 23px;
        }
      }
    }
    .btnAdd {
      font-size: $size-normal;
      color: $P75;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
      svg {
        vertical-align: bottom;
        --primary-color: #{$P75};
        --secondary-color: #{$P75};
      }
    }
  }

  .chosenCateNames {
    margin: 0 5px;
  }
}

.selectCateToAdjust{
  margin-top: 20px;
}

.addAppTips{
  font-size: $size-small;
  color: $N300;
  margin-bottom: 12px;
  &> span {
    color: $N500;
    font-weight: 500;
  }
}

.fmCtrl {
  padding-left: 35px;
  margin-bottom: 30px;
  font-size: $size-small;
  .label {
    display: inline-block;
    margin-right: 20px;
    font-weight: 500;
    color: $N500;
  }
  .name {
    min-width: 256px;
  }
  &>div {
    display: inline-block;
  }
  .icons {
    position: relative;
    margin-left: 40px;
    margin-top: -15px;
    .icon {
      margin-right: 12px;
      cursor: pointer;
      opacity: 0.5;

      &:hover, &.active {
        opacity: 1;
        svg {
          --primary-color: #{$P300};
          --secondary-color: #{$P45};
        }
      }
    }
  }
}

.dialogFooter{
  margin-left: 75px;
  text-align: left !important;
}
