@import '~scss/vars';

.progress {
  display: inline-block;
  position: relative;
  bottom: 0;
  margin-left: 5%;
  width: 76%;
  height: 8px;
  background-color: $P10;
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 7px;
    cursor: pointer;
    &:nth-child(1) {
      background-color: $P500;
    }
    &:nth-child(2) {
      background-color: $P200;
    }
    &:nth-child(3) {
      background-color: $P75;
    }
    &:nth-child(4) {
      background-color: $P45;
    }
    &:nth-child(5) {
      background-color: $P10;
    }
    &:hover .tips {
      display: inline-block;
    }
  }
  .tips {
    position: relative;
    bottom: 56px;
    display: none;
    min-width: 110px;
    height: 50px;
    padding: 8px 12px 10px;
    border-radius: 2px;
    background-color: $N500;
    box-shadow: 0 2px 4px 0 rgba(71, 78, 93, 0.2);
    .arrow {
      position: absolute;
      bottom: -3px;
      left: 10px;
      border-top: 4px solid $N500;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
    }
    .number {
      margin-bottom: 4px;
      line-height: 14px;
      font-size: 12px;
      font-weight: 500;
      color: $N0;
    }
    .name {
      max-width: 90px;
      line-height: 14px;
      font-size: 12px;
      color: $N65;
      @include textCut;
    }
  }
}
