@import '~scss/vars';

.repoList {
  display: inline-block;
  margin: 0 12px;
  width: 312px;
  text-align: left;

  .title {
    margin-bottom: 8px;
    font-size: 12px;
    color: $N100;
  }

  ul {
    height: 272px;
    overflow-y: auto;
  }

  li {
    box-sizing: border-box;
    margin-bottom: 8px;
    width: 312px;
    height: 60px;
    padding: 18px 16px;
    border-radius: 2px;
    background-color: $N10;
    border: solid 1px $N30;
    cursor: pointer;

    .word {
      display: inline-block;
      margin: 4px 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: $N500;
    }

    :global {
      .icon {
        float: left;
        margin-right: 12px;
      }
    }

    &.active {
      border-color: $P75;
    }
  }

  .explain {
    font-size: 12px;
    line-height: 20px;
    color: $N100;
  }
}

.publicBg {
  li {
    background-color: $N0;
  }
}
