@import "~scss/vars";

@mixin load-frames() {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@-webkit-keyframes load {@include load-frames;}
@keyframes load {@include load-frames;}

.createVersion{
  width: 100%;
  margin-top: 72px;
  text-align: center;

  .stepName{
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 24px;
    color: $N300;
  }

  .stepExplain{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    color: $N500;
  }

  .stepOperate{
    display: inline-block;
    margin-top: 80px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $P75;
    cursor: pointer;
    &.noClick{
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .upload{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 8px;
    width: 552px;
    height: 120px;
    padding: 36px 24px 36px 100px;
    border-radius: 2px;
    background-color: $N0;
    border: dashed 1px $N30;
    text-align: left;
    cursor: pointer;

    .word{
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 24px;
      color: $N300;
    }

    .note{
      font-size: 12px;
      line-height: 20px;
      color: $N100;
    }

    :global{
      .icon{
        float: left;
        margin-right: 12px;
      }
    }
  }

  .uploading{
    opacity: 0.3;
    cursor: not-allowed;
    .loading{
      position: absolute;
      top: 28px;
      left: 244px;
      z-index: 2;
      width: 64px;
      height: 64px;
      border-radius:50%;
      &:after {
        width: 64px;
        height: 64px;
        border-radius:50%;
      }
      border-top: 2px solid $P300;
      border-right: 2px solid  $P300;
      border-bottom: 2px solid $P10;
      border-left: 2px solid $P10;
      animation:load 1s infinite linear;
      opacity: 3.33;
    }
  }

  .errorNote{
    display: inline-block;
    box-sizing: border-box;
    width: 552px;
    height: 40px;
    padding: 7px 15px;
    font-size: 14px;
    line-height: 24px;
    color: $R300;
    border-radius: 2px;
    background-color: $R10;
    box-shadow: 0 2px 4px 0 rgba(178, 42, 38, 0.1);
    border: solid 1px $R45;
    text-align: left;

    :global{
      .icon{
        float: left;
        margin-right: 12px;
        svg {
          --primary-color: #{$N0};
          --secondary-color: #{$R300};
        }
      }
    }
  }

  .checkImg{
    margin: 48px 0 40px;
    >label{
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $G300;
      :global{
        svg {
          --primary-color: #{$N0};
          --secondary-color: #{$N0};
        }
      }
    }
  }

  .operateBtn{
    margin-bottom: 12px;
    button{
      margin: 0 6px;
    }
  }

  .operateWord{
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
    color: $N100;
    .link{
      color: $P75;
      cursor: pointer;
    }
  }
}
