@import "~scss/variables";

.totalCard {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 24px 24px 0;
  padding: 20px;
  width: 168px;
  height: 120px;
  text-align: right;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  &:last-child {
    margin-right: 0;
  }
  .name {
    height: 24px;
    font-size: 14px;
    color: $purple-name;
  }
  img {
    float: left;
  }
  .number {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.0;
    color: $title-color;
  }
}


