@import "~scss/vars";

.totalCard {
  box-sizing: border-box;
  padding: 20px;
  height: 120px;
  text-align: right;
  //border-radius: 3px;
  //background-color: $N0;
  //box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;

  :global{
    .icon{
      float: left;
    }
  }
  &:last-child {
    margin-right: 0;
  }
  .name {
    line-height: 32px;
    font-size: 14px;
    color: $P75;
  }
  .number {
    margin-top: 4px;
    font-size: $font40;
    font-weight: 500;
    line-height: 1.1;
    color: $N500;
  }
}


