@import '~scss/vars';

.audits {
  max-width: 950px;
  margin: 0 auto;

  .title {
    margin: 18px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: $N500;
  }

  .types {
    margin-bottom: 16px;

    > label {
      display: inline-block;
      padding: 9px 12px;
      border-radius: 2px;
      background-color: $N0;
      border: 1px solid $N10;
      font-size: 14px;
      line-height: 14px;
      color: $N300;
      cursor: pointer;

      &.active {
        color: $P75;
        border-color: $P75;
      }
    }
  }

  .version {
    .name {
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      color: $N500;
      cursor: pointer;
    }

    .icon {
      float: left;
      svg {
        --primary-color: #{$N300};
        --secondary-color: #{$N300};
      }
    }
  }
}

.auditRecords {
  margin-bottom: 24px;

  li {
    box-sizing: border-box;
    min-height: 48px;
    padding: 14px 24px;
    line-height: 20px;
    border-bottom: 1px solid $N10;
    font-size: 12px;

    &:hover, &.active {
      background-color: $N0;
    }

    > label {
      display: inline-block;
      float: left;
      height: 20px;
      color: $N75;
    }
  }

  .status {
    width: 20%;
  }

  .operator {
    width: 20%;
    color: $N300;
  }

  .reason {
    width: 45%;
  }

  .time {
    width: 15%;
    text-align: right;
  }

  .hideReason {
    display: inline-block;
    width: calc(100% - 70px);
    @include textCut;
    vertical-align: middle;
  }

  .showReason {
    display: inline-block;
    margin-top: 12px;
    margin-left: 40%;
    width: 43%;
  }

  .expand,
  .collapse {
    line-height: 20px;
    color: $P75;
    cursor: pointer;
  }

  .collapse {
    display: inline-block;
    margin-top: 8px;
  }
}
