@import '~scss/vars';

.audits {
  max-width: 950px;
  margin: 0 auto;

  .title {
    margin: 18px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: $N500;
  }

  .types {
    margin-bottom: 16px;

    > label {
      display: inline-block;
      padding: 9px 12px;
      background-color: $N0;
      border: 1px solid $N10;
      font-size: 14px;
      line-height: 14px;
      color: $N300;
      cursor: pointer;

      &:first-child {
        border-radius: 2px 0 0 2px;
      }

      &:last-child {
        border-radius: 0 2px 2px 0;
      }

      &.active {
        color: $P75;
        border-color: $P75;
      }
    }
  }

  .version {
    .name {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 28px;
      color: $N300;
      cursor: pointer;

      &.boldName {
        font-weight: 500;
        color: $N500;
      }
    }

    .icon {
      float: left;
      margin-top: 3px;
      margin-right: 4px;
      svg {
        --primary-color: #{$N300};
        --secondary-color: #{$N300};
      }
    }

    table {
      margin-bottom: 24px;
    }
  }
}

.auditRecords {
  margin-bottom: 24px;

  li {
    box-sizing: border-box;
    min-height: 48px;
    padding: 14px 24px;
    line-height: 20px;
    border-bottom: 1px solid $N10;
    font-size: 12px;

    &:first-child {
      box-sizing: border-box;
      min-height: 32px;
      padding: 9px 24px;
      border-top: 1px solid $N10;

      &:hover,
      &.active {
        background-color: $background-color;
      }

      > label {
        line-height: 12px;
        height: 12px;
      }

      .operator {
        color: $N75;
      }
    }

    &:hover,
    &.active {
      background-color: $N0;
    }

    > label {
      display: inline-block;
      float: left;
      height: 20px;
      color: $N75;
    }
  }

  .status {
    width: 18%;
  }

  .operator {
    margin-right: 2%;
    width: 20%;
    color: $N300;
  }

  .reason {
    width: 38%;
  }

  .time {
    width: 18%;
    margin-left: 4%;
  }

  .hideReason {
    display: inline-block;
    width: calc(100% - 70px);
    @include textCut;
    vertical-align: middle;
  }

  .showReason {
    display: inline-block;
    margin-top: 12px;
    margin-left: 40%;
    width: 38%;
  }

  .expand,
  .collapse {
    line-height: 20px;
    color: $P75;
    cursor: pointer;
  }

  .collapse {
    display: inline-block;
    margin-top: 8px;
  }
}

.reasonShow {
  @include textCut;
  max-width: 300px;
}
