@import '~scss/variables';

.versionList{
  li{
    box-sizing: border-box;
    height: 64px;
    padding: 14px 8px;
    color: $purple-word;
    border-bottom: 1px solid $border-lighter;
    font-size: 14px;
  }
  .column{
    display: inline-block;
    width:120px;
    text-align: left;
    &:last-child{
      float: right;
      margin-top: 10px;
      width: 70px;
      text-align: center;
      i{
        font-size: 20px;
        color: $title-color;
      }
    }
    .version{
      line-height: 20px;
      font-size: 16px;
      font-weight: 500;
      color: $purple-word;
      width: 115px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .number{
      line-height: 16px;
      font-size: 14px;
      color: $purple-word;
    }
    .word{
      width: 115px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 12px;
      line-height: 1.0;
      text-align: left;
      color: $grey-word;
    }
  }
}
