@import '~scss/vars';

.modalContent {
  .noteWord {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .operation {
    text-align: center;
    button {
      margin: 0 6px;
    }
  }
}

.creator {
  max-width: 170px;
}

.appTdShow {
  .appImage {
    display: inline-block;
    float: left;
    width: 16px;
    height: 16px;
  }

  .appName {
    display: inline-block;
    margin: 0 8px;
    font-weight: 500;
    color: $N300;
  }

  .versionName {
    display: inline-block;
    margin-left: 8px;
    color: $N75;
  }
}

.tabs {
  background: none;
  border: none;
  margin-bottom: 16px;
}

.runtimeName {
  max-width: 250px;
}
