@import '~scss/vars';

.group {
  display: inline-block;
  .radio {
    margin-right: 23px;
  }

  .radioButton {
    margin: 0;
  }
}

.radio {
  .circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: solid 1px $N30;
    border-radius: 50%;
    box-sizing: border-box;
  }
  .text {
    margin-left: 6px;
    line-height: 16px;
    color: $text-color;
  }
  &.checked {
    .circle {
      border: solid 4px $P100;
    }
  }
}

.radioButton {
  .circle {
    display: none;
  }

  .text {
    display: inline-block;
    color: $N300;
    padding: 9px 10px;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 0;
    cursor: pointer;
  }

  &.checked {
    .text {
      color: $N300;
      border-color: $border;
      box-shadow: none;
      background-color: $background-color;
    }
  }
}
