@import '~scss/vars';

.group {
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
  .radio {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .radioButton {
    margin: 0;
  }
}

.radio {
  .circle {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1px;
    width: 14px;
    height: 14px;
    background-color: $N0;
    border: solid 1px $N30;
    border-radius: 50%;
  }
  .text {
    float: left;
    margin-left: 4px;
    line-height: 16px;
    color: $N300;
  }
  &:hover{
    .circle {
      background-color: $N10;
      border-color: $N30;
    }
  }
  &:active{
    .circle {
      border-color: $P100 !important;
    }
  }
  &.checked {
    .circle {
      border: solid 4px $P75;
    }
    &:hover{
      .circle {
        border-color: $P65;
      }
    }
    &:active{
      .circle {
        border-color: $P100 !important;
      }
    }
  }
}
.radio[disabled] {
  .circle {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .text {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover{
    .circle {
      background-color: $N0;
      border-color: $N30;
    }
  }
  &:active{
    .circle {
      border-color: $N30 !important;
    }
  }
  &.checked {
    .circle {
      border: solid 4px $P75;
    }
    &:hover{
      .circle {
        border-color: $P75;
      }
    }
    &:active{
      .circle {
        border-color: $P75 !important;
      }
    }
  }
}

.radioButton {
  .circle {
    display: none;
  }

  .text {
    display: inline-block;
    color: $N300;
    padding: 9px 10px;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 0;
    cursor: pointer;
  }

  &.checked {
    .text {
      color: $N300;
      border-color: $border;
      box-shadow: none;
      background-color: $background-color;
    }
  }
}
