@import "~scss/vars";

.tabs {
  position: fixed;
  top: 48px;
  z-index: 10;
  height: 48px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  .tabsList {
    width: $content-width;
    margin: 0 auto;
    overflow: hidden;
    li {
      display: inline-block;
      margin: 0 12px;
      line-height: 48px;
      list-style: none;
      a {
        display: inline-block;
        height: 48px;
        font-size: $body-size;
        font-weight: 500;
        color: $N300;
        &.active{
          border-bottom: 2px solid $P75;
          color: $P75;
        }
        &:hover{
          color: $P75;
        }
      }
    }
  }
}
