@import '~scss/vars';

.input {
  width: 100%;
  box-sizing: border-box;
  height: 32px;
  padding: 7px 10px;
  line-height: 16px;
  border-radius: 2px;
  background-color: $N0;
  border: solid 1px $N30;
  color: $text-color;
  caret-color: #979797;
  transition: all .3s ease-in-out;
  &::placeholder {
    color: $N45;
  }
  &:focus {
    outline: none;
    border: solid 1px $P75;
    box-shadow: 0 1px 2px 0 rgba(109, 53, 195, 0.15);
  }
}

.inputGroup {
  position: relative;

  :global {
    .icon {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
    .icon-close {
      position: absolute;
      left: auto;
      right: 12px;
      top: 50%;
      transform: translateY(-50%) scale(0.6);
      cursor: pointer;
    }
  }

  input {
    padding: 8px 8px 8px 36px;
  }
}
