@import '~scss/variables';

.input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px $border;
  color: $text-color;
  caret-color: #979797;
  line-height: 16px;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  &:focus {
    outline: none;
    border: solid 1px $third-text-color;
    box-shadow: 0 1px 2px 0 rgba(102, 38, 175, 0.1);
  }
}

.search {
  position: relative;
  width: 360px;
  height: 32px;
  padding-left: 44px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(48, 14, 86, 0.08);
  border: solid 1px $border-light;
  :global {
    .fa {
      opacity: 0.9;
      color: $third-text-color;
    }
    .fa-search {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
    .fa-times {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-weight: 500;
    background-color: transparent;
    color: $third-text-color;
    opacity: 0.7;
    &::placeholder {
      color: $third-text-color;
      opacity: 0.7;
      font-weight: 500;
    }
  }
}