@import '~scss/vars';

.input {
  width: 100%;
  box-sizing: border-box;
  height: 32px;
  padding: 7px 12px;
  font-size: 12px;
  line-height: 16px;
  color: $N500;
  border-radius: 2px;
  background-color: $N0;
  border: solid 1px $N30;
  box-shadow: none;
  caret-color: #979797;
  transition: all 0.3s ease-in-out;
  &::placeholder {
    color: $N45;
  }
  &:hover {
    border-color: $N45;
  }
  &:focus {
    outline: none;
    border-color: $P75;
    box-shadow: 0 4px 8px 0 rgba(52, 57, 69, 0.05),
      0 2px 2px 0 rgba(73, 33, 173, 0.1);
  }
  &.error {
    border: solid 1px $R100;
  }
}
.input[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  color: $N300;
}
.inputGroup {
  position: relative;

  :global {
    .icon {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
    .icon-close {
      position: absolute;
      left: auto;
      right: 12px;
      top: 50%;
      transform: translateY(-50%) scale(0.6);
      cursor: pointer;
    }
  }

  input {
    padding: 8px 8px 8px 36px;
  }
}

.normal {
  width: $form-input-normal;
}
.large {
  width: $form-input-large;
}
.small {
  width: $form-input-small;
}
