@import '~scss/vars';

.group {
  display: inline-block;
  .checkbox {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-left: 22px;
  color: $N300;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);

  input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
    user-select: none;
    outline: none;
  }

  :global {
    .icon {
      display: none;
      position: absolute;
      left: 0;
      top: 50%;
      font-size: $size-small;
      color: #fff;
      transform: translate(0 ,-50%) scale(0.7);
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 50%;
    z-index: 2;
    width: 14px;
    height: 14px;
    font-style: normal;
    background-color: $N0;
    border: 1px solid $N30;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(48, 14, 86, 0.04);
    box-sizing: border-box;
    transform: translate(0 ,-50%);
    cursor: pointer;
  }
  &:hover{
    &::before {
      background-color: $N10;
      border-color: $N30;
    }
  }
  &:active{
    &::before {
      border-color: $P100 !important;
    }
  }

  &.checked {
    &::before {
      border-color: $P75;
      background-color: $P75;
    }
    :global {
      .icon {
        display: block;
        z-index: 3;
      }
    }
    &:hover{
      &::before {
        background-color: $P65;
      }
    }
    &:active{
      &::before {
        background-color: $P100 !important;
      }
    }
  }
}
.checkbox.disabled {
  opacity: 0.5;
  &::before {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:active{
    &::before {
      border-color: $N30 !important;
    }
  }
}
