@import '~scss/vars';

.total{
  padding-top: 16px;
  font-size: 14px;
  line-height: 2.0;
  color: $N500;
}

.activities{
  //margin: 24px 0;

  .title{
    margin-bottom: 20px;
    line-height: 19px;
    font-size: 16px;
    font-weight: bold;
    color: $title-color;
    .more{
      float: right;
      font-size: 14px;
      font-weight: normal;
      cursor: pointer;
    }
  }
}

.parameters{
  .name{
    display: inline-block;
    float: left;
    width: 260px;
    line-height: 16px;
    font-weight: bold;
    text-align: right;
    color: $title-color;
  }
  .info{
    margin: 0 0 20px 280px;
    .value{
      margin-bottom: 3px;
      line-height: 16px;
      font-size: 14px;
      color: $text-color;
    }
    .explain{
      line-height: 17px;
      font-size: 12px;
      color: #626466;
    }
  }
}
