@import '~scss/vars';

.baseInfo {
  .number {
    @include note-font;
  }

  .name {
    @include title-font;
    margin-bottom: 24px;
  }

  .reason {
    line-height: 20px;
    font-size: 12px;
    color: $N300;

    >label {
      float: left;
      color: $N75;
    }

    >pre {
      margin-left: 40px;
    }
  }
}

.statusInfo {
  display: flex;
  height: 20px;
  margin-bottom: 12px;

  dl,
  dt,
  dd {
    display: inline-block;
  }

  dl {
    flex: 1;
    font-size: 12px;

    >button {
      float: right;
      margin-top: -12px;
      margin-left: 12px;
    }
  }

  dt {
    float: left;
    color: $N75;
  }

  dd {
    width: 150px;
    color: $N300;
    word-break: break-all;
    word-wrap: break-word;

    >label {
      color: $N500;
      font-weight: 500;
    }

    .email {
      display: inline-block;
      margin-right: 4px;
      color: $N75;
    }

    >a {
      display: inline-block;
      margin-left: 8px;
    }
  }

  .status {
    font-size: 12px;

    dt  {
      float: left;
    }

    .new {
      color: $N75;
    }

    .submitted {
      color: $Y300;
    }

    .passed {
      color: $G200;
    }

    .rejected {
      color: $R100;
    }
  }
}

.rejectMessage {
  textarea {
    width: 100%;
    margin-bottom: 8px;
  }

  .note {
    @include note-font;
  }
}
