@import '~scss/vars';

.baseInfo {
  .number {
    @include note-font;
  }

  .name {
    @include title-font;
    margin-bottom: 24px;
  }

  .info {
    display: flex;

    dl,
    dt,
    dd {
      display: inline-block;
    }

    dl {
      flex: 1;
      margin-bottom: 12px;
      line-height: 20px;
      font-size: 12px;

      >button {
        float: right;
        margin-top: -12px;
        margin-left: 12px;
      }
    }

    dt {
      color: $N75;
    }

    dd {
      color: $N300;
      >label {
        color: $N500;
        font-weight: 500;
      }
    }

    .status {
      font-size: 12px;
      dt  {
        float: left;
      }
    }
  }

  .reason {
    line-height: 20px;
    font-size: 12px;
    color: $N300;

    >label {
      float: left;
      color: $N75;
    }

    >pre {
      margin-left: 40px;
    }
  }
}
