@import '~scss/vars';

.versions {
  margin-bottom: 24px;
  font-size: 12px;
}

.versionTable {
  width: 100%;
  border: 1px solid $N10;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;

  th,
  td {
    border-right: 1px solid $N10;
    border-bottom: 1px solid $N10;
    vertical-align: top;

    &:first-child {
      width: 30%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:last-child {
      width: 50%;
      border-right: 0 none;
    }
  }

  th {
    padding: 12px 10px;
    line-height: 12px;
    font-size: 12px;
    color: $N100;
    font-weight: normal;
    text-align: left;
  }

  td {
    padding: 12px;
    line-height: 20px;
    font-size: 12px;
    color: $N65;
    word-wrap: break-word;
    word-break: break-all;

    .type {
      @include title-font($line-height: 20px, $font-size: 12px);
      margin-bottom: 8px;
    }

    .intro {
      @include note-font;
    }

    &.name {
      color: $N500;
    }
  }

  pre {
    line-height: 20px;
  }
}
