@import '~scss/vars';

.clusterList{
  .statusDot{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $G75;
  }
  .active{
    background-color: $G75;
  }
  .pending{
    background-color: $B75;
  }
  .suspended{
    background-color: $Y100;
  }
  .deleted{
    background-color: $R300;
  }
  .stopped{
    background-color: $N30;
  }
  li{
    box-sizing: border-box;
    padding: 12px 12px 10px 12px;
    height: 60px;
    border-bottom: 1px solid $N10;
    &:hover{
      background-color: $li-hover-bg;
      .name{
        color: $link-hover;
      }
    }
  }
  .dot{
    float:left;
    margin: 9px 12px 0 0;
    width: 12px;
    height: 12px;
  }
  .word{
    float: left;
    width: calc(100% - 90px);

    .name{
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: $N500;
      @include textCut;
    }

    .description{
      font-size: 12px;
      line-height: 20px;
      color: $N100;
      @include textCut;
    }
  }
  .total{
    float: right;
    .nodes{
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 1.0;
      color: $N300;
    }
    .time{
      font-size: 12px;
      line-height: 20px;
      text-align: right;
      color: $N100;
    }
  }
}

