@import "~scss/vars";

$body-margin: 132px;
$pg-margin: 18px;

.layout {
  margin-top: $pg-margin !important;

  .leftPanel {
    max-width: 205px;
    border-right: 1px solid $N10;
  }

  // fix left/right panel width not match design
  @media screen and (min-width: 1200px) {
    .rightPanel {
      width: 885px;
    }
  }
}

.page {
  display: block;
  margin-left: $body-margin - 30px;
  margin-right: $body-margin - 30px;

  .title {
    font-size: $size-medium;
    color:$N500;
    margin-bottom: $pg-margin;
  }

  .platforms {
    border-right: 1px solid $N10;
    .provider {
      height: 40px;
      padding-left: 12px;
      cursor: pointer;

      &.active, &:hover {
        box-shadow: 0 1px 0 0 $N10, 0 -1px 0 0 $N10;
        background-color: $N0;
      }
      &.disabled {
        opacity: 0.5;
        cursor: default;
        box-shadow: none;
        background-color: transparent;
      }

      span {
        display: inline-block;
        padding: 12px 0 !important;
        vertical-align: middle;

        &.proName {
          font-size: $size-small;
          margin-left: 8px;
        }
        &.proCount {
          font-size: $size-small;
          float: right;
          margin-right: 23px;
        }
      }
    }

    .tooltip {
      width: 100%;
    }
  }

}