@import '~scss/vars';

.storeContent {
  position: relative;
  //min-height: $main-min-height;

  .homeLoad {
    margin-left: $nav-width;
  }

  .nav {
    position: fixed;
    top: $layout-top;
    left: auto;
    height: $content-height;
  }


  .apps {
    margin-left: $nav-width;
    padding-left: 24px;
    padding-bottom: $page-bottom;
    min-height: $content-height;
  }

  .progressive{
    position: static;
    height: 60px;
    .loadOuter{
      position: static;
      padding: 30px 0;
      .loader {
        margin: 0 auto;
      }
    }
  }

  .loading {
    margin-top: -20px;
    margin-left: $nav-width;
    text-align: center;
    .loadOuter{
      display: inline-block;
      .loader {
        border-radius:50%;
        width:40px;
        height:40px;
        &:after {
          border-radius:50%;
          width:40px;
          height:40px;
        }
        border-top: 2px solid rgba($purple-light,0.2);
        border-right: 2px solid rgba($purple-light,0.2);
        border-bottom: 2px solid rgba($purple-light,0.2);
        border-left: 2px solid rgba($purple-light,1);
        transform: translateZ(0);
        animation:load 1.1s infinite linear;
      }
    }
  }
}


@mixin load-frames() {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@-webkit-keyframes load {@include load-frames;}
@keyframes load {@include load-frames;}
