@import '~scss/vars';

.reviewTitle {
  margin-bottom: 16px;

  .name {
    margin-bottom: 12px;
    @include title-font($font-size: 16px);
  }

  .note {
    @include note-font;
  }
}

.baseInfo {
  dl {
    margin-bottom: 24px;
  }
  dt {
    @include title-font;
    margin-bottom: 8px;
  }
  dd {
    @include normal-font;
  }

  .imageOuter {
    width: 96px;
    height: 96px;
    line-height: 96px;
  }
}

.configFile {
  .fileInfo {
    margin-bottom: 20px;
    padding: 46px 0 42px;
    background-color: #f9fafb;
    border-radius: 2px;
    text-align: center;

    .name {
      margin-bottom: 8px;
      line-height: 28px;
      font-size: 14px;
      font-weight: 500;
      color: $N500;
    }

    .time {
      height: 20px;
      font-size: 12px;
      color: $N65;
    }

    .link {
      display: inline-block;
      margin-left: 20px;
      color: $P75;
      cursor: pointer;
    }
  }

  .checkFile {
    li {
      box-shadow: 0 1px 0 0 $N10;
    }
  }
}

.updateLog {
  min-height: 300px;
  line-height: 24px;
  font-size: 12px;
  color: $N300;
}

.reviewInfo {
  .info {
    margin-top: 12px;
  }

  dl {
    @include note-font;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    dt,
    dd {
      display: inline-block;
    }

    dt {
      float: left;
      width: 60px;
    }

    dd {
      width: 280px;

      pre {
        color: $N300;
      }
    }
  }
}

.versionReview {
  .progressLine {
    margin-left: 20px;
    border-left: 2px solid $N10;

    & > div {
      margin-left: -20px;
    }
  }
  .title {
    @include note-font;
    margin-bottom: 8px;
  }

  .noData {
    @include note-font;
  }

  .submit,
  .unReview,
  .waitReview {
    padding: 12px 20px;
    margin-bottom: 9px;
  }

  .startReview,
  .pendingReview,
  .passed {
    padding: 12px 20px 24px;
    margin-bottom: 9px;
  }

  .name {
    @include title-font;
    margin-bottom: 12px;
  }

  .status,
  .time {
    @include note-font;
    float: right;
    line-height: 28px;
  }

  .unReview {
    .name,
    .status {
      opacity: 0.5;
    }
  }

  .waitReview {
    border: 1px solid $B75;

    .status {
      color: $B75;
    }
  }

  .startReview {
    .name {
      line-height: 32px;
    }

    button {
      float: right;
    }
  }

  .pendingReview {
    border: 1px solid $Y300;

    .status {
      color: $Y300;
    }
  }

  .passed {
    .status {
      color: $G100;
    }
  }

  .rejectd {
    border: 1px solid $R200;

    .status {
      color: $R200;
    }
  }

  .opreateButtons {
    margin-top: 40px;

    button {
      margin-right: 12px;
    }
  }

  .startReviewed {
    @include title-font;
    padding: 12px 20px;
    line-height: 32px;

    > button {
      float: right;
    }
  }

  .operator {
    @include note-font;
    word-break: break-all;
    word-wrap: break-word;

    .name {
      color: $N500;
      font-weight: 500;
    }
  }
}

.rejectMessage {
  textarea {
    margin-bottom: 8px;
    width: 100%;
  }

  .note {
    @include note-font;
  }
}
