.list {
  margin-left: 192px;
  line-height: 14px;
  .item {
    line-height: 20px;
    margin-bottom: 10px;
    span {
      display: inline-block;
      width: 80%;
      margin-left: 10px;
    }
    .inputSmall {
      width: 124px;
      margin-right: 12px;
    }
  }
  .removeBtn {
    //font-weight: bold;
  }
}
