.list{
  margin-left: 150px;
  line-height: 14px;
  .item{
    width: 380px;
    line-height: 20px;
    margin-bottom: 10px;
    span {
      display: inline-block;
      width: 80%;
      margin-left: 10px;
    }
    .inputSmall{
      width: 138px;
      margin-right: 10px;
    }
  }
  .removeBtn{
    font-weight: bold;
  }
}
