@import '~scss/vars';

.title {
  @include normal-font;;
}

.item {
  display: flex;
  justify-content: center;
  padding: 16px 12px;
  &:hover {
    background: $N0;
  }
}
.disabled {
  opacity: 0.3;
  .item {
    width: auto;
    height: auto;
    text-align: left;
  }
}
.itemName {
  flex: 1;
  margin-left: 5px;
}
