@import '~scss/vars';

.groupCard{
  li{
    margin-bottom: 13px;
    width: 310px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #f6f6f8;
    background-color: #f6f6f8;
    cursor: pointer;
    &.current, &:hover{
      background-color: #efe9f7;
      border: 1px solid #7749ac;
    }
    &.current:hover{
      cursor: default;
    }
    .name{
      margin-bottom: 3px;
      line-height: 16px;
      font-size: 14px;
      font-weight: 500;
      color: #7749ac;
    }
    .id{
      line-height: 14px;
      font-size: 12px;
      text-align: left;
      color: #a6a1ab;
    }
    .description{
      margin-top: 8px;
      font-size: 12px;
      line-height: 1.42;
      color: #a6a1ab;
    }
  }
}
