@import '~scss/vars';

.letter {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  border: solid 1px $N10;
  background-color: $N10;
  line-height: 100%;
  color: $N200;
  font-weight: 500;
  text-align: center;
}

.img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
