@import '~scss/vars';

:global {
  .#{$icon-prefix}-light {
    --primary-color: #{$P300};
    --secondary-color: #{$P45};
    //--primary-opacity: 0.9;
    //--secondary-opacity: 0.4;
  }

  .#{$icon-prefix}-dark {
    --primary-color: #{$N300};
    --secondary-color: #{$N45};
    //--primary-opacity: 0.9;
    //--secondary-opacity: 0.4;
  }

  .#{$icon-prefix}-white {
    --primary-color: #{$N0};
    --secondary-color: #{$N0};
    --primary-opacity: 0.9;
    --secondary-opacity: 0.4;
  }
  .#{$icon-prefix}-error {
    --primary-color: #{$R400};
    --secondary-color: #{$R30};
  }
  .#{$icon-prefix}-success {
    --primary-color: #{$G75};
    --secondary-color: #{$G30};
  }

  .icon {
    display: inline-block;
    //font-size: $body-size;
    //vertical-align: middle;

    &.icon-clickable {
      pointer-events: auto;
      border-radius: $icon-button-border-radius;
      cursor: pointer;
      &:hover {
        background-color: $icon-button-hover-background-color;
      }
      &:active {
        background-color: $icon-button-active-background-color;
      }
    }
    &.icon-disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: $icon-button-disabled-opacity;
    }

    // fix icon inner svg
    svg {
      width: 100%;
      height: 100%;
    }
  }

  // size
  @each $tuple in $icon-size-config {
    .icon-is-#{nth($tuple, 1)} {
      width: nth($tuple, 2);
      height: nth($tuple, 2);
    }
  }

}
