@import '~scss/vars';

.appBase {
  .title {
    margin: 0 -24px 24px;
    padding: 0 24px 24px;
    border-bottom: 1px solid $N10;

    .number {
      @include note-font;
      margin-bottom: 8px;
    }

    .name {
      @include title-font;
      margin-bottom: 24px;
    }

    .image {
      display: inline-block;
      margin-right: 12px;
      width: 48px;
      height: 48px;
      line-height: 48px;
    }

    .appName {
      @include title-font($line-height: 48px, $font-size: 16px);
    }
  }
  .info {
    dl {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    dt {
      @include note-font;
      margin-bottom: 4px;
    }

    dd {
      @include normal-font($line-height: 20px, $font-size: 12px);

      > label {
        display: inline-block;
        margin-right: 8px;
      }
    }

    .link {
      display: inline-block;
      margin-bottom: 12px;
      font-size: 12px;
    }
  }
}

.versionName {
  @include normal-font($line-height: 20px, $font-size: 12px);

  .name {
    display: inline-block;
    margin-left: 4px;
    color: $N75;
  }
}

.searchOuter {
  .total {
    @include note-font;
  }

  .search {
    margin: 12px 0;
    width: 256px;

    input {
      border-color: $N0;

      &:hover {
        border-color: $N10;
      }

      &:focus {
        border-color: $P75;
      }
    }
  }
}

.operationIcon {
  top: auto !important;
  bottom: 24px;
}

.versionType {
  line-height: 32px;
}

.operationVersion {
  text-align: left;
}

.suspended {
  @include note-font;
  display: inline-block;
  position: relative;
  top: -6px;
  padding: 0 4px;
  background-color: $N10;
}
