@import "~scss/vars";

.information {
  margin-top: 32px;
  .title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: $N500;
  }
  .description{
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0;
    color: #576075;
  }
  .content {
    line-height: 24px;
    vertical-align: middle;
    dt, dd {
      display: inline-block;
    }

    dl{
      margin-bottom: 8px;
      line-height: 24px;
      font-size: 14px;
      font-weight: normal;
      &:last-child{
        margin-bottom: 0;
      }
    }
    dt{
      margin-right: 24px;
      width: 120px;
      color: $N75;
      font-weight: normal;
    }
    dd{
      vertical-align: middle;
      color: $N300;
    }
    .repoName{
      width: 150px;
    }
  }
}
