@import "~scss/vars";

.information {
  margin-top: 22px;

  .title {
    margin: 8px 0;
    line-height: 21px;
    font-size: 18px;
    font-weight: 500;
    color: $title-color;
  }
  .description{
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0;
    color: #576075;
  }
  .content {
    padding-bottom: 30px;

    dt, dd {display: inline-block;}

    dl{
      line-height: 30px;
      font-size: 14px;
      font-weight: normal;
    }
    dt{
      width: 120px;
      color: $N75;
      font-weight: normal;
    }
    dd{
      color: $N300;
    }
  }

}