- var bundlePrefix = isDev ? '/build' : '/dist'

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title

    link(rel="shortcut icon" href="/assets/favicon.ico")
    link(rel="stylesheet" href="/assets/css/normalize.min.css")
    link(rel="stylesheet" href="/assets/fonts/roboto/roboto.css")
    link(href='https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css' rel="stylesheet")

    if !isLogin
      link(href='https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css' rel="stylesheet")

    if !isDev
      link(href= bundlePrefix + '/bundle.css' rel="stylesheet" media="all")

  body
    noscript You need to enable JavaScript to run this app.

    #root.
      !{children}
    script.
      window.__INITIAL_STATE__ = !{state || '{}'}

    //script(src= bundlePrefix + '/vendor.js').
    script(src= bundlePrefix + '/bundle.js').
