@import '~scss/vars';

.wrapper{
  margin: 0 auto 24px;
  width: $content-width;
  .leftInfo{
    border-radius: 3px;
    background-color: $N0;
    box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06), 0 4px 8px 0 rgba(35, 35, 36, 0.04);
    .title{
      padding: 20px 32px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      color: $N500;
      border-bottom: 1px solid $N10;
    }
  }

  .rightInfo{
    .title{
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      color: $N500;
    }
    .content{
      font-size: 14px;
      line-height: 1.71;
      color: $N300;
      p{
        margin-bottom: 20px;
      }
    }
  }
}
