@import '~scss/vars';

.tree {
  :global {
    li .rc-tree-node-content-wrapper {
      width: 100%;
      &::before {
        height: auto;
        top: 0;
        left: -24px;
        right: -6px;
        bottom: 0;
        background-color: transparent;
        border: 1px solid transparent;
      }
    }
    .rc-tree-treenode-selected {
      > .rc-tree-node-content-wrapper {
        &::before {
          border: 1px solid $P75;
          background-color: #fff;
          opacity: 0.8;
          box-shadow: 0 1px 4px 0 rgba($P400, 0.06), 0 4px 8px 0 rgba(35, 35, 36, 0.04);
        }
      }
    }
    .rc-tree-title {
      display: inline-block;
      width: 100%;
    }

    .rc-tree-treenode-disabled > span:not(.rc-tree-switcher),
    .rc-tree-treenode-disabled > a,
    .rc-tree-treenode-disabled > a span {
      color: $N75;
      cursor: default;
    }
  }
  & > li {
    border: 1px solid $N10;
    border-radius: 2px;
    & > :global(.rc-tree-node-content-wrapper) {
      &::before {
        content: none;
      }
    }
  }
  li + li {
    margin-top: 10px;
  }
}
.roleItem {
  display: inline-block;
  width: 100%;
  span {
    color: $N75;
    font-size: $size-small;
    line-height: 1;
  }
  strong {
    color: $N500;
    font-size: $size-normal;
  }
}
.btnCreate {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: $P75;
  font-size: $size-normal;
  line-height: 1;
}
.lockIcon {
  top: 5px;
  right: 0;
}
.btnIcon {
  margin-top: 0px;
  margin-left: -17px;
}

.normalPermission {
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid $N30;
}

