@import '~scss/vars';

.table {
  &-body {
    transition: opacity $transition-speed;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;

    .selectionColumn{
      width: 36px;
      label{
        margin-left: 4px;
        line-height: 4px;
      }
    }
  }
}

:global {
  .pi-table {
    &-thead > tr > th {
      position: relative;
      line-height: 16px;
      padding: 12px 12px;
      font-weight: 500;
      color: $title-color;
      background: $th-background-color;

      &::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 8px;
        bottom: 8px;
        width: 0;
        /*border-right: 1px solid $border-light;*/
      }
    }

    &-tbody > tr{
      transition: all $transition-speed;
      &:hover {
        background-color: $tr-hover-bg;
        td {
          &:first-child {
            border-left-color: $tr-hover-bg;
          }
          &:last-child {
            border-right-color: $tr-hover-bg;
          }
        }
        td a, td [class*="tdName"] a{
          color: $link-hover;
        }
        td [class*="popper"] a{
          color: $title-color;
        }
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    &-tbody > tr > td {
      padding: 12px 0 12px 12px;
      line-height: 16px;
      border-bottom: 1px solid $border-lighter;
      transition: all $transition-speed;
      word-wrap:break-word;
      a{
        color: $title-color;
      }
      &:first-child {
        //padding-left: 0;
        //border-left: 48px solid #fff;
      }

      &:last-child {
        //border-right: 48px solid #fff;
      }
    }
    &-placeholder {
      padding: 12px 0;
      text-align: center;
    }
  }

  .detailTab{
    thead > tr > th {
      &:first-child {
        padding-left: 36px;
      }
      &:last-child {
        padding-right: 36px;
      }
    }
    tbody > tr > td {
      &:first-child {
        border-left: 48px solid #fff;
      }
      &:last-child {
        border-right: 48px solid #fff;
      }
    }
  }

  .filterContent{
    margin: 0 -5px;
    li{
      padding: 0 12px;
      width: 110px;
      line-height: 32px;
      font-size: 14px;
      font-weight: normal;
      color: $title-color;
      cursor: pointer;
      transition: all $transition-speed;
      &:hover, &.active{
        background-color: $purple-lighter;
      }
    }
  }
}

