@import '~scss/vars';

.table {
  &-body {
    transition: opacity $transition-speed;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;

    .selectionColumn {
      width: 14px;
      padding: 0 7px;
      label {
        display: none;
        padding: 0;
      }
      [class*='checked'] {
        display: inline-block;
      }
    }

    tr:hover {
      .selectionColumn {
        label {
          display: inline-block;
        }
      }
    }

    th {
      .filterOuter {
        max-width: 120px;
        [class*='target'] {
          height: auto;
          //width: 60px;
          width: 68px;
          border: 0 none;
          box-shadow: none;
          &:hover {
            border: 0 none;
            box-shadow: none;
          }
        }
        :global {
          .pi-popover-popper {
            //margin-left: -52px;
            margin-left: -42px;
          }
          .filterContent {
            li {
              padding: 0 12px;
              width: 80px;
              line-height: 32px;
              font-size: 14px;
              font-weight: normal;
              color: $N300;
              cursor: pointer;
              transition: all $transition-speed;
              &:hover,
              &.active {
                background-color: $N10;
                color: $N500;
              }
            }
          }
          .icon {
            float: right;
            /*position: relative;
            top: 3px;
            margin-left: 8px;*/
          }
        }
      }
      .sortOuter {
        :global {
          .icon {
            vertical-align: middle;
            margin-left: 6px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

:global {
  .pi-table {
    overflow-x: auto;

    &-thead > tr > th {
      position: relative;
      padding: 10px 5px;
      line-height: 12px;
      font-weight: normal;
      font-size: 12px;
      color: $N100;
      box-shadow: inset 0 -1px 0 0 $N10, inset 0 1px 0 0 $N10;
      letter-spacing: 0;

      &.actions {
        text-align: center;
      }

      &::before {
        content: '';
        position: absolute;
        left: -1px;
        top: 8px;
        bottom: 8px;
        width: 0;
      }

      label {
        margin-left: 0 !important;
      }

      //.pi-popover-popper[data-pacement^="bottom"] {
      //  transform: translate3d(500px, 236px, 0px) !important;
      //}
    }

    &-tbody > tr {
      transition: all $transition-speed;
      &:hover {
        background-color: $tr-hover-bg;
        box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06),
          0 4px 8px 0 rgba(35, 35, 36, 0.04);

        td {
          &:first-child {
            border-left-color: $tr-hover-bg;
          }
          &:last-child {
            border-right-color: $tr-hover-bg;
          }
        }

        td a,
        td [class*='tdName'] a,
        td > a > [class*='repoName'] {
          color: $link-hover;
        }

        td [class*='popper'] a {
          color: $N500;
        }

        td.actions > div{
         display: block;
        }
      }

      &:last-child {
        td {
          //border-bottom: none;
        }
      }
    }

    &-tbody > tr > td {
      padding: 14px 5px;
      line-height: 16px;
      box-shadow: inset 0 -1px 0 0 $N10;
      transition: all $transition-speed;
      word-wrap: break-word;
      word-break: break-all;
      font-size: 12px;

      a {
        color: $N500;
      }
      &:first-child {
        //padding-left: 0;
        //border-left: 48px solid #fff;
      }

      &:last-child {
        //border-right: 48px solid #fff;
      }

      &.actions > div {
        display: none;
      }
    }

    &-placeholder {
      padding: 12px 0;
      text-align: center;
    }
  }
}

.noData {
  padding: 20px 0;
  text-align: center;
  .word {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0;
    color: $N100;
  }
  :global {
    .icon {
      opacity: 0.2;
    }
  }
}
