@import '~scss/vars';

.table {
  &-body {
    transition: opacity $transition-speed;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;

    .selectionColumn{
      width: 32px;
      padding: 12px 0px 12px 8px;
      label{
        margin-left: 4px;
        line-height: 4px;
      }
    }
  }
}

:global {
  .pi-table {
    &-thead > tr > th {
      position: relative;
      line-height: 16px;
      padding: 12px 12px;
      font-weight: 500;
      color: $N500;
      letter-spacing: 0;
      background-color: $N10;

      &::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 8px;
        bottom: 8px;
        width: 0;
        /*border-right: 1px solid $border-light;*/
      }
    }

    &-tbody > tr{
      transition: all $transition-speed;
      &:hover {
        background-color: $tr-hover-bg;
        td {
          &:first-child {
            border-left-color: $tr-hover-bg;
          }
          &:last-child {
            border-right-color: $tr-hover-bg;
          }
        }
        td a, td [class*="tdName"] a{
          color: $link-hover;
        }
        td [class*="popper"] a{
          color: $N500;
        }
      }

      &:last-child {
        td {
          //border-bottom: none;
        }
      }
    }

    &-tbody > tr > td {
      padding: 12px 0 12px 12px;
      line-height: 16px;
      border-bottom: 1px solid $border-lighter;
      transition: all $transition-speed;
      word-wrap:break-word;
      a{
        color: $N500;
      }
      &:first-child {
        //padding-left: 0;
        //border-left: 48px solid #fff;
      }

      &:last-child {
        //border-right: 48px solid #fff;
      }
    }
    &-placeholder {
      padding: 12px 0;
      text-align: center;
    }
  }

  .filterContent{
    li{
      padding: 0 12px;
      width: 110px;
      line-height: 32px;
      font-size: 14px;
      font-weight: normal;
      color: $N300;
      cursor: pointer;
      transition: all $transition-speed;
      &:hover, &.active{
        background-color: $N10;
        color: $N500;
      }
    }
  }
}
.filterOuter{
  min-width: 90px;
  max-width: 120px;
  [class*='target']{
    height: auto;
    width: auto;
    border: 0 none;
    &:hover{
      border: 0 none;
      box-shadow: none;
    }
  }
  :global{
    .icon{
      //float: right;
      margin-left: 8px;
    }
  }
}

.noData{
  padding: 20px 0;
  text-align: center;
  .word{
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0;
    color: $N100;
  }
}
