@import '~scss/vars';

.table {
  &-body {
    transition: opacity $transition-speed;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;

    .selectionColumn{
      width: 14px;
      padding: 12px 12px 12px 8px;
      label{
        padding: 0;
      }
    }

    th{
      .filterOuter{
        max-width: 120px;
        [class*='target']{
          height: auto;
          width: 60px;
          border: 0 none;
          box-shadow: none;
          &:hover{
            border: 0 none;
            box-shadow: none;
          }
        }
        :global{
          .pi-popover-popper{
            margin-left: -52px;
          }
          .filterContent{
            li{
              padding: 0 12px;
              width: 80px;
              line-height: 32px;
              font-size: 14px;
              font-weight: normal;
              color: $N300;
              cursor: pointer;
              transition: all $transition-speed;
              &:hover, &.active{
                background-color: $N10;
                color: $N500;
              }
            }
          }
          .icon{
            float: right;
            /*position: relative;
            top: 3px;
            margin-left: 8px;*/
          }
        }
      }
      .sortOuter{
        :global{
          .icon{
            vertical-align: middle;
            margin-left: 6px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

:global {
  .pi-table {
    overflow-x: auto;

    &-thead > tr > th {
      position: relative;
      line-height: 16px;
      padding: 12px 5px;
      font-weight: 500;
      color: $N500;
      letter-spacing: 0;
      background-color: $N10;

      &:last-child{
        text-align: center;
      }
      &::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 8px;
        bottom: 8px;
        width: 0;
      }

      label {
        margin-left: 0 !important;
      }

      //.pi-popover-popper[data-pacement^="bottom"] {
      //  transform: translate3d(500px, 236px, 0px) !important;
      //}
    }

    &-tbody > tr{
      transition: all $transition-speed;
      &:hover {
        background-color: $tr-hover-bg;
        td {
          &:first-child {
            border-left-color: $tr-hover-bg;
          }
          &:last-child {
            border-right-color: $tr-hover-bg;
          }
        }
        td a, td [class*='tdName'] a, td > a > [class*='repoName']{
          color: $link-hover;
        }
        td [class*="popper"] a{
          color: $N500;
        }
      }

      &:last-child {
        td {
          //border-bottom: none;
        }
      }
    }

    &-tbody > tr > td {
      padding: 12px 5px;
      line-height: 16px;
      border-bottom: 1px solid $N10;
      transition: all $transition-speed;
      word-wrap: break-word;
      word-break: break-all;
      a{
        color: $N500;
      }
      &:first-child {
        //padding-left: 0;
        //border-left: 48px solid #fff;
      }

      &:last-child {
        //border-right: 48px solid #fff;
      }
    }

    &-placeholder {
      padding: 12px 0;
      text-align: center;
    }
  }
}

.noData{
  padding: 20px 0;
  text-align: center;
  .word{
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0;
    color: $N100;
  }
  :global {
    .icon {
      opacity: .2;
    }
  }
}
