@import '~scss/vars';

.reposList{
  margin-bottom: 16px;
  li{
    box-sizing: border-box;
    margin-bottom: 8px;
    height: 60px;
    line-height: 24px;
    border-radius: 2px;
    background-color: $N0;
    border: 1px solid $N10;
    a{
      display: block;
      padding: 17px 16px;
    }
    .icon{
      float: left;
      margin-right: 12px;
    }
    .name{
      display: inline-block;
      max-width: calc(100% - 96px);
      font-weight: 500;
      font-size: $font14;
      color: $N500;
      @include textCut;
    }
    .total{
      display: inline-block;
      float: right;
      font-size: $font12;
      color: $N100;
      .number{
        float: left;
        margin-right: 8px;
        font-size: $font14;
        font-weight: 500;
        color: $N500;
      }
    }
  }
}
.type {
  margin: 12px 0 8px;
  font-size: 12px;
  line-height: 1.67;
  color: $N100;
}
.reposBg{
  li {
    background-color: $N10;
    border-color: $N30;
  }
}
