@import "~scss/vars";

.detailTabs {
  //margin: -16px -24px 24px;

  padding: 0 24px;
  height: 47px;
  background: $N0;
  border-bottom: 1px solid $N10;

  .tab{
    display: inline-block;
    padding: 15px 0;
    margin-right: 24px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    color: $N300;
    cursor: pointer;
    &.active {
      color: $P75;
      border-bottom: 1px solid $P75;
    }
  }
}
