@import '~scss/vars';

.detailTabs {
  padding: 0 24px;
  height: 47px;
  background: $N0;
  border-bottom: 1px solid $N10;

  >label {
    display: inline-block;
    padding: 15px 0;
    margin-right: 24px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    color: $N300;
    cursor: pointer;

    &.active {
      color: $P75;
      border-bottom: 1px solid $P75;
    }

    &.disabled {
      display: none;
      color: $N100;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.accountTabs {
  padding: 0;
  height: 41px;
  background-color: $N500;
  border-bottom: 0 none;

  >label {
    padding: 12px 0;
    color: $N30;

    &.active {
      color: $N0;
      border-color:$Y200;
    }
  }
}
