@import '~scss/vars';

.detailTabs {
  padding: 0 24px;
  height: 49px;
  background: $N0;
  border-bottom: 1px solid $N10;

  >label {
    display: inline-block;
    padding: 16px 0;
    margin-right: 24px;
    line-height: 16px;
    font-size: 14px;
    color: $N75;
    cursor: pointer;

    &.active {
      color: $P75;
      border-bottom: 1px solid $P75;
      font-weight: 500;
    }

    &.disabled {
      display: none;
      color: $N75;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.accountTabs {
  padding: 0;
  height: 32px;
  background-color: $N500;
  border-bottom: 0 none;

  >label {
    margin-right: 40px;
    line-height: 20px;
    padding: 0 0 11px 0;
    color: $N30;
    border-bottom: 1px solid transparent;

    &.active {
      color: $N0;
      border-color:$Y200;
      font-weight: 500;
    }
  }
}

.cardTabs {
  margin: 0 -24px 24px;
}
