@import "~scss/vars";

.group {
  margin-bottom: 60px;

  .title {
    display: block;
    margin-bottom: 32px;
    font-weight: normal;
    @include BodyRobotoLeftBlack;
  }
}

.row {
  display: flex;
  margin-bottom: 20px;

  .label{
    display: inline-block;
    float: left;
    margin-right: 24px;
    margin-top: 8px;
    width: 168px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 500;
    color: $N500;
    text-align: right;
    word-break: break-word;
    @include textCut;
  }

  .item {
    max-width: 488px;
  }

  .tips{

  }
  .radio {

  }
  .input {
    width: 256px;
  }

  .select {

  }
  .slider{
    width: 256px;
    margin-right: 12px;
  }
  .inputSmall{
    max-width: 4em;
    padding: 7px 5px;
  }
  .sliderInput{
    display: inline-block;
  }
  .text {

  }
}

// fix
.isRadio {
  margin-top: 0 !important;
}