@import '~scss/vars';

.groupCard {
  li {
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 24px;
    border-radius: 3px;
    background-color: $N10;
    border: solid 1px $N10;
    cursor: pointer;

    &.current {
      background-color: $P75;
      border: solid 1px $P75;
      .name,
      .id,
      .description{
        color: $N0;
      }
    }

    &.current:hover {
      cursor: default;
    }
  }

  .name {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: $N500;
  }

  .id {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0;
    color: $N75;
  }

  .description {
    min-height: 40px;
    font-size: 12px;
    line-height: 20px;
    color: $N100;
    overflow-y: hidden;
  }
}
