@import '~scss/vars';

%pull-right {
  float: right;
}

.toolbar {
  //padding: 8px 0 24px;
  margin: 0 0 12px 0;

  button {
    margin-left: 12px;

    &:first-child{
      margin-left: 0;
    }
  }

  .search {
    display: inline-block;
    width: 100%;
    border-radius: 2px;

    input {
      background-color: $background-color;
      border-color: $background-color;
      cursor: pointer;

      &:hover {
        border-color: $N10;
      }

      &:focus {
        border-color: $P75;
        box-shadow: 0 4px 8px 0 rgba(52, 57, 69, 0.05), 0 2px 2px 0 rgba(73, 33, 173, 0.1);
        cursor: default;
      }
    }
  }

  .refreshBtn {
    @extend %pull-right;
  }

  .btnRight{
    @extend %pull-right;
  }

  .viewIcon{
    @extend %pull-right;
    margin: 4px 0 4px 12px;
    cursor: pointer;
  }
}
