%pull-right {
  float: right;
}

.toolbar {
  //padding: 8px 0 24px;
  margin: 0 0 12px 0;

  button {
    margin-left: 12px;
  }

  .search {
    display: inline-block;
    width: 320px;
    border-radius: 2px;
    background-color: #fff;
  }
  .refreshBtn {
    @extend %pull-right;
  }
  .btnRight{
    @extend %pull-right;
  }
}