@import '~scss/vars';

.layout {
  display: flex;
  padding-top: $header-height+$tabNavs-height+32px;
  padding-bottom: $page-bottom;
  &.noTabs{
    padding-top: $header-height+32px;
  }
  .backTo{
    width: $content-width;
    margin: 0 auto 20px;
    font-size: 14px;
    line-height: 1.43;
    a{
      color: $P75;
    }
  }
  .detailTab{
    position: absolute;
    top: 150px;
    left: 384px;
    background-color: #fff;
    & > div {
      top: 100px;
    }
  }
}


