@import '~scss/variables';

.container {
  padding-top: $header-height;

  .backTo{
    width: $content-width;
    margin: 24px auto 12px;
    line-height: 20px;
    font-size: 14px;
    a{
      color: $title-color;
    }
  }
  .detailTab{
    position: absolute;
    top: 150px;
    left: 384px;
    background-color: #fff;
    & > div {
      top: 100px;
    }
  }
}


