@import '~scss/vars';

.content {
  position: relative;
  min-height: $content-height;
  top: $header-height + $search-banner-height;
  margin: 0 auto;

  &.fixNav {
    top: $header-height + $title-banner-height;
  }

  .homeLoad {
    margin-left: $nav-width;
  }

  .navGrp {
    margin-bottom: 42px;
  }

  .nav {
    position: fixed;
    top: $header-height + $search-banner-height;
    width: $nav-width;
    margin-top: 32px;
    height: 100%;

    &.fixNav {
      top: $header-height + $title-banner-height;
    }

    .caption {
      @include title-font($font-size: 16px);
      margin-bottom: 12px;
    }

    .menu {
      padding: 0;
      margin-top: $base-margin;
      &:first-of-type {
        margin-top: 0;
      }

      .item {
        margin-bottom: 12px;

        line-height: 28px;
        font-size: 14px;
        list-style: none;
        color: $N400;
        cursor: pointer;

        &:hover,
        &.active {
          color: $P75;
          font-weight: 500;

          svg {
            --primary-color: #{$P300};
            --secondary-color: #{$P30};
          }
        }

        .name {
          display: inline-block;
          margin-left: 12px;
        }

        .icon {
          vertical-align: middle;
        }
      }
    }
  }

  .apps {
    margin-left: $nav-width;
    padding-left: 24px;
    padding-bottom: $page-bottom;
  }
}
