@import '~scss/variables';

.contentOuter {
  background-color: $background-color-lighter;
}
.content {
  position: relative;
  min-height: $main-height;
  margin: 0 auto;
  width: $content-width;

  .homeLoad {
    margin-left: 192px;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: $nav-width;
    height: 100%;
  }
  .apps {
    margin-left: 192px;
    padding-left: 94px;
    padding-bottom: 64px;
    min-height: calc(100vh - #{$footer-height});
    border-left: 2px solid $border;
  }
}
.fixNav {
  div[class*='_nav'] {
    position: fixed;
    top: $header-height;
    left: auto;
    height: $main-height;
  }
  div[class*='_cateTitle']{
    padding-top: 72px;
  }
}
