@import '~scss/vars';

.contentOuter {
  //background-color: $body-bg;
}
.content {
  position: relative;
  height: $main-height;
  min-height: $main-min-height;
  margin: 0 auto;
  width: $content-width;
  .homeLoad {
    margin-left: $nav-width;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: $nav-width;
    height: 100%;
  }
  .apps {
    margin-left: $nav-width;
    padding-left: 24px;
    padding-bottom: $page-bottom;
    min-height: calc(100vh - #{$footer-height});
  }
}
.fixNav {
  div[class*='_nav'] {
    position: fixed;
    top: $header-height;
    left: auto;
    height: $main-height;
  }
  div[class*='_cateTitle']{
    padding-top: 72px;
  }
}
