@import '~scss/vars';

.content {
  margin-top: $header-height + $search-banner-height;
  min-height: $content-height;

  &.fixNav {
    margin-top: $header-height + $title-banner-height;
  }

  .homeLoad {
    margin-left: $nav-width;
  }

  .navGrp {
    margin-top: 40px;

    &:first-child {
      margin-top: 32px;
    }
  }

  .nav {
    position: fixed;
    top: $header-height + $search-banner-height;
    height: calc(100vh - #{$header-height} - #{$search-banner-height});
    width: $home-nav-width;
    overflow: auto;

    &.fixNav {
      top: $header-height + $title-banner-height;
      height: calc(100vh - #{$header-height} - #{$title-banner-height});
    }

    .caption {
      @include title-font($font-size: 16px);
      margin-bottom: 12px;
    }

    .menu {
      padding: 0;
      margin-top: $base-margin;

      &:first-of-type {
        margin-top: 0;
      }

      .item {
        margin-bottom: 12px;
        line-height: 28px;
        font-size: 14px;
        list-style: none;
        color: $N400;
        cursor: pointer;

        &:hover,
        &.active {
          color: $P75;

          svg {
            --primary-color: #{$P300};
            --secondary-color: #{$P30};
          }
        }

        &.active {
          font-weight: 500;
        }

        .name {
          display: inline-block;
          margin-left: 12px;
        }

        .icon {
          vertical-align: middle;
        }
      }
    }
  }
}
