@import '~scss/vars';

.menu {
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  // width: $menu-width;
  background-color: $N0;

  .nav {
    float: left;
    width: $menu-nav-width;
    height: 100vh;

    li {
      height: 40px;
      text-align: center;

      >a {
        display: inline-block;
        width: 100%;
      }

      &:hover {
       /* .icon svg {
          --primary-color: #{$P100};
          --secondary-color: #{$P30};
        }*/

        .hoverNav {
          display: block;
        }
      }

      .icon {
        margin: 8px 0;
      }

      :global {
        .icon-more{
          transform: rotate(90deg);
        }
      }
    }

    ul:nth-child(1) > li:nth-child(1) {
      margin-bottom: 10px;
      height: 63px;
      border-bottom: 1px solid $N10;

      .icon {
        margin: 23px 0 16px 8px;
      }
    }
  }

  @media screen and (min-height: 550px) {
    .bottomNav {
      position: fixed;
      bottom: 0;
      left: 0;
      width: $menu-nav-width;
    }
  }

  .hoverNav {
    display: none;
    position: fixed;
    top: 0;
    left: $menu-nav-width - 3px;
    width: $menu-sub-nav-width + 3px;
    height: 100vh;
    /*left: 0;
    width: $menu-width;*/
    background-color: $N0;
    border-right: 1px solid $N10;

    li {
      height: 40px;
      font-size: 16px;
      color: $N300;
      text-align: left;
      overflow: hidden;

      >a {
        //margin-left: 10px;
        line-height: 40px;
        color: $N300;
        text-align: left;

        &:hover, &.active {
          color: $P75;
        }
      }
    }

    ul:nth-child(1) > li:nth-child(1) {
      margin-bottom: 10px;
      height: 63px;
      border-bottom: 1px solid $N10;
      font-size: 16px;
      font-weight: 500;
      color: $N500;

      >a {
        line-height: 64px;
      }

      /*.iconOuter {
        .icon {
          margin: 23px 0 16px 8px;
        }
      }*/
    }

    @media screen and (min-height: 550px) {
      .bottomNav {
        position: fixed;
        bottom: 0;
        left: $menu-nav-width - 3px;
        width: $menu-sub-nav-width + 3px;
      }
    }
  }
}

.subNav {
  float: left;
  height: 100vh;
  width: $menu-sub-nav-width;
  background-color: $N0;
  box-shadow: 0 1px 7px 0 rgba(71, 78, 93, 0.1);

  .title {
    margin: 24px 0;
    padding-left: 20px;

    .name {
      line-height: 16px;
      font-size: 16px;
      font-weight: 500;
      color: $N500;
    }

    .status {
      display: block;
      margin-top: 8px;
      font-size: 12px;
      color: $N75;
    }
  }


  .subContent {
    margin-bottom: 28px;
  }
  .subTitle {
    padding-left:20px;
    line-height: 24px;
    font-size: 12px;
    color: $N65;
  }
  .link {
    display: block;
    padding: 0 20px;
    line-height: 32px;
    font-size: 14px;
    color: $N300;

    &:hover {
      color: $P75;
    }
    &.active {
      font-weight: 500;
      color: $P75;
    }
  }
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
 /* position: static;
  margin: -68px -20px 20px;*/
  height: 48px;
  background-color: $background-color;

  .user [class*='target']{
    float: right;
    margin: 12px 24px;
    height: 20px;
    width: auto;
    line-height: 20px;
    color: $N500;
    font-weight: 500;
    border: 0 none;
    &:hover{
      border: 0 none;
      box-shadow: none;
      opacity: 1;
    }
    :global{
      .icon-caret-down{
        position: relative;
        top: 3px;
        left: 2px;
        svg {
          --primary-color: #{$N500};
          --secondary-color: #{$N500};
        }
      }
    }
  }

  :global{
    .pi-popover-popper{
      margin-left: -85px !important;
      margin-top: 6px !important;
    }
  }

  .operateItems {
    min-width: 120px;
    li {
      > a,
      > label{
        display: block;
        height: 32px;
        padding: 0 12px;
        //width: 100%;
        line-height: 32px;
        font-size: $font14;
        font-weight: normal;
        color: $N300;
        border-radius: 0;
        cursor: pointer;
      }

      &:hover {
        background-color: $N10;
        color: $N500;
      }
      &.line{
        border-bottom: 1px solid $N10;
      }
    }
  }
}

.headerShadow {
  box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06), 0 4px 8px 0 rgba(35, 35, 36, 0.04)
}


