@import '~scss/vars';

%disabledLink {
  color: $N75;
  opacity: 0.5;
  cursor: not-allowed;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  width: $menu-nav-width;
  height: 100vh;
  background-color: $N10;
  border-right: 1px solid $N10;
  transition: all 0.3s ease-out 0s;

  &:hover {
    width: $menu-width;
    border-right: 1px solid #d5dae5;

    .bottomNav {
      width: $menu-width;
    }
  }

  li {
    height: 40px;
    overflow: hidden;
    margin: auto 12px;
    line-height: 40px;
    vertical-align: middle;

    a {
      color: $N300;
      line-height: 40px;
      vertical-align: middle;
      display: inline-block;
    }

    .icon {
      float: left;
      padding: 10px;
      line-height: 20px;
    }

    .title {
      font-size: 14px;
      margin-left: 8px;
      line-height: 40px;
      cursor: pointer;
    }

    &.disabled {
      display: none;
      @extend %disabledLink;
      .title {
        cursor: not-allowed;
      }
    }

    &:hover {
      a {
        color: $P75;
      }

      .icon svg {
        --primary-color: #{$N300};
        --secondary-color: #{$P30};
      }

      :global {
        .icon-more svg {
          --primary-color: #{$P30};
        }
      }
    }

    &.active {
      .icon svg {
        --primary-color: #{$P300};
        --secondary-color: #{$P45};
      }
    }
  }
}

.topNav {
  & > .navItem {
    &.active {
      border-radius: 2px;
      box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06),
        0 4px 8px 0 rgba(35, 35, 36, 0.04);
      background-color: $N0;

      a {
        font-weight: 500;
        color: $P75;
      }
    }

    &.firstElem {
      margin-bottom: 26px;
      margin-top: 12px;

      &:hover {
        .hoverHide {
          display: none;
        }
        .hoverShow {
          display: block;
        }
      }

      .hoverShow {
        display: none;
      }

      > a:first-child {
        float: left;
        width: 40px;
        height: 40px;
      }

      .title {
        display: inline-block;
        line-height: 40px;
        font-size: 16px;
        color: $N500;
        font-weight: 500;
      }
    }

    .platformLabel {
      margin-left: 10px;
    }

    .iconLink {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      line-height: 40px;

      & > span {
        line-height: 20px;
        vertical-align: middle;
      }

      & > img {
        position: relative;
        margin: 10px;
        width: 20px !important;
        height: 20px !important;
      }
    }

    .image {
      float: left;
      margin: 10px;
      // font-size: 16px !important;
      background: none;
      border: none;
    }
    span.image {
      // font-size: 16px !important;
      background: $N30;
      border: none;
    }
  }
}

.bottomNav {
  > li {
    .iconOuter {
      [class*='target'] {
        width: auto;
        height: auto;
        border-radius: 0;
        border: 0 none;
      }

      :global {
        .pi-popover-popper {
          margin-left: 41px !important;
          margin-bottom: -30px !important;
        }
      }
    }

    .icon svg {
      opacity: 0.6;
    }

    &:last-child {
      margin-bottom: 14px;
    }
  }
}

@media screen and (min-height: 280px) {
  .bottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: $menu-nav-width;
  }

  .userBottomNav {
    position: static;
  }
}

@media screen and (min-height: 480px) {
  .userBottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: $menu-nav-width;
  }
}

.subNav {
  position: fixed;
  left: $menu-nav-width;
  top: 0;
  z-index: 3;
  height: 100vh;
  width: $menu-sub-nav-width;
  background-color: $N0;
  box-shadow: 0 1px 7px 0 rgba(71, 78, 93, 0.1);

  .title {
    margin: 24px 0;
    padding-left: 20px;

    .name {
      @include textCut;
      max-width: 165px;
      line-height: 16px;
      font-size: 16px;
      font-weight: 500;
      color: $N500;
    }

    .status {
      display: block;
      margin-top: 8px;
      font-size: 12px;
      color: $N75;
    }
  }

  .subContent {
    margin-bottom: 28px;
  }

  .subTitle {
    padding-left: 20px;
    line-height: 24px;
    font-size: 12px;
    color: $N65;
  }

  .link {
    display: block;
    padding: 0 20px;
    line-height: 32px;
    font-size: 14px;
    color: $N300;

    &:hover {
      color: $P75;
    }

    &.active {
      font-weight: 500;
      color: $P75;
    }

    &.disabled {
      display: none;
      @extend %disabledLink;
    }
  }
}
