@import '~scss/vars';

.appList {
  a {
    &:nth-child(3n+4) {
      &>div {
        margin-right: 0;
      }
    }
  }
  .noData{
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: $grey;
  }
}
