@import '~scss/vars';

.appList {
  position: relative;
  overflow: hidden;
  _zoom: 1;
  top: 30px;

  > div {
    &:nth-child(3n+4) {
      margin-right: 0;
    }
  }

  .noData {
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    color: $N75;
  }
}