@import '~scss/vars';

.appList {
  _zoom: 1;

  > div {
    &:nth-child(3n + 4) {
      margin-right: 0;
    }
  }

  .noData {
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    color: $N75;
    line-height: 20px;
  }
}

.card {
  float: none;
}
