@import '~scss/vars';

.sshPage {
  margin-top: 32px;
}

.createForm {
  display: block;

  & > div {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .name {
    display: inline-block;
    margin-right: 24px;
    width: 168px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    color: $N500;
    text-align: right;
  }

  .selectName {
    float: left;
    line-height: 32px;
  }

  input {
    width: 256px;
  }

  .radio,
  .checkbox {
    margin-right: 30px;
  }

  .select {
    width: 256px;
    margin-right: 12px;
  }

  textarea {
    max-width: calc(100% - 192px);
  }

  .textareaItem >label {
    float: left;
    position: relative;
    top: 10px;
  }

  .rightShow {
    margin-top: 8px;
    margin-left: 192px;
    font-size: 12px;
    line-height: 1.67;
    color: $N100;
  }

  .submitBtnGroup {
    margin: 0 -32px;
    padding: 20px 0 0 224px;
    border-top: 1px solid $N10;
    margin-bottom: 0;
    button {
      margin-right: 12px;
    }
  }
}

.sshTitle {
  margin: 0 auto 20px;
  width: $content-width;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: $N500;
}

.sshCard {
  .title {
    margin: 8px 0 12px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    color: $N500;
    max-width: 230px;
    @include textCut;
  }

  .pubKey,
  .time {
    font-size: 12px;
    color: $N75;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
  }

  .pubKey {
    margin-bottom: 12px;
    height: 32px;
    line-height: 16px
  }

  .time {
    height: 20px;
    line-height: 20px;
  }
}

.sshCardOuter {
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid transparent;
  cursor: pointer;

  &.active {
    border: 1px solid $P75;
    cursor: auto;
  }

  :global {
    .operation {
      top: 16px;
      right: 16px;
    }
  }
}

.downloadWord {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: $N300;
}

.ipShow {
  font-size: 12px;
  line-height: 20px;

  .eip {
    color: $N100;
  }
}

.sshKeys {
  border-right: 1px solid $N10;

  li {
    padding: 6px 20px;
    line-height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;

    &.active {
      background-color: $N0;
      box-shadow: 0 1px 0 0 $N10, 0 -1px 0 0 $N10;
      color: $N500;
      font-weight: 500;
    }

    &:hover {
      background-color: $N0;
      box-shadow: 0 1px 0 0 $N10, 0 -1px 0 0 $N10;
    }
  }

  .total {
    display: inline-block;
    margin-left: 8px;
    color: $N75;
    flex: 1;
  }
}

.addKey {
  margin-top: 12px;
  line-height: 20px;
  font-size: 12px;
  color: $P75;
  text-align: center;
  cursor: pointer;

  .icon {
    vertical-align: top;
    margin-right: 4px;
    margin-top: 2px;
  }

  &:hover {
    color: $P100;
  }
}

.nullKeys {
  text-align: center;
  padding: 24px 0;
  border-radius: 2px;
  background-color: $N0;
  .word1 {
    @include title-font;
    margin-top: 12px;
  }

  .word2 {
    @include note-font;
    margin: 8px 0 20px;
  }
}
