@import '~scss/vars';

.clusterDetail {
  min-width: 1000px !important;
}

.modalContent{
  .noteWord{
    font-size: 16px;
    margin-bottom: 30px;
  }
  .operation{
    text-align: center;
    button{
      margin: 0 6px;
    }
  }
}
