@import '~scss/vars';

.container {
  width: $content-width;
  margin: 0 auto;
}

.wrapper {
  margin: 0 0 25px 0;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
}

.toolbar {
  padding: 24px;
  .delete, .stop, .start{
    margin-right: 8px;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    border: solid 1px $border-lighter;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(119, 73, 172, 0.08);
    &:hover{
      background-color: #fff;
      box-shadow: 0 1px 2px 0 rgba(125, 65, 65, 0.26);
    }
  }
  .delete, .stop{
    color: $delete-btn;
    &:hover{
      border-color: $delete-btn;
    }
  }
  .start{
    color: $link-color;
    &:hover{
      border-color: $link-color;
    }
  }
  .refresh {
    border-color: $border-lighter;
    vertical-align: top;
    float: right;
  }

  .select {
    width: 176px;
    margin-left: 16px;
    vertical-align: top;

    div {
      box-shadow: none !important;
    }
  }

  .search {
    display: inline-block;
    width: 337px;
    border-color: $border-lighter;
    box-shadow: none;

    :global {
      .fa {
        color: $placeholder-color;
      }
    }

    input::placeholder {
      font-weight: 400;
      color: $placeholder-color;
    }
  }
  .buttonRight{
    float: right;
  }
  .ml12{
    margin-left: 12px;
  }
}
.tableOuter{
  margin: 0 12px;
  .handlePop{
    margin-left: 10px;
  }
}
.idLink {
  color: $id-color;
}

.status {
  text-transform: capitalize;
}

.modalContent{
  .noteWord{
    font-size: 16px;
    margin-bottom: 30px;
  }
  .operation{
    text-align: center;
    button{
      margin: 0 6px;
    }
  }
}
