@import '~scss/vars';

.layout {
  padding-top: $header-height + $tabNavs-height + 32px;
  //padding-bottom: $page-bottom;
  min-height: $main-min-height;
  width: $content-width;
  margin: 0 auto;

  .backBtn{
    //width: $content-width;
    margin: 0 auto 20px;
    font-size: $size-normal;
    line-height: 1.43;
    a{
      color: $P75;
    }
  }

  &.noTabs{
    padding-top: $header-height+32px;
  }

  .detailTab{
    position: absolute;
    top: 150px;
    left: 384px;
    background-color: #fff;
    & > div {
      top: 100px;
    }
  }

  .socketMessage {
    position: fixed;
    top: 70px;
    left: 88%;
  }
}


