@import '~scss/vars';

.layout {
  padding-top: $layout-top;
  min-height: $content-height;
  width: $content-width;
  margin: 0 auto;

  &.hasMenu,
  &.hasNav {
    margin: 0 20px ($content-bottom - $card-bottom) ($menu-width + 20px);
    min-height: calc(100vh - #{$content-bottom});
    padding-top: 0;
  }

  &.hasMenu {
    min-width: calc(#{$page-min-width} - #{$menu-width} - 40px);
    width: calc(100% - #{$menu-width} - 40px);
  }

  &.hasNav {
    min-width: calc(#{$page-min-width} - #{$menu-nav-width} - 40px);
    width: calc(100% - #{$menu-nav-width} - 40px);
    margin-left: $menu-nav-width + 20px;
  }


  &.noTabs {
    padding-top: $header-height + 32px;
  }

  .detailTab {
    position: absolute;
    top: 150px;
    left: 384px;
    background-color: #fff;
    & > div {
      top: 100px;
    }
  }

  .socketMessage {
    position: fixed;
    top: 70px;
    left: 88%;
  }
}

.centerPage {
  margin: 0 auto;
  width: calc(100% - #{$min-center-page-margin}*2);
  max-width: $max-center-page-width;
}

.pageTitle {
  margin: 18px 0;
  line-height: 28px;
  font-size: 16px;
  font-weight: 500;
  color: $N500;

  &.backTitle {
    cursor: pointer;
  }

  .backIcon {
    float: left;
    margin-left: -40px;
    cursor: pointer;
  }
}
