@import '~scss/vars';

.typeVersions {
  dl {
    margin-bottom: 20px;
    overflow: hidden;
  }

  dt {
    @include normal-font;
    display: inline-block;
    width: 72px;
    padding: 6px 12px 6px 0;
    text-align: right;
  }

  dd {
    display: inline-block;
    float: right;
    width: calc(100% - 85px);
  }

  .types {
    display: inline-block;
    border-radius: 2px;
    background-color: $N0;
    //box-shadow: 0 1px 3px 0 rgba($N400, 0.07);

    > label {
      display: inline-block;
      margin-bottom: 16px;
      margin-right: -1px;
      padding: 8px 12px;
      border: 1px solid $N30;
      font-size: 14px;
      line-height: 14px;
      color: $N300;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      &.active {
        color: $P75;
        border: 1px solid $P75;
        margin-right: 0;
      }
    }
  }
}
