@import '~scss/vars';

.screenshots {
  position: relative;
  margin-bottom: 24px;
  font-size: 12px;

  .pre,
  .next {
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 30px;
    bottom: 80px;
    cursor: pointer;

    &:hover {
      svg {
        --primary-color: #{$P75};
        --secondary-color: #{$P75};
      }

      .prohibited {
        cursor: not-allowed;
        svg {
          --primary-color: #{$N75};
          --secondary-color: #{$N75};
        }
      }
    }
  }
  .next {
    right: 10px;
  }

  .dotList {
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    text-align: center;
    .dot {
      display: inline-block;
      margin: 0 6px;
      width: 44px;
      height: 6px;
      border-radius: 3px;
      background-color: $grey;
      cursor: pointer;
    }
    .active {
      background-color: $P75;
    }
  }
  .listOuter {
    position: relative;
    margin: 0 36px 70px;
    height: $picture-height + $picture-margin*2;
    width:  $picture-width *2 + $picture-margin*5;
    overflow: hidden;

    .pictureList {
      position: absolute;
      left: 0;
      bottom: 0;
      width: ($picture-width + $picture-margin*3)*6;
      transition: all 0.5s ease-in-out;
    }
  }

  .pictureOuter {
    float: left;
    width: $picture-width + $picture-margin*2;
    height: $picture-height + $picture-margin*2;
    background-color: $background-color;
    margin-right: $picture-margin;

    .picture {
      margin: $picture-margin;
      width: $picture-width;
      height: $picture-height;
      //box-shadow: 0 2px 10px 1px rgba(20, 8, 32, 0.2);
      //background: transparent;
      text-align: center;
      line-height: $picture-height;
      font-size: 30px;
      cursor: pointer;

      img {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(#000, 0.8);

  .viewCont {
    position: relative;
    top: 100px;
    display: flex;

    .overlayPic {
      margin: 0 auto;
      height: 600px;
    }

    .pre {
      :global {
        .icon {
          position: fixed;
          float: left;
          top: 50%;
          left: 10px;
          cursor: pointer;
        }
      }
    }

    .next {
      :global {
        .icon {
          position: fixed;
          float: right;
          top: 50%;
          right: 10px;
          cursor: pointer;
        }
      }
    }
  }

  .closeOverlay {
    float: right;
    position: fixed;
    top: $header-height + 10px;
    right: 20px;
    z-index: 2;
    width: 35px;
    height: 35px;
    background: #c1c0c0;
    border-radius: 50%;

    :global {
      .icon-close {
        right: 3px;
      }
    }
  }
}
