/* Color palette */

$P500: #3212a0;
$P400: #4921ad;
$P300: #5628b4;
$P200: #6430bd;
$P100: #6d35c3;
$P75: #8454cd;
$P65: #9b74d6;
$P45: #b79de2;
$P30: #d3c4ed;
$P10: #efe6f8;
$Y500: #ef762b;
$Y400: #f4912e;
$Y300: #f6a132;
$Y200: #f7b236;
$Y100: #fabf3a;
$Y75: #fac846;
$Y65: #fbd360;
$Y45: #fcdf8c;
$Y30: #fdebb9;
$Y10: #fff8e4;
$G500: #00622f;
$G400: #088342;
$G300: #15934e;
$G200: #1ea65b;
$G100: #29b565;
$G75: #50c17c;
$G65: #73cc93;
$G45: #9bdab2;
$G30: #c3e9d0;
$G10: #e8f6ec;
$B500: #263ab9;
$B400: #235cd8;
$B300: #1e6eeb;
$B200: #1480ff;
$B100: #0090ff;
$B75: #2fa0ff;
$B65: #5ab2ff;
$B45: #8cc8ff;
$B30: #baddff;
$B10: #e3f2ff;
$R500: #b22a26;
$R400: #c23332;
$R300: #cf3939;
$R200: #e24240;
$R100: #f04c41;
$R75: #eb5959;
$R65: #e17779;
$R45: #ec9d9e;
$R30: #fdcfd3;
$R10: #feecef;
$N500: #343945;
$N400: #474e5d;
$N300: #576075;
$N200: #69748c;
$N100: #78839e;
$N75: #8c96ad;
$N65: #a2a9be;
$N45: #bcc2d1;
$N30: #d5dae5;
$N10: #eff0f5;
$N0: #ffffff;
//$body-background-color: #bcc2d126;

