$form-item-margin-bottom: 24px;

$form-label-width: 168px;
$form-label-margin-right: 24px;
$form-input-normal: 256px;
$form-input-large: 441px;
$form-input-small: 128px;

$form-label-width: 27.58%;

$form-field-label-font-size: 14px;
$form-field-label-line-height: 1.125rem;
$form-field-gap: 1.25rem;

$form-field-main-gap: 1.5rem;
$form-field-secondary-gap: 0.5rem;
