$content-width: 1128px;
$columns: 12;
$grid-gap: 24px;
$grid-width: 72px;

$layout-margin: 156px;

// basic
$nav-width: 264px;
$header-height: 48px;
$tabNavs-height: 48px;
$banner-height: 400px;
$footer-height: 64px;
$base-margin: 24px;
$card-width: 264px;

$page-bottom: 48px;
$main-height: calc(100vh);

// card
$app-card-width: 264px;
$app-card-height: 207px;

// logo
$logo-width: 142px;
$logo-height: 16px;
