$content-width: 1276px;
$page-min-width: 1276px;
$content-top: 32px;
$content-bottom: 84px;
$menu-nav-width: 64px;
$menu-sub-nav-width: 192px;
$menu-width: $menu-nav-width + $menu-sub-nav-width;
$columns: 12;

$home-nav-width: 280px;

$max-center-page-width: 1200px;
$min-center-page-margin: 30px;

$card-padding: 24px;
$card-bottom: 24px;
$grid-gap: 20px;  // gap for normal layout
$grid-gap-dev: 20px;  // gap for dev/admin layout
//$grid-width: 72px;
$grid-width: calc(100% + #{$grid-gap}) / 12;
$grid-width-dev: calc(100% + #{$grid-gap-dev}) / 12;

$layout-margin: 156px;

// basic
$nav-width: 264px;
$header-height: 48px;
$title-banner-height: 108px;
$search-banner-height: 240px;
$layout-top: $header-height + $title-banner-height + 40px;
$tabNavs-height: 48px;
$banner-height: 400px;
$footer-height: 72px;
$footer-padding-top: 84px;
$content-height: calc(100vh - #{$footer-height} - #{$footer-padding-top});
$base-margin: 24px;
$card-width: 264px;
$create-content-width: 1128px;

$main-height: calc(100vh);
$main-min-height: 650px;


// card
$app-card-width: 264px;
$app-card-height: 207px;

// logo
$logo-width: 142px;
$logo-height: 16px;

// screenshots picture setting
$picture-width: 290px;
$picture-height: 200px;
$picture-margin: 10px;

$menu-layer-width: 180px;

$large-layout-width: 756px;
