$icon-prefix: qicon;
$icon-size-config: 'mini' 16px, 'small' 24px, 'medium' 32px, 'large' 64px, 'ex-large' 64px;

$icon-button-border-radius: 3px;
// todo
$icon-button-active-background-color: #fff - 1;
$icon-button-hover-background-color: #aaa - 1;
$icon-button-disabled-opacity: .5;