/* Text styles */

$family-sans-serif: "Roboto", "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
$family-monospace: Inconsolata,Consolas,Monaco,monospace;

$family-primary: $family-sans-serif;

$body-size: 14px; // back compat
$size-small: 12px;
$size-normal: 14px;
$size-medium: 16px; // 中号字体
$size-large: 28px;

//font-size setting
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font32: 32px;
$font40: 40px;

@import "./zeplin-text-mixins";