@import '~scss/vars';

.main {
  color: $N75;
  font-size: $size-small;

  strong {
    color: $N500;
    font-weight: 500;
  }
  .actions + .actions {
    border-top: 1px solid $N10;
  }
}

.actions {
  margin: 16px 0;
}

.header {
  font-size: $size-normal;
  color: $N500;
  margin: 16px 0;
}

.tree {
  margin: 5px 0 10px;
  ul ul li {
    display: inline-block;
  }
  :global {
    ul ul.rc-tree-child-tree-open {
      display: inline-block;
    }
  }
}
