@import '~scss/vars';

.card {
   display: inline-block;
   width: $app-card-width;
   height: $app-card-height;
   padding: 40px 20px 20px;
   margin: 0 24px 24px 0;
   border-radius: 2px;
   //border: 1px solid $border-light;
   background-color: $N0;
   transition: all .3s ease-in-out;
   text-align: center;
   box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06), 0 4px 8px 0 rgba(35, 35, 36, 0.04);
  p {
     margin: 0;
   }
   .title{
     .icon {
       //float: left;
       display: inline-block;
       width: 48px;
       height: 48px;
       margin-bottom: 12px;
       border-radius: 2px;
       line-height: 48px;
       text-align: center;
       img{
         max-width: 100%;
         max-height: 100%;
       }
     }
     .name{
       line-height: 16px;
       margin-bottom: 12px;
       font-weight: bold;
       color: $N500;
       width: 100%;
       @include textCut;
     }
   }

   .line {
     height: 1px;
     border-radius: 3px;
     background-color: $N10;
   }
   .desc{
     margin-top: 12px;
     font-size: $font12;
     letter-spacing: 0;
     color: $N100;
     @include descHide(20px, 2);
   }
   &:hover {
     transform: translate3d(0, -12px, 0);
     box-shadow:  0 1px 4px 0 rgba(73, 33, 173, 0.1), 0 4px 8px 0 rgba(35, 35, 36, 0.08);;
    // box-shadow: 0 2px 8px 0 rgba(48, 14, 86, 0.08), 0 2px 10px 0 rgba(48, 14, 86, 0.04), 0 6px 20px 0 rgba(48, 14, 86, 0.16), 0 0 16px 0 rgba(48, 14, 86, 0.04);
   }
 }

.foldCard {
  height: 72px;
  padding: 18px 16px;
  text-align: left;
  position: relative;
  .title{
    .icon {
      float: left;
      width: 36px;
      height: 36px;
      line-height: 36px;
    }
    .name {
      margin-left: 48px;
      margin-bottom: 0;
      width: auto;
    }
    .desc {
      //height: auto;
      margin-top: 0px;
      margin-left: 48px;
     @include textCut;
    }
  }
}

.hide {
  display: none;
}
