@import '~scss/vars';

.card {
   display: inline-block;
   width: $card-width;
   padding: 16px 24px 24px;
   margin: 24px 24px 0 0;
   border-radius: 3px;
   border: 1px solid $border-light;
   background-color: #ffffff;
   transition: all .3s ease-in-out;
   text-align: left;
   p {
     margin: 0;
   }
   .title{
     .icon {
       float: left;
       display: inline-block;
       width: 48px;
       height: 48px;
       margin-bottom: 16px;
       border-radius: 4px;
     }
     .name{
       height: 48px;
       line-height: 16px;
       margin-left: 64px;
       margin-bottom: 12px;
       font-weight: bold;
       color: $title-color;
     }
   }

   .line {
     height: 1px;
     border-radius: 3px;
     background-color: $grey-light;
   }
   .desc{
     margin-top: 12px;
     height: 72px;
     line-height: 1.29;
     color: rgba($title-color, 0.7);
     overflow: hidden;
   }
   &:hover {
     transform: translate3d(0, -10px, 0);
     box-shadow: 0 2px 8px 0 rgba(48, 14, 86, 0.08), 0 2px 10px 0 rgba(48, 14, 86, 0.04), 0 6px 20px 0 rgba(48, 14, 86, 0.16), 0 0 16px 0 rgba(48, 14, 86, 0.04);
   }
 }

.foldCard {
  padding: 12px 15px 12px;
  text-align: left;
  position: relative;
  .icon {
    margin: 0 14px 0 0;
    float: left;
  }
  .title{
    .icon {
      margin-bottom: 0;
    }
    .name {
      height: auto;
      margin: 0;
    }
    .desc {
      height: auto;
      margin-left: 62px;
      margin-top: 11px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $text-color;
    }
  }
  &:hover {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 2px 8px 0 rgba(48, 14, 86, 0.08), 0 2px 10px 0 rgba(48, 14, 86, 0.04), 0 6px 20px 0 rgba(48, 14, 86, 0.16), 0 0 16px 0 rgba(48, 14, 86, 0.04);
  }
}

.hide {
  display: none;
}