@import '~scss/vars';

$card-width: 303px;
$card-height: 208px;

.card {
   float: left;
   display: inline-block;
   position: relative;
   width: $card-width;
   height: $card-height;
   padding: 32px 44px;
   margin: 0 24px 24px 0;
   border-radius: 2px;
   border: 1px solid $N0;
   background-color: $N0;
   transition: all .3s ease-in-out;
   text-align: center;
   box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06), 0 4px 8px 0 rgba(35, 35, 36, 0.04);
   cursor: pointer;
   overflow: hidden;

  .icon {
    width: 48px;
    height: 48px;
    top: 20px;
    margin: 0 auto 12px;
    transition:all 0.3s ease;
    position: relative;
  }
  .name {
    font-family: Roboto sans-serif;
    font-size: 14px;
    color: #343945;
    text-align: center;
    line-height: 28px;
    margin-bottom: 8px;
    transition-delay: 1s;
    transition:all 0.3s ease;
    position: relative;
    left: 0;
    width: 100%;
    height: 28px;
    top: 12px;
  }
  .desc {
    font-family: Roboto-Regular sans-serif;
    font-size: $size-small;
    color: #8C96AD;
    text-align: center;
    line-height: 20px;
    position: relative;
    top: 8px;
    p {
      @include textCut;
    }
  }
  .attrs {
    display: block;
    opacity: 0;
    position: relative;
    bottom: -50px;
    transition:all 0.3s ease;
    dt {
      font-size: 12px;
      color: #8C96AD;
      line-height: 20px;
      display: inline-block;
    }

    dd {
      font-size: 12px;
      color: #576075;
      line-height: 20px;
      display: inline-block;
      margin-left: 0;
    }
    dl {
      margin: 0;
    }
    .label {
      margin-right: 4px;
    }
  }


  &:hover {
    background: $N0;
    border: 1px solid $P45;
    border-position: inside;
    box-shadow: 0 3px 4px 0 rgba(134,145,156,0.04), 0 0 8px 0 rgba(119,133,146,0.04);
    cursor: pointer;
    text-align: left;
    padding: 28px 24px;

    .icon {
      margin: 0;
      vertical-align: middle;
      background-position: left;
      left: -6px;
      transform: scale(0.75);
      float: left;
      top: -6px;
    }

    .name {
      text-align: left;
      left: 2px;
      top: 4px;
      line-height: 28px;
      vertical-align: middle;
      margin-left: 8px;
      height: 28px;
    }
    .desc {
      color: #8C96AD;
      line-height: 20px;
      text-align: left;
      margin-top: 4px;
      margin-bottom: 28px;
      clear: both;
    }
    .attrs {
      bottom: 0;
      opacity: 1;
    }
  }
 }


