@import '~scss/vars';

.tagShow {
  display: inline-block;
  margin-right: 15px;
  .inner {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    line-height: 1;
    border-radius: 9.5px;
    background-color: $N0;
    border: solid 1px $Y45;
    color: $Y500;
  }
  .name {
    display: inline-block;
    padding: 3px 5px 3px 12px;
    overflow: auto;
  }
  .content {
    float: right;
    display: inline-block;
    padding: 3px 12px 3px 5px;
    background-color: $Y45;
    border-radius: 0 9.5px 9.5px 0;
    max-width: 49%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.purple {
  display: block;
  margin-right: 0;
  &:last-child {
    .inner {
      margin-bottom: 0;
    }
  }
  .inner {
    border: solid 1px $P30;
    color: $P100;
    margin-bottom: 10px;
  }
  .content {
    background-color: $P30;
  }
}
.purple2 {
  .inner {
    border: solid 1px $P30;
    color: $P100;
  }
  .content {
    background-color: $P30;
  }
}
