@import "~scss/variables";

.home {

}
.content{
  position: relative;
  width: $content-width;
  height: $main-height;
  margin: 0 auto;
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: $nav-width;
    height: 100%;
    border-right: 2px solid $border;
  }
  .apps {
    margin-left: 288px;
    padding-bottom: 95px;
  }
  &.fixNav {
    height: auto;
    .nav {
      position: fixed;
      top: $header-height;
      left: calc(50vw - #{$content-width}/2);
      height: 100%;
    }
  }
}