@import "~scss/vars";

.tdName {
  display: inline-block;
  :global{
   .icon{
      float: left;
      margin: 4px 4px 0 0;
    }
  }
  .image{
    display: inline-block;
    float: left;
    margin: 3px 12px 3px 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
  }
  .info{
    display: inline-block;
    .name{
      display: block;
      line-height: 16px;
      font-weight: 500;
      text-align: left;
      color: $text-color;
      max-width: 120px;
      overflow: hidden;
      white-space: nowrap;
      &:hover{
        color: $link-hover;
      }
    }
    .description{
      display: inline-block;
      line-height: 14px;
      font-size: $size-small;
      color: #a6a1ab;
      max-width: 116px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    :global{
      .copy{
        float: right;
        position: relative;
        bottom: 5px;
        cursor: pointer;
      }
      td:hover .fa-clipboard{
        color: $link-hover;
      }
    }
  }
}
.repoName {
  line-height: 24px;
  :global{
    .icon {
      float: left;
      margin-right: 2px;
    }
  }
}


