@import '~scss/vars';

.tdName {
  display: flex;
  height: 36px;
  :global {
    .icon {
      float: left;
      margin: 4px 0 0 0;
    }
  }
  .image {
    display: inline-block;
    float: left;
    margin-right: 8px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .info {
    display: inline-block;
    &.flexCenter {
      display: inline-flex;
      align-items: center;
    }
    &:hover {
      :global {
        .copy {
          visibility: visible;
        }
      }
    }
    .name {
      display: block;
      line-height: 20px;
      font-weight: 500;
      font-size: 14px;
      text-align: left;
      color: $N500;
      max-width: 150px;
      @include textCut;
      &:hover {
        color: $link-hover;
      }
    }
    .foldName {
      display: block;
      line-height: 20px;
      font-weight: 500;
      text-align: left;
      color: $N500;
      width: 180px;
      @include textCut;
      &:hover {
        color: $link-hover;
      }
    }
    .description {
      display: inline-block;
      line-height: 16px;
      font-size: 12px;
      color: $N75;
      max-width: 150px;
      @include textCut;
    }

    :global {
      .copy {
        visibility: hidden;
        float: right;
        position: relative;
        bottom: 5px;
        cursor: pointer;
      }
    }
  }
}
.repoName {
  float: left;
  max-width: 150px;
  line-height: 24px;
  @include textCut;
  color: $N300;

  :global {
    .icon {
      float: left;
      margin-top: 2px;
      margin-right: 4px;
    }
  }
}
:global {
  .smallId {
    [class*='name'] {
      width: 95px !important;
    }
    [class*='description'] {
      width: 75px !important;
    }
  }
  .largeShow {
    [class*='name'] {
      //width: 240px !important;
    }
    [class*='description'] {
      //width: 240px !important;
    }
  }
}
