@import "~scss/vars";

.tdName {
  display: flex;
  :global{
   .icon{
      float: left;
      margin: 4px 0 0 0;
    }
  }
  .image{
    display: inline-block;
    float: left;
    //margin: 3px 12px 3px 0;
    margin: 5px 12px 3px 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .info{
    display: flex;
    &:hover {
      :global {
        .copy {
          visibility: visible;
        }
      }
    }
    .name{
      display: block;
      line-height: 20px;
      font-weight: 500;
      text-align: left;
      color: $N500;
      width: 110px;
      @include textCut;
      &:hover{
        color: $link-hover;
      }
    }
    .foldName {
      display: block;
      line-height: 20px;
      font-weight: 500;
      text-align: left;
      color: $N500;
      width: 180px;
      @include textCut;
      &:hover{
        color: $link-hover;
      }
    }
    .description{
      display: inline-block;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include idText;
    }

    :global{
      .copy{
        visibility: hidden;
        float: right;
        position: relative;
        bottom: 5px;
        cursor: pointer;
      }
    }
  }
}
.repoName {
  float: left;
  max-width: 150px;
  line-height: 24px;
  @include textCut;
  color: $N300;

  :global{
    .icon {
      float: left;
      margin-top: 2px;
      margin-right: 4px;
    }
  }
}
:global {
  .smallId {
    [class*='name'] {
      width: 95px !important;
    }
    [class*='description'] {
      width: 75px !important;
    }
  }
  .largeShow{
    [class*='name'] {
      //width: 240px !important;
    }
    [class*='description'] {
      //width: 240px !important;
    }
  }
}

