@import "~scss/vars";

.tdName {
  display: inline-block;
  :global{
   .icon{
      float: left;
      margin: 4px 4px 0 0;
    }
  }
  .image{
    display: inline-block;
    float: left;
    margin: 3px 12px 3px 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .info{
    display: inline-block;
    &:hover {
      :global {
        .copy {
          visibility: visible;
        }
      }
    }

    .name{
      display: block;
      line-height: 16px;
      font-weight: 500;
      text-align: left;
      color: $N500;
      max-width: 120px;
      @include textCut;
      &:hover{
        color: $link-hover;
      }
    }
    .description{
      display: inline-block;
      width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include idText;
    }

    :global{
      .copy{
        visibility: hidden;
        float: right;
        position: relative;
        bottom: 5px;
        cursor: pointer;
      }
    }
  }
}
.repoName {
  float: left;
  width: 100px;
  line-height: 16px;
  @include textCut;
  color: $N300;
  :global{
    .icon {
      float: left;
      margin-right: 2px;
    }
  }
}
:global {
  .smallId {
    [class*='name'] {
      max-width: 100px !important;
    }
    [class*='description'] {
      width: 75px !important;
    }
  }
}

