@import "~scss/vars";

.tdName {
  display: inline-block;
  .image{
    display: inline-block;
    float: left;
    margin: 3px 12px 3px 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
  }
  .info{
    display: inline-block;
    .name{
      display: block;
      line-height: 16px;
      font-weight: 500;
      text-align: left;
      color: $text-color;
      max-width: 120px;
      overflow: hidden;
      white-space: nowrap;
      &:hover{
        color: $link-hover;
      }
    }
    .description{
      display: inline-block;
      line-height: 14px;
      font-size: $size-small;
      color: #a6a1ab;
      max-width: 116px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    :global{
      .fa-clipboard{
        float: right;
        margin-left: 2px;
        font-size: 12px;
        color: $title-color;
        cursor: pointer;
      }
      td:hover .fa-clipboard{
        color: $link-hover;
      }
    }
  }
  .copyTip{
    display: inline-block;
  }
}


