@import "~scss/vars";

.section {
  margin-left: 64px;
  .title {
    margin-bottom: 16px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 500;
    color: $N500;
  }
  .content {
    line-height: 24px;
    font-size: 14px;
    color: $N300;
  }
}

.introCard {
  padding: 32px;
  border-radius: 2px;
  margin-bottom: 84px;
}

.detailCard{
  margin-bottom: 24px;
  padding: 32px;
  overflow: hidden;
}

.versionItem{
  margin-bottom: 32px;
  .title{
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0;
    color: $N500;
  }
  .value, .value a{
    font-size: 14px;
    line-height: 1.14;
    color: $P75;
    word-break: break-all;
    word-wrap: break-word;
  }
  .linkItem {
    margin-top: 4px;
  }
}

.deployBtn {
  margin-top: 16px;
  width: 100%;
  box-shadow: 0 3px 4px 0 rgba(102, 38, 175, 0.2);
}

.versions{
  margin-top: 32px;
  overflow: scroll;
  &>p{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0;
    color: $N500;
  }
  li {
    line-height: 30px;
    font-size: 14px;
    color: $P75;
    .name {
      display: inline-block;
      max-width: 200px;
      @include textCut;
    }
    .time {
      float: right;
    }

    &.draft {
      color: $B75;
    }

    &.submitted {
      color: $Y300;
    }

    &.passed {
      color: $G75;
    }

    &.active {
      color: $P75;
      .time {
        color: $N300;;
      }
    }

    &.suspended, &.deleted {
      color: $N500;
    }

    &.rejected {
      color: $R200;
    }
  }
}

.reviewContent {
  position: fixed;
  left: 248px;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 72px;
  padding: 20px;
  background-color: $B10;
  color: $B75;
  line-height: 32px;

  .dot {
    float: left;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 8px 8px;
    background-color: $B75;
  }

  &.draft {
    background-color: $B10;
    color: $B75;
    .dot {
      background-color: $B75;
    }
  }

  &.submitted {
    background-color: $Y10;
    color: $Y300;
    .dot {
      background-color: $Y300;
    }
  }

  &.passed {
    background-color: $G10;
    color: $G75;
    .dot {
      background-color: $G75;
    }
  }

  &.active {
    background-color: $P10;
    color: $P75;
    .dot {
      background-color: $P75;
    }
  }

  &.suspended, &.deleted {
    background-color: $N10;
    color: $N500;
    .dot {
      background-color: $N500;
    }
  }

  &.rejected {
    background-color: $R10;
    color: $R200;
    .dot {
      background-color: $R200;
    }
  }

  .operateBtns {
    float: right;

    button {
      margin-left: 12px;
    }
  }
}

.reason{
 width: 100%;
}
