@import '~scss/vars';

.createOuter {
  top: 0;
  margin: 0;
}

.appBase {
  margin-bottom: 32px;

  .icon {
    float: left;
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-right: 12px;

    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }

  .title {
    @include title-font;
  }
  .abstraction {
    @include note-font;
    .word {
      @include textCut;
      display: inline-block;
      max-width: 400px;
    }

    .category {
      float: right;

      & > label {
        color: $N300;
      }
    }
  }
}

.typeVersions {
  margin-left: 40px;
  margin-bottom: 32px;

  dl {
    margin-bottom: 20px;
    height: 32px;
  }

  dt {
    @include normal-font;
    display: inline-block;
    width: 72px;
    padding: 6px 12px 6px 0;
    text-align: right;
  }

  dd {
    display: inline-block;
  }
}

.detailTabs {
  margin: 0 -24px;
  padding: 0 24px 0 84px;
}

.appDetail {
  margin: 24px 24px 24px 60px;
  font-size: 12px;

  .title {
    @include title-font;
    margin-bottom: 12px;
  }

  .description {
    margin-bottom: 24px;
    line-height: 24px;
  }
}

.instructions {
  padding: 24px 24px 24px 60px;
  font-size: 12px;
}

.providerInfo {
  .title,
  .company {
    @include title-font;
    margin-bottom: 20px;
  }

  .number {
    @include note-font;
    margin-bottom: 4px;
  }

  .company {
    font-size: 16px;
  }

  dl {
    margin-bottom: 20px;
  }

  dt {
    @include note-font;
    margin-bottom: 4px;
  }

  dd {
    @include normal-font;

    .stars {
      display: inline-block;
      float: left;
      margin-right: 8px;
      width: 22px;
      height: 16px;
      font-size: 18px;
      font-weight: bold;
      color: $N300;
    }
  }
}
