@import "~scss/vars";

.wrapper {
  width: $content-width;
  margin: 0 auto;
}

.detail {
  display: table;
  width: 100%;
  vertical-align: top;
  .intro {
    margin: 0 24px 24px 0;
    width: 744px;
    padding: 0 24px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px rgba(48, 14, 86, 0.1);
    .markdown{
      margin: 22px 0 0 70px;
    }
    .titleOuter{
      padding: 30px 0;
      border-bottom: 1px solid rgba(48, 14, 86, 0.12);
    }
    .icon {
      float: left;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      border: solid 1px #e2d0f2;
    }
    .title {
      margin-left: 70px;
      margin-bottom: 4px;
      line-height: 24px;
      font-size: 20px;
      font-weight: bold;
      color: $title-color;
    }
    .carousel {
      float: right;
      line-height: 18px;
      font-size: 14px;
      color: $text-color;
    }
    .desc {
      margin-left: 70px;
      line-height: 18px;
      font-size: 14px;
      color: $text-color
    }
    .section {
      margin: 22px 0 0 70px;
    }
    .conTitle{
      margin: 8px 0;
      line-height: 21px;
      font-size: 18px;
      font-weight: 500;
      color: $title-color;
    }
    .description{
      line-height: 24px;
      font-size: 14px;
      letter-spacing: 0;
      color: #576075;
    }
    .information{
      padding-bottom: 30px;
      dl{
        line-height: 30px;
        font-size: 14px;
        font-weight: normal;
      }
      dt{
        display: inline-block;
        width: 120px;
        color: #667380;
        font-weight: normal;
      }
      dd{
        display: inline-block;
        color: #667380;
      }
    }
  }
  .slider{
    position: relative;
    .pre,.next{
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 30px;
      bottom: 80px;
      cursor: pointer;
    }
    .pre{
      left: 10px;
    }
    .next{
      right: 10px;
    }
    .dotList{
      position: absolute;
      bottom: -35px;
      left: 0;
      width: 100%;
      text-align: center;
      .dot{
        display: inline-block;
        margin: 0 6px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: $grey;
        cursor: pointer;
      }
      .active{
        width: 44px;
        background-color: $link-hover;
      }
    }
    .listOuter{
      position: relative;
      margin: 40px 40px 70px;
      height: 220px;
      overflow: hidden;
      .pictureList{
        position: absolute;
        left: 0;
        bottom:0;
        width: 1200px;
      }
    }
    .pictureOuter{
      float: left;
      width: 270px;
      height: 213px;
      background-color: #eff0f5;
      margin-right: 6px;
      .picture{
        margin: 20px 25px;
        width: 220px;
        height: 170px;
        border-radius: 3px;
        box-shadow: 0 2px 10px 1px rgba(20, 8, 32, 0.2);
        background: #2f0d56;

        color: red;
        text-align: center;
        line-height: 170px;
        font-size: 30px;
      }
    }
  }
  .meta {
    display: table-cell;
    vertical-align: top;
    width: 360px;
    .detailCard{
      margin-bottom: 24px;
      padding: 36px;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0 1px 2px 1px rgba(48, 14, 86, 0.1);
      .item{
        margin-bottom: 24px;
        .title{
          margin-bottom: 4px;
          line-height: 24px;
          font-size: 14px;
          font-weight: 500;
          color: #300e56;
        }
        .value{
         line-height: 24px;
          font-size: 14px;
          color: #7749ac;
        }
      }
    }
    .deployBtn {
      margin-top: 16px;
      width: 100%;
      box-shadow: 0 3px 4px 0 rgba(102, 38, 175, 0.2);
    }
    .versions{
      margin-top: 36px;
      &>p{
        margin-bottom: 6px;
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
        color: $title-color;
      }
      li{
        line-height: 30px;
        font-size: 14px;
        color: #7749ac;
        .time{
          float: right;
          color: #4c4752;
        }
      }
     }
  }
}
