@import "~scss/vars";

.section {
  margin-left: 64px;

  .title {
    margin: 8px 0;
    line-height: 21px;
    font-size: 18px;
    font-weight: 500;
    color: $title-color;
  }
  .content {
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0;
    color: #576075;
  }
}

.introCard {
  padding: 32px;
}

.detailCard{
  margin-bottom: 24px;
  padding: 36px;
}

.versionItem{
  margin-bottom: 24px;
  .title{
    margin-bottom: 4px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #300e56;
  }
  .value{
    line-height: 24px;
    font-size: 14px;
    color: #7749ac;
    width: 100%;
    @include textCut;
  }
}

.deployBtn {
  margin-top: 16px;
  width: 100%;
  box-shadow: 0 3px 4px 0 rgba(102, 38, 175, 0.2);
}

.versions{
  margin-top: 36px;
  &>p{
    margin-bottom: 6px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: $title-color;
  }
  li{
    line-height: 30px;
    font-size: 14px;
    color: #7749ac;
    .time{
      float: right;
      color: #4c4752;
    }
  }
}
