.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .preload {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
  }

  .loaded {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease;
  }
}

.fadeIn {
  opacity: 1 !important;
}
