@import '~scss/vars';

.certificateInfo {
  .title {
    @include note-font;
    margin-bottom: 20px;
  }

  dl {
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 12px;
    color: $N300;

    dt {
      float: left;
      display: inline-block;
      margin-right: 20px;
      width: 60px;
      font-weight: 500;
      color: $N500;
    }

    dd {
      margin-left: 80px;
    }

    &:nth-child(3n + 3) {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 16px;
    }
  }

  &.enInfo {
    dt {
      width: 118px;
    }
    dd {
      margin-left: 138px;
    }

  }
}

.blankInfo {
  padding: 96px 0;
  text-align: center;

  .word {
    @include note-font;
    margin-top: 8px;
  }
}
