@import '~scss/vars';

.histogram {
  float: right;
  display: inline-block;
  margin-right: 12px;
  .column {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 4px;
    margin-top: 4px;
    margin-right: 8px;
    background: $N10;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover .tips {
      display: inline-block;
    }
    .inner {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4px;
      height: 0;
      background-color: $P75;
    }
    .tips {
      position: absolute;
      bottom: 25px;
      z-index: 2;
      display: none;
      min-width: 90px;
      margin-left: -12px;
      height: 50px;
      padding: 8px 12px 10px;
      border-radius: 2px;
      background-color: $N500;
      box-shadow: 0 2px 4px 0 rgba(71, 78, 93, 0.2);
      .arrow {
        position: absolute;
        bottom: -3px;
        left: 10px;
        border-top: 4px solid $N500;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }
      .number {
        margin-bottom: 4px;
        line-height: 14px;
        font-size: 12px;
        font-weight: 500;
        color: $N0;
      }
      .date {
        max-width: 90px;
        line-height: 14px;
        font-size: 12px;
        color: $N65;
        @include textCut;
      }
    }
  }
}
