@import '~scss/variables';

.title{
  height: 24px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: $title-color;
}
.container {
  width: $content-width;
  margin: 0 auto;
}

.toolbar {
  padding: 24px 0;
  .search {
    display: inline-block;
    width: 337px;
    border-color: $border-lighter;
    box-shadow: none;
    :global {
      .fa {
        color: $placeholder-color;
      }
    }

    input::placeholder {
      font-weight: 400;
      color: $placeholder-color;
    }
  }
  .buttonRight {
    float: right;
  }
  .ml12 {
    margin-left: 12px;
  }
}



