@import '~scss/vars';

.versions {
  .title {
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 12px;
    color: $N75;
  }

  .addMethod {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0 32px;
    height: 92px;
    background-color: $N0;

    &:last-child {
      margin-bottom: 32px;
    }

    .name {
      float: left;
      padding: 34px 0;
      width: 98px;
      line-height: 24px;
      font-size: 20px;
      font-weight: 500;
      color: $N300;
      border-right: 1px solid $N10;
    }

    .icon {
      float: left;
      margin-right: 8px;
    }

    .versions {
      padding: 30px 0 30px 30px;
      height: 32px;
      overflow: hidden;

      .total {
        float: left;
        display: inline-block;
        margin-right: 28px;
        line-height: 32px;
        font-size: 12px;
        color: $N300;
      }

      .version {
        float: left;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 8px;
        width: 132px;
        height: 32px;
        border-radius: 2px;
        background-color: $B10;
        padding: 8px 10px;
        line-height: 16px;
        font-size: 14px;
        font-weight: 500;
        color: $N500;
        cursor: pointer;
        @include textCut;

        .dot {
          float: left;
          display: inline-block;
          margin: 5px 10px 5px 8px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $B75;
        }

        &.draft {
          background: $B10;
          .dot {
            background-color: $B75;
          }
          &:hover {
            background: $B30;
          }
        }

        &.submitted {
          background: $Y10;
          .dot {
            background-color: $Y300;
          }
          &:hover {
            background: $Y30;
          }
        }

        &.passed {
          background-color: $G10;
          .dot {
            background-color: $G75;
          }
          &:hover {
            background: $G30;
          }
        }

        &.active {
          background: $P10;
          .dot {
            background-color: $P75;
          }
          &:hover {
            background: $P30;
          }
        }

        &.suspended {
          background: $N10;
          .dot {
            background-color: $N500;
          }
          &:hover {
            background: $N30;
          }
        }

        &.rejected {
          background: $R10;
          .dot {
            background: $R200;
          }
          &:hover {
            background: $R30;
          }
        }
      }
    }
  }

  .otherMethod {
    position: relative;
    margin-bottom: 20px;
    padding: 24px;
    border: 1px solid $N10;

    .name {
      margin-bottom: 4px;
      height: 20px;
      font-size: 16px;
      font-weight: 500;
      color: $N500;
    }

    .icon {
      float: left;
      margin-right: 8px;
    }

    .description {
      padding-left: 28px;
      line-height: 20px;
      font-size: 12px;
      color: $N75;
    }

    .button {
      display: none;
      position: absolute;
      top: 29px;
      right: 24px;
    }

    .addIcon {
      float: left;
      margin-right: 4px;
    }

    &:hover {
      background-color: $N0;
      border-color: $P75;

      .button {
        display: inline-block;
      }
    }
  }
}
