@import '~scss/variables';

.repos {
  padding-top: $header-height;
  background: $background-color;
  .pageTitle{
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: $title-color;
  }
  .container {
    width: $content-width;
    margin: 0 auto;
  }
}

.toolbar {
  padding: 24px 0;
  .search {
    display: inline-block;
    width: 337px;
    border-color: $border-lighter;
    box-shadow: none;
    :global {
      .fa {
        color: $placeholder-color;
      }
    }

    input::placeholder {
      font-weight: 400;
      color: $placeholder-color;
    }
  }
  .buttonRight {
    float: right;
  }
  .ml12 {
    margin-left: 12px;
  }
}
.categories{
  text-align: center;
  padding: 12px 0;
  .line{
    display: inline-block;
    width: 330px;
    height: 1px;
    border-bottom: 1px solid #e2d0f2;
  }
  .word{
    display: inline-block;
    position: relative;
    bottom: 11px;
    padding: 0 7px;
    line-height: 24px;
    font-size: 12px;
    color: $third-text-color;
    background: $background-color;
  }
}
.repoContent {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 12px;
  height: 150px;
  padding: 24px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  .inner {
    height: 74px;
    .operation{
      float: right;
      color: #5f3a89;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .cloumn {
    display: inline-block;
    float: left;
    margin-bottom: 16px;
    &:nth-child(1) {
      width: 420px;
      margin-right: 120px;
    }
    &:nth-child(2) {
      width: 180px;
      margin-top: 8px;
    }
    &:nth-child(3) {
      width: 320px;
      margin-top: 8px;
    }
  }
  .titleName {
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: $title-color;
  }
  .description {
    line-height: 17px;
    font-size: 12px;
    text-align: left;
    color: $grey-word;
  }
  .title {
    line-height: 24px;
    font-size: 12px;
    color: $grey-word;
  }
}


