@import "~scss/vars";

$profile-hover-color: #efe6f8;

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  background: none;

  .wrapper {
    width: $content-width;
    margin: 0 auto;
  }

  .logo {
    width: $logo-width;
    height: $logo-height;
    display: inline-block;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
  }

  .search {
    float: right;
    display: inline-block;
    min-width: 240px;
    margin-right: 20px;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
    vertical-align: top;
    input {
      //width: 240px;
      color: rgba(#ffffff, 0.7);
      font-weight: 400;
      font-size: $size-normal;
      border-radius: 16px;
      border-color: transparent;
      background-color: rgba(#ffffff, 0.1);
      transition: color 1s ease-in;
      &:focus{
        width: 360px;
        font-weight: normal;
        color: $N0;

      }
      &::placeholder {
        //border: solid 1px rgba(#ffffff, 0.1);
        color: $P45;
      }
    }
    &:hover{
      input{
        border: solid 1px rgba(#ffffff, 0.5);
      }
    }
  }

}

.stickyHeader {
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to left, $P75, #854fb9 32%, #484999);

  .menus, .locale {
    .translation {
      color: rgba($title-color, 0.8);
    }
    a {
      color: rgba($title-color, 0.8);
      &:hover {
        background-color: rgba($title-color, 0.1);
      }
    }
  }
}

.menus {
  float: right;
  line-height: $header-height;
  a {
    padding: 5px 10px;
    border-radius: 12px;
    color: $N500;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: rgba($N500, 0.1);
    }

    .stickyHeader & {
      color: $N0;
    }
  }

  .profiles {
    min-width: 120px;
    margin-left: -70px;
    a{
      display: block;
      height: 32px;
      padding: 0 12px;
      width: 100%;
      line-height: 32px;
      font-size: $font14;
      color: $N300;
      border-radius: 0;
      letter-spacing: 0;
      &:hover {
        background-color: $N10;
        color: $N500;
      }
    }
  }
}

.toggleBtn {
  color: $N500;
  opacity: .9;
  cursor: pointer;
  line-height: 20px;

  .stickyHeader & {
    color: $N0;
  }
}
