@import "~scss/variables";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-image: linear-gradient(to left, #794db3, #854fb9 32%, #484999);
  z-index: 999;
  .wrapper {
    width: $content-width;
    height: 100%;
    margin: 0 auto;
  }
  
  .logo {
    display: inline-block;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
  }

  .search {
    display: inline-block;
    width: 360px;
    margin-left: 91px;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
    vertical-align: top;
    :global {
      .icon {
        color: #ffffff;
      }
    }
    input {
      color: rgba(#ffffff, 0.7);
      font-weight: 500;
      border: none;
      border-radius: 16px;
      background-color: rgba(#ffffff, 0.1);
      &::placeholder {
        color: rgba(#ffffff, 0.5);
        font-weight: 500;
      } 
    }
  }
  
  .menus {
    float: right;
    line-height: $header-height;
    a {
      padding: 6px 12px;
      margin-left: 8px;
      border-radius: 14px;
      color: #ffffff;
      font-weight: 500;
      line-height: 16px;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: rgba(#ffffff, 0.1);
      }
    }
  }
}

.darkHeader {
  background-image: none !important;
  .menus a {
    color: rgba($title-color, 0.8);
    &:hover {
      background-color: rgba($title-color, 0.1);
    }
  }
}

.toggleBtn {
  color: $third-text-color;
  background: #fff;
  border-color: $border-dark
}