@import '~scss/vars';

$profile-hover-color: #efe6f8;

@keyframes deepHeader {
  from {
    opacity: 0;
    background: transparent;
  }
  to {
    opacity: 1;
    background: linear-gradient(to left, $P75, #854fb9 32%, #484999);
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: $header-height;
  background-color: $N400;

  .wrapper {
    width: $content-width;
    margin: 0 auto;
  }

  .logoIcon {
    float: left;
    display: inline-block;
    margin-top: 12px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: $N500;
    cursor: pointer;

    .icon {
      margin: 7px;
      cursor: pointer;

      svg {
        --primary-color: #{$Y200};
        --secondary-color: #{$N0};
      }
    }
  }

  .logoName {
    display: inline-block;
    margin: 14px 8px;
    line-height: 20px;
    font-size: 14px;
    color: $N0;
    cursor: pointer;
  }

  .logo {
    margin: 4px;
  }

  .search {
    float: right;
    display: inline-block;
    min-width: 240px;
    margin-right: 20px;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
    vertical-align: top;

    input {
      box-sizing: border-box;
      width: 240px;
      color: $P45;
      font-weight: 400;
      font-size: $size-normal;
      border-radius: 16px;
      border: 1px solid transparent;
      background-color: rgba($N0, 0.1);
      //transition: color .5s ease-in;
      transition: all 0.3s ease-in-out;

      &::placeholder {
        font-size: 14px;
        color: $P45;
        line-height: 1;
        letter-spacing: 0;
      }

      &:focus {
        transition: width 0.2s ease-in;
        width: 360px;
        font-weight: normal;
        color: $N0;
        border: solid 1px rgba($N0, 0.5) !important;
      }
      &:hover {
        color: $N0;
        border: solid 1px rgba($N0, 0.3);
      }
    }

    :global {
      .qicon {
        --primary-color: #fff;
        //--secondary-color: #d3c4ed;
      }
      .icon {
        color: $N0;
        opacity: 0.5;
        &:hover,
        &:focus {
          opacity: 1;
          svg {
            --primary-color: #fff;
          }
        }
      }
    }
  }

  .login {
    float: right;
    display: inline-block;
    margin: 16px 0;
    line-height: 16px;
    font-size: 12px;
    color: $Y100;
    font-weight: 500;

    &:hover {
      color: $Y65;
    }
  }

  .user {
    float: right;

    [class*='target'] {
      margin: 16px 0 16px 8px;
      height: 16px;
      width: auto;
      line-height: 16px;
      font-size: 12px;
      color: $N65;
      opacity: 1;
      font-weight: 500;
      border: 0 none;

      .icon {
        float: right;
        margin-left: 4px;
        margin-top: 2px;
        svg {
          --primary-color: #{$N65};
          --secondary-color: #{$N65};
        }
      }

      &:hover {
        color: $N30;

        .icon svg {
          --primary-color: #{$N30};
          --secondary-color: #{$N30};
        }
      }
    }
  }

  :global {
    .pi-popover-popper {
      margin-left: -145px !important;
      margin-top: 12px !important;
    }
  }
}

.menusHeader {
  .menus {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    a {
      position: relative;
      display: inline-block;
      margin: 0 8px;
      padding: 16px 0;
      font-size: 12px;
      line-height: 16px;
      color: $N65;
      font-weight: 500;

      &:hover {
        color: $N30;
      }

      &.active {
        color: $N10;
      }
    }
  }

  .mail {
    float: right;
    margin: 14px 8px;
  }

  .upgrade {
    float: right;
    margin: 16px 8px;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    color: $Y100;

    .shield {
      float: left;
      margin-right: 4px;
      svg {
        --primary-color: #{$Y100};
        --secondary-color: #{$Y100};
      }
    }

    &:hover {
      color: $Y65;
    }
  }
}
