@import "~scss/variables";

$profile-hover-color: #efe6f8;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-image: linear-gradient(to left, #794db3, #854fb9 32%, #484999);
  z-index: 999;

  .wrapper {
    width: $content-width;
    margin: 0 auto;
    height: 48px;
  }

  .logo {
    width: $logo-width;
    height: $logo-height;
    display: inline-block;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
  }

  .search {
    display: inline-block;
    width: 360px;
    margin-left: 91px;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
    vertical-align: top;
    :global {
      .icon {
        color: #ffffff;
      }
    }
    input {
      color: rgba(#ffffff, 0.7);
      font-weight: 400;
      font-size: $size-normal;
      border-radius: 16px;
      border: solid 1px rgba(#ffffff, 0.1);
      background-color: rgba(#ffffff, 0.1);
      &:focus{
        border: solid 1px $border-dark;
      }
      &::placeholder {
        color: rgba(#ffffff, 0.5);
        font-weight: 500;
      }
    }
  }

  .menus {
    float: right;
    line-height: $header-height;
    a {
      padding: 5px 10px;
      border-radius: 12px;
      color: #fff;
      font-weight: 400;
      font-style: normal;
      line-height: 16px;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: rgba(#fff, 0.1);
      }
    }

    .profiles {
      //width: 120px;
      min-width: 120px;
      margin-left: -70px;

      .profileItem {
        line-height: 24px;
        height: 32px;
        padding: 0;
        a{
          display: inline-block;
          font-size: 14px;
          line-height:24px;
          width: 100%;
          color: $third-text-color;
          border-radius: 0;
          &:hover {
            background: $profile-hover-color;
          }
        }
      }
    }
  }
}

.lightHeader {
  background-image: none !important;

  .menus, .locale {
    .translation {
      color: rgba($title-color, 0.8);
    }
    a {
      color: rgba($title-color, 0.8);
      &:hover {
        background-color: rgba($title-color, 0.1);
      }
    }
  }

  .toggleBtn {
    line-height: 20px;
    color: $third-text-color;
    border-color: $border-dark
  }

}

.toggleBtn {
  color: #fff;
  opacity: .9;
  cursor: pointer;
}
