@import "~scss/vars";

$profile-hover-color: #efe6f8;

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  background: none;

  .wrapper {
    width: $content-width;
    margin: 0 auto;
  }

  .logo {
    width: $logo-width;
    height: $logo-height;
    display: inline-block;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
  }

  .search {
    float: right;
    display: inline-block;
    min-width: 240px;
    margin-right: 20px;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
    vertical-align: top;

    input {
      //width: 240px;
      color: rgba(#ffffff, 0.7);
      font-weight: 400;
      font-size: $size-normal;
      border-radius: 16px;
      border: transparent;
      background-color: rgba(#ffffff, 0.1);

      &:focus{
        transition: color .5s ease-in;
        width: 360px;
        font-weight: normal;
        color: $N0;
        border: solid 1px rgba(#ffffff, 0.5);
      }
    }
  }

}

.stickyHeader {
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to left, $P75, #854fb9 32%, #484999);

  .menus, .locale {
    .translation {
      color: $title-color;
    }
    a {
      color: $title-color;
      &:hover {
        color: rgba($title-color, 0.9);
      }
    }
  }
}

.menus {
  float: right;
  line-height: $header-height;

  a {
    padding: 5px 10px;
    border-radius: 12px;
    color: rgba($title-color, 0.9);
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    transition: all .3s ease-in-out;

    &:hover {
      color: rgba($title-color, 1);
    }

    .stickyHeader & {
      color: rgba($N0, 0.9);
      &:hover {
        color: rgba($N0, 1);
      }
    }
  }

  .profiles {
    min-width: 120px;
    margin-left: -70px;
    .profileItem {
      line-height: 32px;
      height: 32px;
      padding: 0;
      a{
        display: inline-block;
        padding: 0 12px;
        width: 100%;
        line-height: 32px;
        font-size: $font14;
        color: $N300;
        border-radius: 0;
        letter-spacing: 0;
        &:hover {
          background: $P10;
          color: $N500;
        }
      }
    }
  }
}

.toggleBtn {
  color: $N500;
  opacity: .9;
  cursor: pointer;
  line-height: 20px;
  height: 20px;

  .stickyHeader & {
    color: $N0;
  }
}
