@import "~scss/vars";

$profile-hover-color: #efe6f8;

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  background: none;

  .wrapper {
    width: $content-width;
    margin: 0 auto;
  }

  .logo {
    width: auto;
    height: $logo-height;
    display: inline-block;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
    vertical-align: middle;
  }

  .search {
    float: right;
    display: inline-block;
    min-width: 240px;
    margin-right: 20px;
    margin-top: $header-height / 2;
    transform: translateY(-50%);
    vertical-align: top;

    input {
      box-sizing: border-box;
      width: 240px;
      color: $P45;
      font-weight: 400;
      font-size: $size-normal;
      border-radius: 16px;
      border: 1px solid transparent;
      background-color: rgba($N0, 0.1);
      //transition: color .5s ease-in;
      transition: all .3s ease-in-out;

      &::placeholder {
        font-size: 14px;
        color: $P45;
        line-height: 1.0;
        letter-spacing: 0;
      }

      &:focus {
        transition: width .2s ease-in;
        width: 360px;
        font-weight: normal;
        color: $N0;
        border: solid 1px rgba($N0, 0.5) !important;
      }
      &:hover {
        color: $N0;
        border: solid 1px rgba($N0, 0.3);
      }
    }

    :global {
      .qicon {
        --primary-color: #fff;
        //--secondary-color: #d3c4ed;
      }
      .icon {
        color: $N0;
        opacity: 0.5;
        &:hover, &:focus {
          opacity: 1;
          svg {
            --primary-color: #fff;
          }
        }
      }
    }
  }

}

.stickyHeader {
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to left, $P75, #854fb9 32%, #484999);
  .menus {
    .role{
      [class*='target']{
        color: $N0;
        .iconHover, .iconDark, .iconDarkHover{
          display: none;
        }
        .icon{
          display: inline-block;
        }
        &:hover{
          opacity: 1;
          .icon, .iconDark, .iconDarkHover{
            display: none;
          }
          .iconHover{
            display: inline-block;
          }
        }
      }
    }
  }
}

.menus {
  float: right;
  line-height: $header-height;
  .role{
    [class*='target']{
      margin: 14px 0;
      width: auto;
      height: auto;
      line-height: 20px;
      opacity: 0.9;
      color: $N500;
      font-weight: 500;
      border: 0 none;
      .icon, .iconHover, .iconDarkHover{
        display: none;
      }
      &:hover{
        box-shadow: none;
        opacity: 1;
        .iconDark{
          display: none;
        }
        .iconDarkHover{
          display: inline-block;
        }
      }
      :global{
        .icon-caret-down{
          position: relative;
          top: 3px;
          left: 2px;
        }
      }
    }
    :global{
      .pi-popover-popper{
        margin-left: -69px;
        margin-top: 6px;
      }
    }
    .operateItems{
      min-width: 120px;
      li a{
        display: block;
        height: 32px;
        padding: 0 12px;
        width: 100%;
        line-height: 32px;
        font-size: $font14;
        font-weight: normal;
        color: $N300;
        border-radius: 0;
        &:hover {
          background-color: $N10;
          color: $N500;
        }
      }
    }
  }
}
