@import '~scss/vars';

.container {
  margin: 0 9.2%;
}

.wrapper {
  margin: 0 auto;
  padding: 192px 0;
}

.title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.43;
  color: $N500;
}

.description {
  margin: 12px 0 24px;
}

.tips {
  margin-top: 20px;
}
