@import '~scss/vars';

.deployApp {
  min-width: 1128px !important;
  margin: 0 auto;
}

.appBaseInfo {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $N10;

  .title {
    margin-bottom: 32px;
  }

  .icon {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 16px;

    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }

  .name {
    @include title-font($line-height: 40px, $font-size: 20px);
    @include textCut;
  }

  .abstraction {
    @include note-font;
  }
}

.selectRuntime {
  padding-left: 150px;

  .name {
    @include normal-font($line-height: 32px);
    float: left;
    display: inline-block;
    margin-right: 20px;
  }

  .select {
    float: left;
    width: 326px;
  }

  & > a {
    display: inline-block;
    margin-left: 12px;
    line-height: 32px;
    font-size: 12px;
  }

}

.deployForm {
  padding: 32px;
}

.header {
  margin: 24px 0;
  a {
    line-height: 20px;
    font-weight: 500;
    color: $title-color;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: lighten($title-color, 20%);
    }
  }
}

.createForm {
  display: block;
  margin: 0;
  margin-top: 5px;

  .moduleTitle {
    //margin: 50px 0 25px 0;
    margin-bottom: 28px;
    font-size: 16px;
    color: $N500;
    &:not(:first-of-type) {
      margin-top: 50px;
    }
  }
  .cellModule {
    margin-bottom: 20px;
    min-height: 24px;
    clear: both;
  }
  .name {
    display: inline-block;
    //float: left;
    margin-right: 24px;
    width: 168px;
    font-size: 14px;
    font-weight: 500;
    color: $N500;
    text-align: right;
  }
  .selectName {
    float: left;
    line-height: 32px;
  }
  .radioName {
    float: left;
    margin-top: 5px;
  }
  .showWord {
    display: inline-block;
    max-width: calc(100% - 192px);
    line-height: 32px;
  }

  .radio,
  .checkbox {
    margin-right: 20px;
  }
  .add {
    display: inline-block;
    font-weight: bold;
  }
  .select,
  .input {
    width: 256px;
    margin-right: 12px;
  }
  .textarea {
    box-sizing: border-box;
    padding: 7px 10px;
    width: 400px;
    height: 88px;
    border-radius: 2px;
    background-color: $N0;
    border: 1px solid $N30;
    outline: none;
    resize: none;
    &:focus {
      box-shadow: 0 1px 2px 0 rgba(109, 53, 195, 0.15);
      border: solid 1px $P75;
    }
  }
  .textareaName {
    position: relative;
    bottom: 70px;
  }

  .rightShow {
    margin-top: 7px;
    margin-left: 170px;
  }

  .note {
    font-size: 12px;
    color: $N100;
  }

  .submitBtnGroup {
    margin: 0 -32px;
    padding: 16px 0 16px 224px;
    border-top: 1px solid $N10;
    margin-bottom: 0;
    button {
      margin-right: 12px;
    }
  }

  .createRuntime {
    line-height: 24px;
  }
}

.errMsg {
  max-width: 80%;
  border-radius: 2px;
  background-color: $R10;
  box-shadow: 0 2px 4px 0 rgba(178, 42, 38, 0.1);
  line-height: 1.71;
  color: $R300;
  padding-left: 10px;
}
