@import '~scss/vars';

.statistics {
  //margin: 0 auto 24px;
  //width: $content-width;
  padding: 26px 24px;
  height: 120px;
  border-radius: 3px;
  background-color: $N0;
  box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06),
    0 4px 8px 0 rgba(35, 35, 36, 0.04);

  .module {
    float: left;
    display: inline-block;
    position: relative;
    width: 35%;
    height: 68px;

    &:first-child {
      width: 30%;

      .word {
        float: right;
        margin-right: 48px;
      }
    }

    &:last-child {
      .word {
        margin-left: 10%;
      }
    }
  }

  .apps {
    float: left;
    display: inline-block;
    margin-top: 18px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    color: $N500;
    :global {
      .icon {
        float: left;
        display: inline-block;
        margin-left: 12px;
        margin-right: 8px;
      }
    }
  }
  .word {
    display: inline-block;
    //width: 120px;
    .name {
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 1.67;
      color: $N100;
    }
    .number {
      display: inline-block;
      font-size: 40px;
      font-weight: 500;
      line-height: 1.1;
      letter-spacing: 0;
      color: $N500;
    }
  }
}
