@import '~scss/variables';

.reposList{
  margin-bottom: 22px;
  li{
    box-sizing: border-box;
    margin-bottom: 2px;
    height: 56px;
    border-radius: 3px;
    border: 1px solid $border-gray-li;
    &:hover {
      background-color: $tr-hover-bg;
      box-shadow: 1px 1px 0 0 rgba(48, 14, 86, 0.08),
      0 1px 1px 0 rgba(48, 14, 86, 0.04),
      0 1px 1px 0 rgba(48, 14, 86, 0.16),
      0 0 1px 1px  rgba(48, 14, 86, 0.04);
      a{
        color: $link-hover;
      }
    }
    a{
      display: block;
      padding: 13px 20px 13px 16px;
    }
    .icon{
      float: left;
      margin-right: 4px;
    }
    .name{
      line-height: 26px;
      font-size: 14px;
      color: #300e56;
    }
    .total{
      display: inline-block;
      float: right;
      line-height: 26px;
      font-size: 12px;
      color: $grey-word;
      .number{
        float: left;
        margin-right: 4px;
        font-size: 24px;
        font-weight: 500;
        color: $title-color;
      }
    }
  }
}
.type {
  margin: 12px 0 6px;
  font-size: 12px;
  color: $grey-word;
}
.reposBg{
  li {
    background-color: $li-bg;
  }
}
.runtimeBg{
  li{
    margin-bottom: 8px;
    height: 60px;
  }
}
