@import "~scss/vars";

.repoList {
  .category {
    text-align: center;
    padding: 12px 0;
    .line{
      display: inline-block;
      width: 330px;
      height: 1px;
      border-bottom: 1px solid $P75;
    }
    .word{
      display: inline-block;
      position: relative;
      bottom: 11px;
      padding: 0 7px;
      line-height: 24px;
      font-size: 12px;
      color: $P75;
      background: $background-color;
    }
  }

  .item{
    position: relative;
    height: 150px;
    margin-bottom: 24px;

    .actionMenu {
      position: absolute;
      right: 24px;
      top: 24px;
    }
  }

}
