@import '~scss/vars';

.menuIntroduction {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2;
  width: 445px;
  border-radius: 2px;
  background-color: $N0;

  &::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 24px;
    border-bottom: 6px solid $N0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .content {
    padding-left: 24px;

    .title {
      @include title-font($line-height: 32px, $font-size: 20px);
      padding: 28px 0 12px;
    }

    .description {
      @include normal-font;
      width: 265px;
      padding-bottom: 24px;
    }

    .word {
      display: inline-block;
    }

    .image {
      float: right;
      max-height: 135px;
    }
  }

  .footer {
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    border-radius: 2px;
    background-color: $N10;

    .dot {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $N30;
      margin-right: 16px;

      &.active {
        background-color: $P75;
      }
    }

    .skip {
      display: inline-block;
      margin-right: 12px;
      line-height: 20px;
      font-size: 12px;
      color: $N75;
      text-align: center;
      cursor: pointer;
    }

    button {
      height: 24px;
      font-size: 12px;
      padding: 4px 8px;
      cursor: pointer;
    }
  }
}

.shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  background-color: rgba(52, 57, 69, 0.7);
}
