@import "~scss/vars";

%spinner-basic {
  border-radius:50%;
  width:6em;
  height:6em;
}

.loading {
  position: relative;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: transparent;

  .loadOuter{
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -3em 0 0 -3em;

    .loader {
      @extend %spinner-basic;
      &:after {
        @extend %spinner-basic
      }

      margin:60px auto;
      font-size:10px;
      position:relative;
      text-indent:-9999em;
      border-top:0.2em solid rgba($purple-light,0.2);
      border-right:0.2em solid rgba($purple-light,0.2);
      border-bottom:0.2em solid rgba($purple-light,0.2);
      border-left:0.2em solid rgba($purple-light,1);

      //-webkit-transform: translateZ(0);
      //-ms-transform: translateZ(0);
      transform: translateZ(0);

      //-webkit-animation:load 1.1s infinite linear;

      animation:load 1.1s infinite linear;
    }
  }
}

.grayColor {
  %spinner-basic {
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
  .loadOuter{
    .loader {
      @extend %spinner-basic;
      &:after {
        @extend %spinner-basic
      }
      border-top:0.2em solid rgba($N300,0.2);
      border-right:0.2em solid rgba($N300,0.2);
      border-bottom:0.2em solid rgba($N300,0.2);
      border-left:0.2em solid rgba($N300,1);
      // border-color: rgba($N300, 0.2);
    }
  }
}


:global {
  .loadTable {
    position: static;
    background: $N0;
    height: 150px;
  }
}


@mixin load-frames() {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@-webkit-keyframes load {@include load-frames;}
@keyframes load {@include load-frames;}
