@import "~scss/vars";

.repoList {
  .category {
    text-align: center;
    padding: 12px 0;

    .line {
      display: inline-block;
      width: 330px;
      height: 1px;
      border-bottom: 1px solid $N10;
    }

    .word {
      display: inline-block;
      position: relative;
      bottom: 10px;
      padding: 0 7px;
      line-height:20px;
      font-size: 12px;
      color: $N100;
      background: $background-color;
    }
  }

  .item {
    position: relative;
    height: 150px;
    margin-bottom: 12px;

    .actionMenu {
      position: absolute;
      right: 24px;
      top: 24px;
    }
  }
}
