@import '~scss/vars';

.detailCard {
  .icon{
    float: left;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    border-radius: 2px;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .title{
    margin-bottom: 20px;
    padding-left: 36px;
    padding-bottom: 24px;
    border-bottom: 1px solid $N10;
    .name{
      margin-bottom: 4px;
      line-height: 24px;
      font-size : 20px;
      font-weight: 500;
      color: $N500;
      max-width: 230px;
      @include textCut;
    }
    .id, .caId{
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 1.17;
      color: $N75;
    }
    .caId{
      margin-bottom: 0;
    }
    .description{
      margin: 8px 0 -2px;
      line-height: 17px;
      font-size: 12px;
      color: $N300;
      word-break: break-word;
      word-wrap: break-word;
    }
    .preview{
      line-height: 17px;
      font-size: 14px;
      color: $title-color;
      a,a:active{
        color: $title-color;
      }
    }
  }
  .noImg{
    padding-left: 0;
  }
  .detail{
    margin-top: 32px;
    li{
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 24px;
      vertical-align: middle;
      color: $N300;
      list-style: none;
      @include textCut;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        color: $N300;
      }
      a:hover{
        color: $P75;
        [class*='repoName']{
          color: $P75;
        }
      }

    }
    .id {
      @include idText;
    }
    .name{
      float: left;
      display: inline-block;
      width: 120px;
      margin-right: 24px;
      font-size: 14px;
      line-height: 24px;
      color: $N75;
      text-align: right;
    }
    .labels{
      margin-top: 0px;
      margin-left: 144px;
    }
  }
}
.copyOuter{
  position: relative;
  display: inline-block;
  //margin-bottom: 10px;
  @include idText;
  :global{
    .copyId{
      display: none;
      position: absolute;
      top: 0px;
      right: -16px;
      cursor: pointer;
    }
  }
  &:hover{
    :global {
      .copyId {
        display: inline-block;
      }
    }
  }
}

