@import '~scss/vars';
$value-left: 104px;

.detailCard {
  .icon {
    float: left;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .title {
    margin: 0 -24px 24px;
    padding: 0 24px 24px 60px;
    border-bottom: 1px solid $N10;
    .name {
      margin-bottom: 4px;
      line-height: 28px;
      font-size: 16px;
      font-weight: 500;
      color: $N500;
      max-width: calc(100% - 50px);
      @include textCut;
    }
    .id,
    .caId {
      font-size: 12px;
      line-height: 16px;
      color: $N75;
    }
    .caId {
      margin-bottom: 0;
    }
    .description {
      margin: 8px 0 -2px;
      line-height: 17px;
      font-size: 12px;
      color: $N300;
      word-break: break-all;
      word-wrap: break-word;
    }
    .preview {
      line-height: 17px;
      font-size: 14px;
      color: $P75;
      margin-top: 10px;
      a,
      a:active {
        color: $P75;
      }
    }
  }
  .noImg {
    padding-left: 24px
  }
  .detail {
    display: table;
    margin-top: 32px;

    li {
      display: table-row;
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 20px;
      vertical-align: middle;
      color: $N300;
      list-style: none;
      //@include textCut;

      &.setHeight {
        // height: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $N300;
      }
      a:hover {
        color: $P75;
        [class*='repoName'] {
          color: $P75;
        }
      }
    }
    .id {
      @include idText;
    }
    .name {
      float: left;
      display: inline-block;
      width: 80px;
      margin-top: -2px;
      margin-right: 24px;
      font-size: 12px;
      line-height: 24px;
      color: $N75;
      text-align: right;
      padding-bottom: 8px;
    }
    .value {
      display: inline-block;
      margin-bottom: 12px;
      width: calc(100% - #{$value-left});
      word-break: break-word;
      word-wrap: break-word;
    }
    .labels {
      margin-top: 0;
      margin-left: $value-left;
    }
  }
}
.copyOuter {
  position: relative;
  display: inline-block;
  //margin-bottom: 10px;
  @include idText;
  :global {
    .copyId {
      display: none;
      position: absolute;
      top: 0px;
      right: -16px;
      cursor: pointer;
    }
  }
  &:hover {
    :global {
      .copyId {
        display: inline-block;
      }
    }
  }
}

.appName {
  .appImage {
    display: inline-block;
    float: left;
    width: 16px;
    height: 16px;
  }

  .appName {
    display: inline-block;
    margin: 0 8px;
    font-weight: 500;
    color: $N300
  }
}

.versionName {
  display: inline-block;
  margin-left: 8px;
  color: $N75;
}
