@import '~scss/vars';

.timeAxis {
  margin-left: 4px;
  .axis{
    li{
      position: relative;
      padding-left: 18px;
      padding-bottom: 24px;
      border-left: 2px solid $N10;
    }
    .title{
      margin-bottom: 2px;
      height: 20px;
      font-family: 'PingFangSC';
      font-size: 12px;
      color: $N300;
    }
    .time{
      line-height: 20px;
      font-size: 12px;
      color: $N65;
    }

    .dot{
      display: inline-block;
      box-sizing: border-box;
      position: absolute;
      left: -7px;
      top: -4px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid $N0;
    }

    .successful {
      background-color: $G75;
    }
    .working {
      background-color: $B75;
      border-color: $B65;
      @include transitionStatus;
    }
    .failed {
      background-color: $R300;
    }
  }
}
