@import "~scss/vars";

.status {
  text-transform: capitalize;
}


.icon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin: 0 4px 2px 0;
  border-radius: 50%;
  font-style: normal;


  &.ceased {
    background-color: $Y100;
  }
  &.stopped {
    background-color: $N30;
  }
  &.suspended {
    background-color: $Y100;
  }
  &.active, &.successful {
    background-color: $G75;
  }
  &.deleted {
    background-color: $R300;
  }

  &.running,
  &.working,
  &.starting,
  &.pending,
  &.updating,
  &.stopping {
    @include transitionStatus;
  }

  &.starting {
    background-color: $P75;
    border-color: $P65;
  }
  &.running, &.working {
    background-color: $G200;
    border-color: $G100;
  }
  &.updating {
    background-color: $Y75;
    border-color: $Y65;
  }
  &.stopping {
    background-color: $Y300;
    border-color: $Y200;
  }
  &.pending {
    background-color: $B75;
    border-color: $B65;
  }
}


