@import "~scss/variables";

.status {
  text-transform: capitalize;
}

.icon {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  margin: 1px 8px 0 0;
  border-radius: 50%;
  font-style: normal;

  &.pending {
    background-color: $blue;
  }
  &.ceased {
    background-color: $red;
  }
  &.stopped {
    background-color: $yellow;
  }
  &.suspended {
    background-color: $grey;
  }
  &.active {
    background-color: $green;
  }
  &.deleted {
    background-color: $orange;
  }
}


