@import '~scss/vars';

.status {
  text-transform: capitalize;
  display: inline-flex;
  flex-direction: row;
  height: 100%;
  align-items: center;

  .name {
    margin-left: 4px;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  margin: 0 4px 0 0;
  border-radius: 50%;
  font-style: normal;

  &.draft,
  &.submitted {
    background-color: $B75;
  }
  &.in-review,
  &.isv-in-review,
  &.business-in-review,
  &.dev-in-review {
    background-color: $Y300;
  }
  &.published,
  &.passed,
  &.isv-passed,
  &.business-passed,
  &.dev-passed {
    background-color: $G75;
  }
  &.rejected,
  &.isv-rejected,
  &.business-rejected,
  &.dev-rejected {
    background-color: $R200;
  }
  &.suspended {
    background-color: #343945;
  }
  &.ceased {
    background-color: $Y100;
  }
  &.stopped {
    background-color: $N30;
  }
  &.active,
  &.successful {
    background-color: $G75;
  }
  &.deleted,
  &.failed {
    background-color: $R300;
  }
  &.enabled {
    background-color: $G65;
  }
  &.disabled {
    background-color: $N75;
  }

  &.running,
  &.working,
  &.starting,
  &.pending,
  &.updating,
  &.stopping,
  &.upgrading,
  &.creating,
  &.rollbacking,
  &.recovering,
  &.ceasing,
  &.resizing,
  &.scaling,
  &.deleting {
    @include transitionStatus;
  }

  &.starting,
  &.creating {
    background-color: $P75;
    border-color: $P65;
  }
  &.running,
  &.working {
    background-color: $G200;
    border-color: $G100;
  }
  &.updating,
  &.upgrading,
  &.resizing,
  &.scaling {
    background-color: $Y75;
    border-color: $Y65;
  }
  &.stopping,
  &.ceasing {
    background-color: $Y300;
    border-color: $Y200;
  }
  &.pending,
  &.rollbacking,
  &.recovering {
    background-color: $B75;
    border-color: $B65;
  }
  &.deleting {
    background-color: $R200;
    border-color: $R100;
  }
}
