@import "~scss/variables";

.footer {
  line-height: $footer-height;
  background-color: $background-color;
  border-top: 1px solid $border;
  box-sizing: border-box;
  .wrapper {
    width: $content-width;
    margin: 0 auto;
  }
}
