@import "~scss/vars";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $N0;
  box-sizing: border-box;

  .wrapper {
    width: $content-width;
    margin: 0 auto;
    color: $N100;

    .logo {
      display: inline-block;
      float: left;
      font-size: $size-medium;
      line-height: $footer-height;
      text-transform: uppercase;
      :global {
        img {
          height: 16px;
        }
      }
    }
    .terms {
      display:inline-block;
      float: right;
      line-height: $footer-height;
      & > li{
        list-style-type: none;
        float: left;
        text-align: right;
        margin-left: 20px;
        a {
          color: $N100;
          &:hover {
            color: $P75;
          }
        }
      }
    }
  }

  .dot {
    display:inline-block;
    height: 3px;
    width: 3px;
    background-color: $N100;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 5px;
  }

  .toggleLocale {
    &:hover {
      color: $P75 !important;
    }
  }
}
