@import "~scss/variables";

$line-height: $footer-height - 1;
$fg-color: #78839e;

.footer {
  position: static;
  width: 100%;
  height: $footer-height;
  background-color: $background-color;
  border-top: 1px solid $border;
  box-sizing: border-box;

  .wrapper {
    margin: 0 $layout-margin;
    color: $fg-color;

    .logo {
      display: inline-block;
      float: left;
      font-size: $size-medium;
      line-height: $line-height;
      text-transform: uppercase;
    }
    .terms {
      display:inline-block;
      float: right;
      line-height: $line-height;
      & > li{
        list-style-type: none;
        float: left;
        text-align: right;
        margin-left: 10px;

        &.copyright {
          margin-left: 20px;
        }

        a {
          color: $fg-color;
        }
      }
    }
  }

  .dot {
    display:inline-block;
    height: 3px;
    width: 3px;
    background-color: $fg-color;
    border-radius: 50%;
    vertical-align: middle;
  }
}
