@import '~scss/vars';

.versionList {
  .title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $N500;
  }

  .item {
    margin-bottom: 4px;
    padding: 0 10px;
    line-height: 40px;
    border-radius: 2px;
    background-color: $B10;
    color: $N300;
    font-size: 14px;
    cursor: pointer;

    &.selected {
      .txt {
        color: $N0;
      }
      .status {
        color: $N0 !important;
      }
    }

    .dot {
      display: inline-block;
      margin-right: 8px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }

    .status {
      float: right;
      font-size: 12px;
    }

    .txt {
      @include ParapraphRobotoLeftBlack;
    }

    &.draft {
      background: $B10;
      .dot {
        background-color: $B75;
      }
      .status {
        color: $B75;
      }
      &:hover {
        background: $B30;
      }
      &.selected {
        background-color: $B75;
        .dot {
          background: $B10;
        }
      }
    }

    &.submitted {
      background: $Y10;
      .dot {
        background-color: $Y300;
      }
      .status {
        color: $Y300;
      }
      &:hover {
        background: $Y30;
      }
      &.selected {
        background-color: $Y300;
        .dot {
          background: $Y30;
        }
      }
    }

    &.passed {
      .dot {
        background-color: $G75;
      }
      .status {
        color: $G75;
      }
      &:hover {
        background: $G30;
      }
      &.selected {
        background-color: $G75;
        .dot {
          background: $G10;
        }
      }
    }

    &.active {
      background: $P10;
      .dot {
        background-color: $P75;
      }
      .status {
        color: $P75;
      }
      &:hover {
        background: $P30;
      }
      &.selected {
        background-color: $P75;
        .dot {
          background-color: $P10;
        }
      }
    }

    &.suspended {
      background: $N10;
      .dot {
        background-color: $N500;
      }
      .status {
        color: $N500;
      }
      &:hover {
        background: $N30;
      }
      &.selected {
        background-color: $N75;
        .dot {
          background: $N10;
        }
      }
    }

    &.rejected {
      background: $R10;
      .dot {
        background: $R200;
      }
      .status {
        color: $R200;
      }
      &:hover {
        background: $R30;
      }
      &.selected {
        background: $R200;
        .dot {
          background: $R10;
        }
      }
    }

  }


}



