@import '~scss/vars';

.usersContent {
  .selectInfo {
    padding-right: 0;
  }

  .select {
    width: 100%;
    margin-bottom: 12px;
  }

  .table {
    border-left: 1px solid $N10;
  }

  .noShadow {
    box-shadow: none;
  }

  .selectInfo {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $N500;
  }
}

.list {
  padding: 0 24px;
  margin: 0;

  .listItem {
    display: table;
    width: 100%;
    padding: 7px 0;
    border-top: 1px solid $border-lighter;

    .icon {
      float: left;
      width: 48px;
      height: 48px;
      border-radius: 3px;
    }

    .name {
      display: table-cell;
      width: 100%;
      padding: 0 200px 0 24px;
      line-height: 1.15;
      vertical-align: middle;
      word-break: break-word;

      a {
        color: $title-color;
      }
    }

    .handle {
      float: right;
      width: 167px;
      padding: 0 16px;
      text-align: right;
      margin: 0 0 8px 0;

      .handlePop {
        display: inline-block;
        margin-left: 16px;
      }
    }
  }
}


.authorityModal{
  overflow: auto;
  .category{
    .title{
      line-height: 14px;
      color: #020508;
      font-weight: bold;
    }
    .description{
      margin: 0 0 10px 22px;
      line-height: 24px;
      font-size: 14px;
      color: #324558;
    }
  }
  .operation{
    margin-top:30px;
    text-align: right;
    button{
      margin-left: 12px;
    }
  }
}

.authorityList{
  margin-bottom: 28px;
  padding: 16px 20px 4px 20px;
  background-color: #e2d0f2;
  li{
    margin-bottom: 4px;
    line-height: 16px;
  }
}
.innerList{
  margin: 4px 0 20px 22px;
  li{
    display: inline-block;
    width: 50%;
  }
}
