@import '~scss/vars';

.appList{
  li{
    box-sizing: border-box;
    padding: 12px 18px 13px 16px;
    height: 60px;
    border-bottom: 1px solid $border-gray-li;
    &:hover{
      background-color: $li-hover-bg;
      [class*="tdName"] a{
        color: $link-hover;
      }
    }
  }
  .order{
    display: inline-block;
    float: left;
    margin-right: 18px;
    font-size: $font16;
    font-weight: 500;
    line-height: 1.25;
    color: $N500;
  }
  .total{
    display: inline-block;
    float: right;
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
    color: $grey-word;
    .number{
      display: inline-block;
      margin-right: 4px;
      width: 30px;
      height: 20px;
      line-height: 20px;
      border-radius: 2px;
      background-color: $background-color;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      color: $N500;
    }
  }
}
.normalList{
  li{
    margin-bottom: 8px;
  }
}
