@import "~scss/vars";

.header {
  margin: 24px 0;
  a {
    line-height: 20px;
    font-weight: 500;
    color: $title-color;
    transition: color .3s ease-in-out;
    &:hover {
      color: lighten($title-color, 20%);
    }
  }
}

form.createForm {
  display: block;
  padding: 36px 0 0 36px;
  .moduleTitle{
    margin: 48px 0 24px 0;
    font-size: 16px;
    font-weight: bold;
    color: $N500;
    &:first-child{
      margin-top: 0;
    }
  }
  .cellModule{
    margin-bottom: 18px;
    clear: both;
  }
  .name{
    display: inline-block;
    margin-right: 24px;
    width: 168px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    color: $N500;
    text-align: right;
  }
  .showWord{
    width: 510px;
    line-height: 32px;
  }

  .radio,.checkbox{
    margin-right: 20px;
  }
  .add{
    display: inline-block;
    font-weight: bold;
  }
  .select{
    width: 256px;
    margin-right: 12px;
  }
  .textarea{
    box-sizing: border-box;
    padding: 7px 10px;
    width: 400px;
    height: 88px;
    border-radius: 2px;
    background-color: $N0;
    border: 1px solid $N30;
    outline: none;
    resize: none;
    &:focus{
      box-shadow: 0 1px 2px 0 rgba(109, 53, 195, 0.15);
      border: solid 1px $P75;
    }
  }
  .textareaName{
    position: relative;
    bottom: 70px;
  }

  .rightShow{
    margin-top: 7px;
    margin-left: 170px;
  }
  .note{
    font-size: 12px;
    color: $N100;
  }
  .submitBtnGroup{
    margin: 0 -32px;
    padding: 16px 0 16px 224px;
    border-top: 1px solid $N10;
    margin-bottom: 0;
    button{
      margin-right: 12px;
    }
  }
}
