@import '~scss/vars';

.repoDetail {
  min-width: 1000px !important;
}

.selector {
  margin-bottom: 24px;
  .title {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    color: $N75;
  }
}
