@import "~scss/vars";

.userInfo {
  box-sizing: border-box;
  height: 120px;
  padding: 24px 24px 10px;
  border-radius: 3px;
  background-color: $N0;
  box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  .userImg {
    display: inline-block;
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $N10;
    :global{
      .icon{
        margin: 6px;
      }
    }
  }
  .user {
    margin: 2px 0 0 45px;
    .name {
      line-height: 1.25;
      font-size: $font16;
      color: $N500;
    }
    .role {
      font-size: $font12;
      line-height: 1.67;
      color: $N100;
    }
  }
  .loginInfo {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.67;
    color: $N100;
    border-top: 1px solid $N10;
  }
}


