@import "~scss/variables";

.select {
  display: inline-block;
  position: relative;
  width: 276px;
  i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.control {
  position: relative;
  padding: 7px 10px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px $border;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all .3s ease-in-out;
  .controlLabel {
    line-height: 16px;
    color: $text-color;
  }
  &:hover {
    background-color: $border;
  }
}

.options {
  display: none;
  position: absolute;
  z-index: 11;
  width: 100%;
  max-height: 200px;
  margin-top: 2px;
  border-radius: 3px;
  border: solid 1px $border;
  background-color: $background-color-lighter;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  .option {
    position: relative;
    padding: 9px 10px;
    cursor: pointer;
    &:hover {
      background-color: $border;
    }
  }
}

.show {
  display: block;
}