@import "~scss/vars";

.select {
  display: inline-block;
  position: relative;
  width: 256px;
  text-align: left;
  i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

}
.disabledSel{
  .control{
    opacity: .5;
  }
}

.control {
  position: relative;
  box-sizing: border-box;
  height: 32px;
  padding: 3px 12px;
  border-radius: 2px;
  background-color: $N0;
  border: solid 1px $N30;
  cursor: pointer;
  transition: all .3s ease-in-out;
  word-break: break-all;
  overflow: hidden;
  .controlLabel {
    display: inline-block;
    line-height: 24px;
    color: $N300;
  }
  &:hover {
    background-color: $N10;
    border: solid 1px $N30;
  }
  &:active{
    background-color: $N45 !important;
    border: solid 1px $N45 !important;
  }

  :global {
    .icon {
      float: right;
      position: relative;
      top: 4px;
    }
  }
}

.options {
  display: none;
  position: absolute;
  z-index: 11;
  width: 100%;
  //max-height: 200px;
  margin-top: 8px;
  padding: 8px 0;
  border-radius: 2px;
  background-color: $N0;
  box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.1), 0 4px 8px 0 rgba(35, 35, 36, 0.08);
  border: solid 1px $N30;
  .option {
    position: relative;
    box-sizing: border-box;
    padding: 4px 22px 4px 12px;
    height: 32px;
    line-height: 24px;
    color: $N300;
    cursor: pointer;
    word-break: break-all;
    overflow: hidden;
    &:hover {
      color: $N500;
      background-color: $N10;
    }
    :global{
      .icon-check{
        float: right;
        position: relative;
        top: 4px;
      }
    }
  }
}

.show {
  display: block;
}
