@import '~scss/vars';

.clusterDetail {
  min-width: 1000px !important;
}

.activities{
  //margin: 24px 0;

  .title{
    margin-bottom: 20px;
    line-height: 19px;
    font-size: 16px;
    font-weight: bold;
    color: $title-color;
    .more{
      float: right;
      font-weight: normal;
      cursor: pointer;
      @include moreText();
    }
  }
}

.parameters{
  .name{
    display: inline-block;
    float: left;
    width: 260px;
    line-height: 16px;
    font-weight: bold;
    text-align: right;
    color: $title-color;
  }
  .info{
    margin: 0 0 20px 280px;
    .value{
      margin-bottom: 3px;
      line-height: 16px;
      font-size: 14px;
      color: $text-color;
    }
    .explain{
      line-height: 17px;
      font-size: 12px;
      color: #626466;
    }
  }
}

.extendedRow {
  td {
    padding: 0 !important;
  }
}
.extendedTr {
  padding: 10px 0;
  position: relative;
  display: flex;
  color: $N100;
  &::before {
    content: ' ';
    width: 0;
    border-left: 1px solid $N30;
    position: absolute;
    left: 19px;
    top: 0;
    bottom: 0;
    margin: 0;
  }
  &:first-child::before {
    margin-top: -25px;
  }
  &:last-child::before {
    bottom: 50%;
  }

  &::after {
    position: absolute;
    content: ' ';
    height: 1px;
    width: 16px;
    border-top: 1px solid $N30;
    z-index: auto;
    left: 19px;
    top: 50%;
  }
}
.extendedFirstChild {
  width: 36px;
}

.extendedTdName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 171px;
  color: $N500;
}
.extendedIcon {
  display: flex;
  height: 32px;
  align-items: center;
  margin-right: 5px;
}

.extendedTdStatus {
  width: 100px;
  color: $N500;
}
.extendedFlex {
  flex: 1;
}
.table {
  tbody {
    // tr > td {
    //   border-bottom: 0;
    // }
    // tr:not([style*="display: none"]):last-child{
    //   td {
    //     border-bottom: 1px solid #eff0f5;
    //   }
    // }
  }
}

:global {
  .ipShow {
    font-size: 12px;
    line-height: 20px;

    .eip {
      color: $N100;
    }
  }
}

.addNodesBtn {
  .addNodeTxt {
    margin-left: 3px;
    margin-top: -8px;
    display: inline-block;
    vertical-align: middle;
  }
}

.nodeConfKey {
  margin-left: 3px;
}

.wrapAddNodes {
  .formControl {
    margin-bottom: 10px;

    &> label {
      display: inline-block;
      width: 5em;
    }
  }
  .input {
    display: inline-block;
    width: 300px;
  }
  .hide {
    display: none;
  }
}

.attachContent {
  max-height: 232px;
  overflow-y: auto;

  .sshCardOuter {
    display: inline-block;
    margin: 0 20px 20px 0;
    width: calc(50% - 10px);
    border: 1px solid $N10;
    cursor: pointer;

    &:nth-child(2n+2) {
      margin-right: 0;
    }

    &.active {
      border: 1px solid $P75;
      cursor: auto;
    }
  }

  .sshCard {
    padding: 10px 20px;

    .title {
      margin-bottom: 18px;
      line-height: 16px;
      font-size: 14px;
      font-weight: 500;
      color: $N500;
      max-width: 230px;
      @include textCut;
    }

    .pubKey{
      line-height: 20px;
      font-size: 12px;
      color: $N75;
      height: 40px;
      word-break: break-all;
      word-wrap: break-word;
      overflow: hidden;
    }
  }
}

.operateBtns {
  padding: 16px 32px;
  border-top: 1px solid $N10;
  text-align: center;
  button {
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.additionalTitle {
  margin-bottom: 10px;
}
.additionalTable {
  margin-bottom: 50px;
}

.roleSetting {
  display: block;

  .roleSettingLabel {
    width: 70px;
    text-align: left;
    font-weight: normal;
    color: $body-fg-color;
    margin-right: 10px;
  }
}
