@import '~scss/vars';

.form {
  padding: 24px 24px 32px;
}
.noPaddingForm {
  padding: 0;
}

.formItem + .formItem {
  margin-top: $form-field-gap;
}

label.formItem {
  width: 100%;
  text-align: left;
}

.field {
  display: flex;
  align-items: center;
  label {
    box-sizing: border-box;
  }
  label.normal {
    @include normal-font(
      $form-field-label-line-height,
      $form-field-label-font-size
    );
  }
  label.title {
    @include title-font(
      $form-field-label-line-height,
      $form-field-label-font-size
    );
  }
}
.field + .field {
  margin-top: $form-field-gap;
}

.horizon {
  flex-flow: row wrap;
  .control {
    width: 100% - $form-label-width;
  }
  .help {
    margin-left: $form-label-width;
    margin-top: $form-field-secondary-gap;
  }
}
.vertical {
  flex-flow: column;
  align-items: flex-start;
  label:not(:last-child) {
    margin-bottom: $form-field-secondary-gap;
  }
  label {
    display: block;
  }
  .help {
    margin-top: $form-field-secondary-gap;
  }
}
.horizon,
.inline {
  label {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: $form-label-width;
    padding-right: $form-field-main-gap;
  }
  &.textareaField {
    align-items: flex-start;
    label {
      margin-top: $form-field-secondary-gap;
    }
  }
}
.inline {
  .help {
    margin-left: $form-field-secondary-gap;
  }
}

.fieldGroup {
  display: flex;

  .vertical {
    & + .vertical {
      margin-left: $form-field-gap;
      margin-top: 0;
    }

    &.checkboxField {
      margin-top: $form-field-label-height;
    }
  }
}
.fieldGroup + .fieldGroup {
  margin-top: $form-field-main-gap;
}

.help {
  @include note-font();
}
