@import '~scss/vars';

%has-bottom {
  border-bottom: 1px solid $N10;
}

.menuLayer {
  min-width: $menu-layer-width;

  li {
    height: 32px;
    margin: 0;

    &:hover {
      a {
        color: $N500;
      }
    }

    & > a {
      display: block !important;
      line-height: 32px !important;
      font-size: 12px;
      font-weight: normal;
      color: $N300 !important;
      border-radius: 0;
      cursor: pointer;

      &.active,
      &:hover {
        background-color: $N10;
        color: $N500;
      }

      > .icon {
        float: left;
        margin: 8px 8px 8px 15px;
      }
      > .label {
      }
    }

    &:first-child {
      padding: 12px 15px 15px;
      font-size: 14px;
      line-height: 32px;
      font-weight: 500;
      color: $N500;
      @extend %has-bottom;
      margin-bottom: 4px;

      .userIcon {
        float: left;
        display: inline-block;
        margin-right: 8px;
        width: 32px;
        height: 32px;
        background-color: $N10;
        border-radius: 50%;
        text-align: center;

        :global {
          .icon {
            margin-top: 4px;
            svg {
              --primary-color: #{$N300};
              --secondary-color: #{$N45};
            }
          }
        }
      }

      .devIconOuter {
        display: inline-block;
        position: relative;
        top: -1px;
        margin-left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: $P75;

        &.dev {
          background-color: $G200;
        }

        &.isv {
          background-color: $B200;
        }

        .devIcon {
          position: absolute;
          left: 2px;
          top: 2px;
          line-height: 0px;
          svg {
            --primary-color: #{$N0};
            --secondary-color: #{$N0};
            --primary-opacity: 0.9;
            --secondary-opacity: 0.4;
          }
        }
      }
    }

    &.dev {
      @extend %has-bottom;
      padding-bottom: 4px;
      margin-bottom: 4px;
    }
  }

  .divider {
    border-top: 1px solid $N10;
    box-sizing: border-box;
    height: 37px;
    margin-top: 4px;
    padding-top: 4px;
  }

  .disabled {
    display: none;
    opacity: 0.5;
    a {
      cursor: not-allowed;
    }
  }
}
