@import "~scss/vars";

.container {
  width: $content-width;
  margin: 0 auto;
}

[class*='layout-left-']{
  float: left;
}
[class*='layout-right-']{
  float: right;
}

@for $i from 1 through $columns {
  @include calc-grid-column($i, 'layout-left');
  @include calc-grid-column($i, 'layout-right');
}
