@import "~scss/vars";

$page-width: 1280px;
$offset-top: $header-height + 30 *2 + 52;

.page {
  position: relative;
  top: $offset-top;
  width: $page-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  margin-bottom: 80px;
}
