@import "~scss/vars";

.colItems {
  font-size: $size-small;
  .icon {
    font-weight: 500;
    color: $N300;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .type {
    margin-left: 12px;
    margin-right: 8px;
  }
  .version {
    color: $N75;
  }
}
