@import '~scss/vars';

.search {
  width: 360px;
  margin-top: 32px;
  i {
    color: $N65;
  }
  &:hover {
    i {
      color: $P100;
    }
  }
  input {
    color: $N500;
    padding-left: 36px;
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: $N10;
    transition: all .3s ease-in-out;
    &::placeholder {
      font-size: 14px;
      color: $N45;
      line-height: 1.0;
      letter-spacing: 0;
    }
    &:focus {
      border: solid 1px $P75 !important;
    }

    &:hover {
      border: solid 1px $N45;
    }
  }
  :global {
    .icon {
      color: $N65;
      opacity: 0.5;
      &:hover, &:focus {
        opacity: 1;
      }
    }
  }
}