@import '~scss/vars';

@mixin load-frames() {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load {
  @include load-frames;
}
@keyframes load {
  @include load-frames;
}

.createApp {
  background: $background-color;
  min-width: 744px;
  text-align: center;
}

.createApp {
  .upload {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 552px;
    padding: 32px 24px;
    border-radius: 2px;
    background-color: $N0;
    border: dashed 1px $N30;
    text-align: left;
    cursor: pointer;

    .note {
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      color: $N100;
    }

    :global {
      .icon {
        display: block;
        margin: 0 auto 8px;
      }
    }
    &.uploadError {
      background-color: $background-color;
      border: solid 1px $background-color;
    }
  }

  .uploading {
    opacity: 0.3;
    cursor: not-allowed;

    .loading {
      position: absolute;
      top: 28px;
      left: 244px;
      z-index: 2;
      width: 64px;
      height: 64px;
      border-radius: 50%;

      &:after {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }

      border-top: 2px solid $P300;
      border-right: 2px solid $P300;
      border-bottom: 2px solid $P10;
      border-left: 2px solid $P10;
      animation: load 1s infinite linear;
      opacity: 3.33;
    }
  }

  .errorNote {
    font-size: 12px;
    line-height: 20px;
    color: $N75;
    text-align: center;

    :global {
      .icon {
        display: block;
        margin-bottom: 8px;

        svg {
          --primary-color: #{$R400};
          --secondary-color: #{$R30};
        }
      }
    }
  }
  .errorNoteLink {
    color: $P75;
  }
}

.config {
  width: 927px;
  margin: 20px auto;
  text-align: left;
  color: $N75;
  position: relative;
  span {
    font-size: 12px;
    line-height: 20px;
    padding: 6px 20px;
    display: inline-block;
  }
  .configName {
    width: 180px;
  }
  .configInfo {
  }
  .configMask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom, rgba($body-bg, 0.75), $body-bg);
  }
}

.cardContainer {
  display: flex;
  margin: 0 auto;
  width: 927.7px;
  flex-flow: row wrap;
  > div:nth-child(3n+2) {
    margin: 0 20.3px 20px;
  }
}

.configMsg {
  width: 947px;
  margin: 0 auto;
  text-align: left;
  .appName {
    width: 453px;
  }
  .appVersion {
    width: 215px;
  }
  input {
    display: block;
    margin: 8px 0;
  }
  .configTitle {
    display: block;
    ont-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: $N500;
  }
  .tips {
    display: block;
    font-size: 12px;
    line-height: 1.67;
    color: $N75;
  }
  > div + div {
    margin-top: 32px;
  }
  .appIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 96px;
    height: 96px;
    border-radius: 2px;
    background: $N0;
    margin: 8px auto;
  }

  .iconError {
    font-size: 12px;
    line-height: 20px;
    color: $R200;
  }

  .iconImage {
    max-width: 96px;
  }
  .iconText {
    font-size: 12px;
    color: $P75;
  }
}
.successMsg {
  margin: 132px auto 0;
  text-align: center;

  .checkedIcon {
    :global {
      svg {
        --primary-color: #{$G100};
        --secondary-color: #{$G30};
      }
    }
  }
  .textTip {
    font-size: 12px;
    color: $N75;
    margin: 12px auto 8px;
  }
  .textHeader {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: $N500;
  }
  .successBtns {
    margin: 20px auto;
  }
  .addBtn {
    color: $N300;
    margin-left: 12px;
  }
}
