@import '~scss/variables';

.clusterDetail {
  padding-top: $header-height;
  .leftInfo{
    float: left;
    width: 360px;
  }
  .rightInfo{
    margin-left: 384px;
  }
  .detailOuter{
    position: relative;
    margin-bottom: 24px;
    .operation{
      position: absolute;
      right: -24px;
      top: 24px;
      width: 120px;
      text-align: center;
      cursor: pointer;
      i{
        transform: rotate(90deg);
      }
    }
  }
}
.backTo{
  width: $content-width;
  margin: 24px auto 12px;
  line-height: 20px;
  font-size: 14px;
  a{
    color: $title-color;
  }
}
.wrapper {
  position: relative;
  width: $content-width;
  margin: 0 auto 24px;
}
.wrapper2 {
  position: relative;
  width: 774px;
  margin: 0 auto 24px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
}
.toolbar {
  padding: 24px;

  .select {
    width: 176px;
    vertical-align: top;

    div {
      box-shadow: none !important;
    }
  }
}
.search {
  display: inline-block;
  width: 337px;
  border-color: $border-lighter;
  box-shadow: none;

  :global {
    .fa {
      color: $placeholder-color;
    }
  }

  input::placeholder {
    font-weight: 400;
    color: $placeholder-color;
  }
}
.buttonRight{
  float: right;
}
.ml12{
  margin-left: 12px;
}
.activities{
  margin: 24px 0;
  width: 360px;
  padding: 24px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  .title{
    margin-bottom: 20px;
    line-height: 19px;
    font-size: 16px;
    font-weight: bold;
    color: $title-color;
    .more{
      float: right;
      font-size: 14px;
      font-weight: normal;
      cursor: pointer;
    }
  }
}
.modelContent{
  .name{
    display: inline-block;
    float: left;
    width: 260px;
    line-height: 16px;
    font-family: Roboto;
    font-weight: bold;
    text-align: right;
    color: $title-color;
  }
  .info{
    margin: 0 0 20px 280px;
    .value{
      margin-bottom: 3px;
      line-height: 16px;
      font-size: 14px;
      color: $text-color;
    }
    .explain{
      line-height: 17px;
      font-size: 12px;
      color: #626466;
    }
  }
}
