@import '~scss/variables';

.apps {
  padding-top: $header-height;
}

.container {
  width: $content-width;
  margin: 0 auto 25px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
}

.toolbar {
  padding: 24px;
}

.dropdown {
  border-color: $border-lighter !important;
}

.search {
  display: inline-block;
  width: 337px;
  margin-left: 16px;
  border-color: $border-lighter;
  box-shadow: none;

  :global {
    .fa {
      color: $placeholder-color;
    }
  }

  input::placeholder {
    font-weight: 400;
    color: $placeholder-color;    
  }
}

.list {
  padding: 0 24px;

  .listItem {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 7px 0;
    border-top: 1px solid $border-lighter;

    .icon {
      display: table-cell;
      width: 48px;
      height: 48px;
      border-radius: 3px;
    }

    .name {
      display: table-cell;
      width: 50%;
    }

    .handle {
      display: table-cell;
      padding: 0 16px;
    }
  }
}
