@import "./partial/color";
@import "./partial/text";

@mixin calc-section-size($size: 1) {
  .section-size-#{$size} {
    //width: (#{$grid-width} + $grid-gap) * $size - $grid-gap;
    width: calc(#{$grid-width} * #{$size} - #{$grid-gap});
  }
}

@mixin calc-section-offset($offset: 0){
  .section-offset-#{$offset} {
    margin-left: calc((#{$grid-width} + #{$grid-gap}) * #{$offset});
  }
}

@mixin bg-panel($bg-color: $N0, $radius: 3px) {
  box-sizing: border-box;
  border-radius: $radius;
  background-color: $bg-color;
  //min-height: 100px;
  height: auto;
  box-shadow: 0 1px 4px 0 rgba(48, 14, 86, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);

  //&:hover {
  //  box-shadow: 0 2px 8px 0 rgba(48, 14, 86, 0.08), 0 2px 10px 0 rgba(48, 14, 86, 0.04), 0 6px 20px 0 rgba(48, 14, 86, 0.16), 0 0 16px 0 rgba(48, 14, 86, 0.04);
  //}
}

@mixin moreText {
  font-family: Roboto;
  font-size: $size-small;
  color: $N200;
  &:hover {
    color: $P65;
  }
  &:active {
    color: $P100;
  }
  &:visited {
    color: $P45;
  }
}

@mixin idText {
  font-family: RobotoMono-Regular;
  line-height: 14px;
  font-size: 12px;
  color: $N75;
  letter-spacing: 0;
}

@mixin transitionStatus {
  border-width: 2px;
  border-style: solid;
  //border-color: transparent;
  //transform: scale(0.7);
  animation: transShape 1s infinite linear;
  animation-delay: 0.5s;
}

@keyframes transShape {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
