@charset "utf-8";

// basic variables
@import "vars";

%active-dropdown-btn {
  color: $third-text-color !important;
  border-color: $border-dark !important;
  background: #fff !important;
}

:global {
  body {
    font-family: $family-primary;
    font-size: $body-size;
    color: #576075;
    background-color: $body-background-color;
    -webkit-font-smoothing: antialiased;
  }

  li {
    list-style: none;
  }
  div, form, img, ul, ol, li, dl, dt, dd, option, td, th, video, h1, h2, h3, h4, h5, h6, p, blockquote, input, select, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside none;
  }

  a,a:hover{
    color: $P75;
  }
  a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
  }

  div {
    box-sizing: border-box;
  }

  .container {
     margin: 0 $layout-margin;
  }

  .main {
    position: relative;
    width: 100%;
    //min-width: $content-width;
    //min-height: $main-height;
    height: auto;
    margin: 0 auto;
  }
  .id {
    font-family: 'PT Mono', Monaco, Menlo, Consolas, "Courier New", monospace;
  }
  .id-link {
    font-family: 'PT Mono', Monaco, Menlo, Consolas, "Courier New", monospace;
    color: $id-color;
  }

  .dropdown-item {
    &.active, &:active {
      background: none;
    }
    a{
      color: rgba(48, 14, 86, 0.8) !important;
    }
  }

  .btn-secondary {
    &.active, &:active {
     @extend %active-dropdown-btn
    }
    &:hover {
      background: rgba(#fff, 0.5);
      border-color: rgba($border-dark, 0.5);
      color: rgba($third-text-color, 0.5);
    }
  }

  .show>.btn-secondary.dropdown-toggle {
    @extend %active-dropdown-btn;
  }

  // fix icon inner svg
  svg {
    width: 100%;
    height: 100%;
  }

  .icon-close {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) scale(0.6);
    cursor: pointer;
  }

  table {
    .row-selected {
      background: $tr-hover-bg;
    }
  }

  button {
    font-weight: 500;
  }
  .btn-disabled {
    cursor: not-allowed !important;
  }
  .btn-handle {
    margin-left: 0 !important;
  }

  /*.pi-table-thead > tr > th {
    line-height: 18px !important;
    padding: 10px 12px !important;
  }*/

  .actions {
    margin-left: 14px;
    .pi-popover-popper {
      margin-left: -90px !important;
    }
  }

  // polyfill
  .pull-right {
    float: right;
  }

  .clearfix {
    overflow: hidden;
    _zoom: 1;
  }

  // textarea style
  textarea {
    box-sizing: border-box;
    padding: 7px 10px;
    width: 400px;
    height: 88px;
    border-radius: 2px;
    background-color: $N0;
    border: 1px solid $N30;
    outline: none;
    //resize: none;

    &:hover{
      border-color: $N45;
    }

    &:focus{
      box-shadow: 0 4px 8px 0 rgba(52, 57, 69, 0.05), 0 2px 2px 0 rgba(73, 33, 173, 0.1);
      border-color: $P75;
    }
  }
}
