@charset "utf-8";
@import "variables";

:global {
  body {
    font-family: $family-primary;
    font-size: $body-size;
    color: $text-color;
    background-color: $body-background-color;
  }

  li {
    list-style: none;
  }
  div, form, img, ul, ol, li, dl, dt, dd, option, td, th, video, h1, h2, h3, h4, h5, h6, p, blockquote, input, select, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside none;
  }


  a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
  }

  div {
    box-sizing: border-box;
  }

  .main {
    width: 100%;
    min-width: $content-width;
    min-height: $main-height;
    margin: 0 auto;
  }
  .id {
    font-family: 'PT Mono', Monaco, Menlo, Consolas, "Courier New", monospace;
  }
  .id-link {
    font-family: 'PT Mono', Monaco, Menlo, Consolas, "Courier New", monospace;
    color: $id-color;
  }
}
