@charset "utf-8";
@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: $family-primary;
  font-size: $body-size;
  color: $text-color;
  background-color: $body-background-color;
}

a {
  text-decoration: none;
}

:global {
  .main {
    width: $content-width;
    min-height: calc(100vh - #{$footer-height});
    margin: 0 auto;
  }
  .home-header {
    background-image: none;
  }
}
