@charset "utf-8";
@import "variables";

%active-dropdown-btn {
  color: $third-text-color !important;
  border-color: $border-dark !important;
  background: #fff !important;
}

:global {
  body {
    font-family: $family-primary;
    font-size: $body-size;
    color: $text-color;
    background-color: $body-background-color;
  }

  a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
  }

  div {
    box-sizing: border-box;
  }

  .main {
    width: 100%;
    min-width: $content-width;
    min-height: $main-height;
    margin: 0 auto;
  }
  .id {
    font-family: 'PT Mono', Monaco, Menlo, Consolas, "Courier New", monospace;
  }
  .id-link {
    font-family: 'PT Mono', Monaco, Menlo, Consolas, "Courier New", monospace;
    color: $id-color;
  }


  .dropdown-item {
    &.active, &:active {
      background: none;
    }
    a{
      color: rgba(48, 14, 86, 0.8) !important;
    }
  }

  .btn-secondary {
    &.active, &:active {
     @extend %active-dropdown-btn
    }
    &:hover {
      background: rgba(#fff, 0.5);
      border-color: rgba($border-dark, 0.5);
      color: rgba($third-text-color, 0.5);
    }
  }

  .show>.btn-secondary.dropdown-toggle {
    @extend %active-dropdown-btn;
  }
}
