//
// Variables
// --------------------------------------------------

// init
$blue: #5cb8e6;
$red: #e67373;
$green: #52cc8f;
$yellow: #fad464;
$orange: #f19e59;
$purple: #6626af;
$purple-light: #926dbd;
$purple-dark: #5f3a8a;
$grey: #cccccc;
$grey-light: #d6cfde;

$id-color: #127db3;
$link-color: #6c2db5;
$title-color: #2f0d56;
$text-color: #333333;
$second-text-color: #666666;
$third-text-color: #7749ac;
$placeholder-color: #c1c1c1;

$background-color: #f6f6f8;
$background-color-lighter: #ffffff;
$th-background-color: #f1edf6;

$family-sans-serif: "Roboto", "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
$family-monospace: Inconsolata,Consolas,Monaco,monospace;
$body-size: 14px;

// Override
$primary: $purple;
$info: $blue;
$danger: $red;
$warning: $yellow;
$success: $green;

$family-primary: $family-sans-serif;
$body-background-color: $background-color;

$size-small: 12px;
$size-medium: 16px; // 中号字体
$size-large: 28px;

$border-lighter: #e7e7e7;
$border-light: #c9bed6;
$border: $border-lighter;

// Animation
$transition-speed: .3s;


$content-width: 1128px;
$nav-width: 210px;
$header-height: 48px;
$banner-height: 400px;
$footer-height: 70px;
$base-margin: 24px;

$main-height: calc(100vh - #{$footer-height});