@import '~scss/vars';

.layout {
  width: $large-layout-width;
  margin: 0 auto;

  .header {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid $N10;
  }

  strong {
    @include title-font();
    flex: 1;
  }

  span + button,
  button + button {
    margin-left: 12px;
  }

  .form {
    padding: 24px 24px 32px;
  }
}
