@import '~scss/vars';

.tableTypes {
  display: inline-block;
  margin-bottom: 16px;
  border: 1px solid $N30;
  border-radius: 2px;
  background-color: $N0;
  box-shadow: 0 1px 3px 0 rgba($N400, 0.07);

  > label {
    display: inline-block;
    margin: -1px 0;
    padding: 8px 12px;
    border-right: 1px solid $N30;
    font-size: 14px;
    line-height: 14px;
    color: $N300;
    cursor: pointer;

    &:first-child {
      margin-right: -1px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-child {
      margin-right: -1px;
      border-right: 0 none;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &.active {
      color: $P75;
      border: 1px solid $P75;
    }
  }
}
