@import '~scss/vars';

.pagination {
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}

:global {
  .pi-pagination {
    margin: 0 -6px 25px;
    padding: 0;
    list-style: none;

    &-item {
      float: left;
      width: 24px;
      height: 24px;      
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
      outline: 0;

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: $second-text-color;
        text-decoration: none;
        transition: none;
      }

      &:focus, &:hover {
        transition: all .3s;

        a {
          color: $primary;
        }
      }

      &-active {
        font-weight: 500;        
        background-color: $primary;

        a {
          color: #fff !important;
        }

        &:focus, &:hover {
          a {
            color: #fff;
          }
        }
      }
    }

    &-prev, &-next {
      float: left;
      height: 24px;
      line-height: 24px;
      padding: 0 6px;
      color: $second-text-color;
      cursor: pointer;
      user-select: none;
      outline: 0;

      &:hover, &:focus {
        color: $primary;
      }
    }

    &-jump-prev, &-jump-next {
      position: relative;
      float: left;
      width: 24px;
      height: 24px;
      color: #999;
      cursor: pointer;
      outline: 0;
  
      &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5px;
        content: "...";
        letter-spacing: 2px;
        text-align: center;
      }
  
      &:focus, &:hover {
        color: $primary;
      }
    }

    &-disabled {
      &, &:hover, &:focus {
        color: #999;
        cursor: not-allowed;

        .pi-pagination-item-link, a {
          color: #999;
          cursor: not-allowed;
        }
      }
    }
    
    &-total-text {
      float: right;
      padding: 0 6px;
      line-height: 24px;
    }

    &-options {
      float: left;
      margin-left: 15px;
      color: $second-text-color;

      &-quick-jumper {
        display: inline-block;
        vertical-align: top;
        height: 24px;
        line-height: 24px;
        
        input {
          margin: 0 8px;
          width: 50px;
        }
      }
    }
  }
}
