@import "~scss/vars";

.pagination {
  font-family: Roboto;
  height: 28px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: normal;
  color: $N75;
  margin-top: 18px;

  .total {
    float: left;
    .cancelBtn {
      display: inline-block;
      cursor: pointer;
      margin-left: 12px;
      color: $P75;
    }
  }
  .current {
    width: 29px;
    height: 21px;
    line-height: 1.5;
    letter-spacing: normal;
    color: $N500;
    margin: 0 8px;
  }
  .pageItems {
    float: right;

    .btn {
      display: inline-block;
      cursor: pointer;
      width: 40px;
      height: 32px;
      border-radius: 2px;
      background-color: $N0;
      border: solid 1px $N30;
      text-align: center;
      &:hover {
        box-shadow: 0 1px 3px 0 rgba(71, 78, 93, 0.07);
      }

      :global {
        .icon {
          position: relative;
          top: 4px;
        }
      }
    }
  }
}