@import '~scss/vars';

.pagination {
  font-family: Roboto;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: normal;
  color: $N300;
  margin-top: 12px;

  .total {
    float: left;
    .cancelBtn {
      display: inline-block;
      cursor: pointer;
      margin-left: 12px;
      color: $P75;
    }
  }
  .current {
    width: 29px;
    height: 21px;
    line-height: 1.5;
    letter-spacing: normal;
    color: $N500;
    margin: 0 8px;
  }
  .pageItems {
    float: right;

    .btn {
      display: inline-block;
      box-sizing: border-box;
      cursor: pointer;
      text-align: center;

      :global {
        .icon {
          position: relative;
          top: 4px;
        }
      }
    }
  }
}
