@import '~scss/vars';
.container {
  padding: 32px;
  background: $N0;
  box-shadow: 0 1px 4px 0 rgba($P400, 0.06), 0 4px 8px 0 rgba(35, 35, 36, 0.04);
  width: calc(25% - 20px);
  margin: 10px;
  color: $N75;
  cursor: pointer;
  .status {
    height: inherit;
  }
}

@media screen and (min-width: 2468px) {
  /* .cards { */
  /*   grid-template-columns: repeat(6, 1fr); */
  /* } */
  .container {
    width: calc(16.66% - 20px);
  }
}

.title {
  display: flex;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  color: $N500;
}

.icon {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.description {
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 3;

  margin: 20px 0;
  height: 60px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: $N75;
  overflow: hidden;
}

.deliverTypes {
  margin-bottom: 12px;
}
.deliverType {
  margin-right: 12px;
  color: $N300;
}
