@import '~scss/vars';

.card {
  position: relative;
  box-sizing: border-box;
  padding: $card-padding;
  margin-bottom: $card-bottom;

  :global {
    .operation {
      position: absolute;
      right: 32px;
      top: 24px;
      cursor: pointer;
      .pi-popover-popper {
        margin-left: -90px !important;
      }
    }

    .pi-table {
      &-tbody > tr {
        &:hover {
          box-shadow: inset 0 -1px 0 0 $N10;
          background-color: $card-tr-hover-bg;
        }
      }
    }
  }

  :global {
    // for fix no data table style of card background
    [class*='noData'] {
      box-shadow: none;
    }

    // for fix search input  style of card background
    [class*='toolbar'] [class*='search'] input {
      background-color: $N0;
      border-color: $N0;
    }
  }
}

.tableCard {
  padding: $card-padding;
}
