$card-padding: 24px;

.card {
  position: relative;
  box-sizing: border-box;
  padding: $card-padding;
  margin-bottom: 24px;

  :global {
    .operation{
      position: absolute;
      right: 32px;
      top: 24px;
      cursor: pointer;
      .pi-popover-popper {
        margin-left: -90px !important;
      }
    }
  }
}

.tableCard {
  padding: $card-padding;
}
