@import "~scss/variables";

.button {
  padding: 7px 14px;
  border: none;
  border-radius: 3px;
  font-size: $body-size;
  cursor: pointer;
  transition: all .3s ease-in-out;

  :global {
    .icon {
      vertical-align: baseline;
    }
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &.loading {
    position: relative;    
    color: transparent !important;
    pointer-events: none;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      color: $primary;
      transform: translate(-50%, -50%);
    }
  }
  
  &.primary {
    color: #fff;
    border: 1px solid $primary;
    background-color: $primary;

    &:hover, &:disabled {
      background-color: $purple-light;
      border-color: $purple-light;
    }

    &:active {
      background-color: $purple-dark;
      border-color: $purple-dark;
    }
  }

  &.default {
    color: $title-color;
    border: 1px solid $grey;
    background-color: #fff;

    &:hover, &:disabled {
      background-color: #fff;
      border-color: $third-text-color !important;
      color: $third-text-color;
    }

    &:active {
      background-color: #fff;
      border-color: $purple-dark;
    }
  }
}