@import "~scss/vars";

.button {
  height: 32px;
  padding: 7px 12px;
  line-height: 16px;
  font-size: $body-size;
  border-radius: 2px;
  border: 0 none;
  background-color: $N0;
  box-shadow: 0 1px 3px 0 rgba(71, 78, 93, 0.07);
  cursor: pointer;
  transition: all .3s ease-in-out;
  :global {
    .icon {
      float: left;
      margin-right: 4px;
      vertical-align: baseline;
    }
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }

  &.loading {
    position: relative;
    color: transparent !important;
    pointer-events: none;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      color: $primary;
      transform: translate(-50%, -50%);
    }
  }

  &.primary {
    color: $N0;
    background-color: $P75;
    box-shadow: 0 1px 3px 0 rgba(73, 33, 173, 0.16), 0 1px 2px 0 rgba(52, 57, 69, 0.03);

    &:hover {
      background-color: $P100 !important;
    }
    &:active {
      background-color: $P200 !important;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &.default {
    color: $N300;
    background-color: $N0;
    box-shadow: 0 1px 3px 0 rgba(71, 78, 93, 0.07);
    border: solid 1px $N30;
    &:hover {
      background-color: $N10 !important;
    }
    &:active {
      background-color: rgba(188, 194, 209, 0.3);
      border: solid 1px $N45;
    }
    &:disabled{
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &.delete {
    color: $N0;
    background-color: $R75;
    box-shadow: 0 1px 2px 0 rgba(178, 42, 38, 0.19);
    &:hover{
      background-color: $R65 !important;
    }
    &:active {
      background-color: $R200 !important;
    }
    &:disabled{
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
