.rc-tree {
  margin: 0;
  padding: 5px;
}
.rc-tree li {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  outline: 0;
}
.rc-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.rc-tree li .rc-tree-node-content-wrapper {
  display: inline-block;
  padding: 1px 3px 0 0;
  margin: 0;
  cursor: pointer;
  height: 17px;
  text-decoration: none;
  vertical-align: top;
}
.rc-tree li span.rc-tree-switcher,
.rc-tree li span.rc-tree-checkbox,
.rc-tree li span.rc-tree-iconEle {
  line-height: 16px;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.rc-tree li span.rc-tree-switcher.rc-tree-icon__customize,
.rc-tree li span.rc-tree-checkbox.rc-tree-icon__customize,
.rc-tree li span.rc-tree-iconEle.rc-tree-icon__customize {
  background-image: none;
}
.rc-tree li span.rc-tree-icon_loading {
  margin-right: 2px;
  vertical-align: top;
}
.rc-tree li span.rc-tree-switcher.rc-tree-switcher-noop {
  cursor: auto;
}
.rc-tree li span.rc-tree-switcher.rc-tree-switcher_open {
  background-position: -93px -56px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-switcher_close {
  background-position: -75px -56px;
}
.rc-tree li span.rc-tree-checkbox {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  background-position: 0 0;
}
.rc-tree:not(.rc-tree-show-line) .rc-tree-switcher-noop {
  background: none;
}
.rc-tree-child-tree {
  display: none;
}
.rc-tree-child-tree-open {
  display: block;
}
.rc-tree-treenode-disabled > span:not(.rc-tree-switcher),
.rc-tree-treenode-disabled > a,
.rc-tree-treenode-disabled > a span {
  color: #767676;
  cursor: not-allowed;
}
.rc-tree-node-selected {
  background-color: #ffe6b0;
  border: 1px #ffb951 solid;
  opacity: 0.8;
}
.rc-tree-icon__open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
}
.rc-tree-icon__close {
  margin-right: 2px;
  background-position: -110px 0;
  vertical-align: top;
}
.rc-tree-icon__docu {
  margin-right: 2px;
  background-position: -110px -32px;
  vertical-align: top;
}
.rc-tree-icon__customize {
  margin-right: 2px;
  vertical-align: top;
}
