@import '~scss/vars';

@keyframes treeCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.tree {
  :global {
    font-size: 12px;
    line-height: 2;
    color: $N300;
    li span.op-tree-switcher.op-tree-switcher_open,
    li span.op-tree-switcher.op-tree-switcher_close {
      background-image: none;
    }
    li > .op-tree-switcher-noop {
      position: absolute;
      z-index: 1;
      margin-left: -24px;
      margin-top: 2px;
    }

    .op-tree-switcher + .op-tree-node-content-wrapper {
      width: calc(100% - 22px);
    }
    .op-tree-switcher-noop + .op-tree-node-content-wrapper {
      width: 100%;
    }

    .op-tree-title {
      display: inline-flex;
      width: 100%;
    }
  }
}

.tree.autoHeight {
  :global {
    li .op-tree-node-content-wrapper {
      height: auto;
    }
  }
}

.tree.hoverTree li {
  padding: 6px;
  position: relative;
}
.hoverTree {
  :global {
    .op-tree-node-content-wrapper {
      &::before {
        content: '';
        position: absolute;
        left: 8px;
        right: 0;
        height: 32px;
        transition: all .3s;
        background: transparent;
      }
      &:hover {
        background: transparent;

        &:before {
          background: $N10;
        }
      }
    }
    .icon {
      position: absolute;
      z-index: 1;
    }
    .op-tree-node-selected {
      background: transparent;
      border: 0;
    }
    .op-tree-treenode-selected {
      > .op-tree-node-content-wrapper::before {
        background: $N10;
      }
      > .op-tree-node-content-wrapper .op-tree-title {
        font-weight: 500;
        color: $N500;
      }
    }
    .op-tree-title {
      position: relative;
      z-index: 1;
    }
  }
  & > li {
    & > :global(.op-tree-node-content-wrapper) {
      &::before {
        left: 0px;
      }
    }
  }
}

.tree {
  :global {
    li.op-tree-treenode-disabled span.op-tree-checkbox {
      background-image: none;
      margin: 4px 4px 0 2px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: auto;
      height: auto;
    }
    .op-tree-checkbox-checked {
      .checkbox-inner {
        background-color: $P75;
        border-color: $P75;
      }
    }
    span.checkbox-inner {
      width: 16px;
      height: 16px;
      border: 1px solid $N30;
      border-radius: 2px;
      background-image: none !important;
      background-color: $N0;
      transition: all .3s;
      &:hover {
        border: 1px solid $P75;
      }
      .qicon {
        --primary-color: #fff;
      }
    }
    *, *:before, *:after {
      box-sizing: border-box;
    }
  }
  &:global(.op-tree li span.op-tree-checkbox) {
    margin-right: 8px;
  }
}

.tree.showLine {
  padding: 0;

  li {
    padding: 0;
  }
  ul li {
    padding-left: 10px;
  }
  ul li:not(:last-child):before {
    position: absolute;
    top: 0;
    left: -5px;
    width: 0;
    height: calc(100% + 16px);
    border-left: 1px solid $N30;
    margin: 0;
    content: " ";
  }

  ul li:after {
    position: absolute;
    top: 16px;
    left: -5px;
    width: 10px;
    height: 1px;
    border-top: 1px solid $N30;
    content: " ";
    z-index: auto;
  }


  ul li:only-of-type:before {
    position: absolute;
    top: 0;
    left: -5px;
    width: 0;
    height: 17px;
    border-left: 1px solid $N30;
    margin: 0;
    content: " ";
  }
  :global {
    .op-tree-switcher {
      margin-top: 8px;
      margin-left: 5px;
    }
    .op-tree-title {
      display: inline-flex;
      align-items: center;
      width: 100%;
      height: 32px;
      padding: 0;
      border-radius: 2px;
      margin: 0;
      margin-left: 5px;
      vertical-align: top;
      text-decoration: none;
      transition: all .1s;
      cursor: pointer;
    }
  }
}

.hide {
  display: none;
}

:global {
  .op-tree {
    margin: 0;
    padding: 5px;
  }
  .op-tree li {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    outline: 0;

    .op-tree-node-content-wrapper {
      display: inline-block;
      padding: 1px 3px 0 0;
      margin: 0;
      cursor: pointer;
      height: 17px;
      text-decoration: none;
      vertical-align: top;
    }
    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }
    span.op-tree-switcher,
    span.op-tree-checkbox,
    span.op-tree-iconEle {
      line-height: 16px;
      margin-right: 2px;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      border: 0 none;
      cursor: pointer;
      outline: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
    span.op-tree-icon_loading {
      margin-right: 2px;
      vertical-align: top;
    }
    span.op-tree-switcher.op-tree-switcher-noop {
      cursor: auto;
    }
  }
  .op-tree-child-tree {
    display: none;
  }
  .op-tree-child-tree-open {
    display: block;
  }
  .op-tree-treenode-disabled > span:not(.op-tree-switcher),
  .op-tree-treenode-disabled > a,
  .op-tree-treenode-disabled > a span {
    cursor: not-allowed;
  }
}
