@import '~scss/vars';

@keyframes treeCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.tree {
  :global {
    font-size: 12px;
    line-height: 2;
    color: $N300;
    li span.rc-tree-switcher.rc-tree-switcher_open,
    li span.rc-tree-switcher.rc-tree-switcher_close {
      background-image: none;
    }
    li > .rc-tree-switcher-noop {
      position: absolute;
      z-index: 1;
      margin-left: -24px;
      margin-top: 2px;
    }

    .rc-tree-node-content-wrapper {
      width: 100%;
    }
    .rc-tree-title {
      display: inline-flex;
      width: 100%;
    }
  }
}

.autoHeight {
  :global {
    li .rc-tree-node-content-wrapper {
      height: auto;
    }
  }
}

.tree.hoverTree {
  :global {
    li {
      padding: 6px;
      position: relative;
    }
    .rc-tree-node-content-wrapper {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 24px;
        transition: all .3s;
        background: transparent;
      }
      &:hover {
        background: transparent;

        &:before {
          background: $N10;
        }
      }
    }
    .icon {
      position: absolute;
      z-index: 1;
    }
    .rc-tree-node-selected {
      background: transparent;
      border: 0;
    }
    .rc-tree-treenode-selected {
      > .rc-tree-node-content-wrapper::before {
        background: $N10;
      }
      > .rc-tree-node-content-wrapper .rc-tree-title {
        font-weight: 500;
        color: $N500;
      }
    }
    .rc-tree-title {
      position: relative;
      z-index: 1;
    }
  }
}

.tree {
  :global {
    li span.rc-tree-checkbox {
      background-image: none;
      margin: 4px 4px 0 2px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: auto;
      height: auto;
    }
    .rc-tree-checkbox-checked {
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        border: 1px solid $P75;
        content: '';
        animation: treeCheckboxEffect .36s ease-in-out;
        animation-fill-mode: both;
        visibility: hidden;
      }

      .checkbox-inner {
        background-color: $P75;
        border-color: $P75;
        &:after {
          transform: rotate(45deg) scale(1);
          position: absolute;
          display: table;
          border: 2px solid $N0;
          border-top: 0;
          border-left: 0;
          content: ' ';
          transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
          opacity: 1;
        }
      }
    }
    .checkbox-inner {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid $N30;
      border-radius: 2px;
      background-color: $N0;
      transition: all .3s;
      border-collapse: separate;
      &:hover {
        border: 1px solid $P75;
      }
      &:after {
        transform: rotate(45deg) scale(0);
        position: absolute;
        display: table;
        left: 4.57142857px;
        top: 1.14285714px;
        width: 5.71428571px;
        height: 9.14285714px;
        border: 2px solid $N0;
        border-top: 0;
        border-left: 0;
        content: ' ';
        transition: all .1s cubic-bezier(.71, -0.46, .88, .6),opacity .1s;
        opacity: 0;
      }
    }
    *, *:before, *:after {
      box-sizing: border-box;
    }
  }
}
