@import '~scss/vars';

.tree {
  :global {
    font-size: 12px;
    line-height: 2;
    color: $N300;
    li span.rc-tree-switcher.rc-tree-switcher_open,
    li span.rc-tree-switcher.rc-tree-switcher_close {
      background-image: none;
    }
    li > .rc-tree-switcher-noop {
      position: absolute;
      z-index: 1;
      margin-left: -24px;
      margin-top: 2px;
    }
  }
}

.autoHeight {
  :global {
    li .rc-tree-node-content-wrapper {
      height: auto;
    }
  }
}

.hoverTree {
  :global {
    li {
      padding: 6px;
      position: relative;
    }
    .rc-tree-node-content-wrapper {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 24px;
        transition: all .3s;
        background: transparent;
      }
      &:hover {
        background: transparent;

        &:before {
          background: $N10;
        }
      }
    }
    .icon {
      position: absolute;
      z-index: 1;
    }
    .rc-tree-node-selected {
      background: transparent;
      border: 0;
    }
    .rc-tree-treenode-selected {
      > .rc-tree-node-content-wrapper::before {
        background: $N10;
      }
      > .rc-tree-node-content-wrapper .rc-tree-title {
        font-weight: 500;
        color: $N500;
      }
    }
    .rc-tree-title {
      position: relative;
      z-index: 1;
    }
  }
}
