@import "~scss/variables";

.nav {
  padding: $base-margin 0;
  .subNav {
    padding: 0;
    margin-top: $base-margin;
    &:first-of-type {
      margin-top: 0;
    }
    p {
      line-height: 19px;
      font-size: $size-medium;
      font-weight: bold;
      color: $purple;
    }
    li {
      margin: 16px 0;
      line-height: 16px;
      list-style: none;
      a {
        color: $text-color;
        transition: color .2s ease-in;
        &:hover {
          color: $purple;
        }
      }
    } 
  }
}