@import "~scss/vars";

.nav {
  padding-top: 32px;
  .subNav {
    padding: 0;
    margin-top: $base-margin;
    //margin-right: -2px;
    &:first-of-type {
      margin-top: 0;
    }
    p {
      margin: 0 0 20px;
      line-height: 20px;
      font-size: $font16;
      font-weight: bold;
      color: $N500;
    }
    li {
      margin: 12px 0;
      height: 20px;
      line-height: 20px;
      list-style: none;
      //cursor: pointer;
      a {
        @include textCut;
        display:inline-block;
        width: 100%;
        color: $N500;
        transition: color .3s ease-in;
        &:hover{
          color: $P75;
        }
      }
      :global{
        .active{
          color: $P75;
          font-weight: bold;
        }
      }
    }
  }
}
