@import "~scss/vars";

.nav {
  padding: $base-margin 0;
  .subNav {
    padding: 0;
    margin-top: $base-margin;
    margin-right: -2px;
    &:first-of-type {
      margin-top: 0;
    }
    p {
      margin: 0;
      line-height: 19px;
      font-size: $size-medium;
      font-weight: bold;
      color: $title-color;
    }
    li {
      margin: 16px 0;
      line-height: 16px;
      list-style: none;
      //cursor: pointer;

      a {
        display:inline-block;
        width:100%;
        color: $second-text-color;
        transition: color .3s ease-in;
        &:hover {
          color: $third-text-color;
        }

        &.current {
          color: $third-text-color;
          border-right: 2px solid $border-dark;
        }
      }
    }
  }
}
