@import '~scss/vars';

.container {
  width: $content-width;
  margin: 0 auto;

  .pageTitle{
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: $title-color;
  }
}
.categories{
  text-align: center;
  padding: 12px 24px;
  .line{
    display: inline-block;
    width: 330px;
    height: 1px;
    border-bottom: 1px solid #e2d0f2;
  }
  .word{
    display: inline-block;
    position: relative;
    bottom: 11px;
    padding: 0 7px;
    line-height: 24px;
    font-size: 12px;
    color: $third-text-color;
    background: $background-color;
  }
}

.categoryContent {
  display: inline-block;
  position: relative;
  margin: 0 24px 24px 0;
  &:nth-child(3n+2) {
    margin-right: 0;
  }
  .handlePop {
    position: absolute;
    right: -60px;
    top: 24px;
    width: 180px;
    text-align: center;
  }
}

.inputItem{
  margin-bottom: 20px;
  .name{
    display: inline-block;
    margin-right:  20px;
    width: 100px;
    text-align: right;
  }
  .input{
    width: 400px;
  }
  .textarea{
    padding: 7px 10px;
    width: 400px;
    height: 100px;
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    outline: none;
    resize: none;
    &:focus{
      border: 1px solid $border-dark;
    }
  }
  .textareaName{
    position: relative;
    bottom: 80px;
  }
}



