@import "~scss/vars";

.detailTime {
  display: inline-block;
  font-size: 12px;
}

.listTime {
  font-size: 12px;
  color: $N100;
}

.lineTime {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  color: $N100;
}
