@import "../../scss/variables";

.banner {
  height: 352px;
  background-color: $grey;
  border-top: 1px solid $border;
  padding-top: $header-height;
  box-sizing: border-box;
  .banner-wrapper {
    width: $content-width;
    margin: 0 auto;
  }
}
