@import "~scss/variables";

.banner {
  height: 400px;
  background-color: $grey;
  border-top: 1px solid $border;
  .banner-wrapper {
    width: $content-width;
    margin: 0 auto;
  }
  .banner-title {
    margin-top: 130px;
    width: 470px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
    color: $title-color;
  }
}
