@import '~scss/variables';

.browse {
  display: table;
  height: $main-height;
  padding-top: $header-height;
  .nav {
    display: table-cell;
    width: $nav-width;
    padding-left: calc(50vw - #{$content-width}/2);
    border-right: 1px solid $border;
    background: #ffffff;
    box-sizing: content-box;
    vertical-align: top;
  }
  .apps {
    display: table-cell;
    vertical-align: top;
    padding-right: calc(50vw - #{$content-width}/2);
  }
}