@import "~scss/variables";


.cell {
  .name{
    display: inline-block;
    float: left;
    margin-right: 16px;
    width: 130px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: bold;
    color: $title-color;
    text-align: right;
    word-wrap: break-word;
    word-break: break-word;
  }
  .inputName{
    line-height: 32px;
  }
  .showWord{
    width: 570px;
  }
  .rightShow{
    margin-top: 7px;
    margin-left: 146px;
    width: 570px;
  }
  .note{
    font-size: 12px;
    color: #626466;
  }
  /*input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"]{
    -moz-appearance: textfield;
  }*/
  .input{
    width: 276px;
  }
  .inputSmall{
    width: 70px;
    margin-left: 10px;
  }
  .inputTitle{
    display: inline-block;
    margin: 8px 10px 3px 0;
    width: 183px;
    font-size: 12px;
  }
  .radio,.checkbox{
    margin-right: 20px;
    line-height: 1.2;
    float: left;
  }
  .add{
    display: inline-block;
    font-weight: bold;
  }
  .select{
    width: 276px;
    margin-right: 10px;
  }
  .textarea{
    padding: 7px 10px;
    width: 442px;
    height: 88px;
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    outline: none;
    resize: none;
    &:focus{
      border: 1px solid $border-dark;
    }
  }
  .submitBtnGroup{
    padding: 24px 0 8.5px 160px;
    margin-bottom: 0;
    border-top: 1px solid #dadcde;
    button{
      margin-right: 12px;
    }
  }
}
